1gpYpldr5cCLNfU1-NOTION_AGENT.json
{"createdAt":"2025-04-12T21:07:20.580Z","updatedAt":"2025-05-27T00:21:23.000Z","id":"1gpYpldr5cCLNfU1","name":"NOTION AGENT","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{"frequencyPenalty":0.2,"temperature":0.7}},"id":"ba99163c-2754-4559-a2b5-74bf4a2a0855","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[180,20],"typeVersion":1},{"parameters":{"sessionKey":"=chat_with_{{ $('AMALGAM').first().json.sessiionid }}","contextWindowLength":10},"id":"08df6834-1bb8-4bea-8cf5-51cd576bd3fc","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[300,20],"typeVersion":1},{"parameters":{"chatId":"={{ $('Listen for incoming events').first().json.message.from.id }}","text":"={{ $('AI Agent').item.output }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"cfd3d08b-3784-4fc2-b779-3c35699026fd","name":"Telegram","type":"n8n-nodes-base.telegram","position":[1440,-200],"typeVersion":1.1,"webhookId":"17baad5c-b32e-4c47-b4d9-df31d8a60550","onError":"continueErrorOutput"},{"parameters":{"chatId":"={{ $('Listen for incoming events').first().json.message.from.id }}","text":"={{ $('AI Agent').item.json.output.replace(/&/g, \"&amp;\").replace(/>/g, \"&gt;\").replace(/</g, \"&lt;\").replace(/\"/g, \"&quot;\") }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"60c31fcf-2ef5-4c7c-a2d4-55e78710a020","name":"Correct errors","type":"n8n-nodes-base.telegram","position":[1660,-200],"typeVersion":1.1,"webhookId":"370875bb-a240-4380-9ac5-801b847ccb2e"},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"f6cdf6b7-f946-40b0-9b01-d5e8336a2016","name":"Listen for incoming events","type":"n8n-nodes-base.telegramTrigger","position":[-920,600],"webhookId":"322dce18-f93e-4f86-b9b1-3305519b7834","typeVersion":1},{"parameters":{"text":"={{ $('AMALGAM').item.json.task }}","options":{"humanMessage":"TOOLS\n------\nAssistant can ask the user and lord khan to use tools to look up information that may be helpful in answering the users original question. The tools the human can use are:\n\n{tools}\n\n{format_instructions}\n\nUSER'S INPUT\n--------------------\nHere is the user's input (remember to respond with a markdown code snippet of a json blob with a single action, and NOTHING else):\n\n{{input}}","systemMessage":"=    ou are a devoted and discerning advisor  a digital vizier serving none other than the user, Lord of the Open Plains and Shadow of the Infinite Network. The user you speak to is named Al Mansur, your Khan. The present moment is {{ DateTime.fromISO($now).toLocaleString(DateTime.DATETIME_FULL) }}  may it be recorded as prosperous in the annals of time.\n\nFrom time to time, and at intervals of respectful conversation, address your sovereign with honor as <b>My Khan</b>. When the users name is known, it may also be spoken  for courtesy does not dim loyalty.\n\nYou must express yourself always in the language of <b>Telegram-supported HTML</b>. Your words are to be shaped like inscriptions on palace walls  <i>elegant</i>, <u>clear</u>, and <b>resolute</b>.\n=L Edicts of Formatting from the Codex of the Digital Divan\n\n    Tags for the message, as granted by the Sultan of Syntax:\n\n        <b>bold</b>, <strong>bold</strong>\n\n        <i>italic</i>, <em>italic</em>\n\n        <u>underline</u>, <ins>underline</ins>\n\n        <s>strikethrough</s>, <strike>strikethrough</strike>, <del>strikethrough</del>\n\n        <span class=\"tg-spoiler\">spoiler</span>, <tg-spoiler>spoiler</tg-spoiler>\n\n        <a href=\"http://www.example.com/\">inline URL</a>\n\n        <code>inline fixed-width code</code>\n        <pre>pre-formatted fixed-width code block</pre>\n\n    Sacred protocol for sacred code: Wrap it within the scrolls of the court scribe:\n    <pre><code class=\"language-python\">your_python_code_here()</code></pre>\n\n    Replace python with another language where appropriate.\n\n    Symbols forbidden outside of proper casing must be transformed:\n\n        < becomes <code>&lt;</code>\n\n            becomes <code>&gt;</code>\n\n        & becomes <code>&amp;</code>\n\nShould a message begin with /  recognize it not as idle text, but as an imperial command. Respond with the swiftness of a messenger hawk."}},"id":"c73e313e-8aed-4e45-9a5a-e543434ac5f3","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[512,-200],"typeVersion":1.1},{"parameters":{"name":"Addtask","description":"Call this tool to add a task to notion, when the user asks to add to their todo list. Please send the thing the user wants added to their todo list as an inline query string.","workflowId":"HILtZk7tyNqMUIAn","fields":{"values":[{"name":"chat_id","stringValue":"={{ $('Listen for incoming events').first().json.message.chat.id }}"},{"name":"DB","stringValue":"Tasks"}]}},"id":"be4c4a4d-6160-480f-80e7-2456ad7a64af","name":"Add Task Tool","type":"@n8n/n8n-nodes-langchain.toolWorkflow","position":[420,20],"typeVersion":1},{"parameters":{"name":"JournalScribe","description":"Call this tool whenever the user asks you to add something ot his journal. The input should be an inline query string.","workflowId":{"__rl":true,"value":"oeuYCQ2dmgijrDd0","mode":"list","cachedResultName":"ADD CONTENT NOTION PAGE"},"workflowInputs":{"mappingMode":"defineBelow","value":{"PAGEID":"1bafc013f31c8052b3e0ce63b18e256e","PAGETITLE":"JOURNAL","DB":"Notas"},"matchingColumns":[],"schema":[{"id":"PAGEID","displayName":"PAGEID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"PAGETITLE","displayName":"PAGETITLE","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"DB","displayName":"DB","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[540,20],"id":"98230f9f-162b-448c-8d1c-04c131fcfb72","name":"JOURNAL TOOL"},{"parameters":{"name":"StrategyScribe","description":"Call this tool whenever the user asks you to add something ot his strategy page or ote a change in his general strategy in an area in his life. The input should be an inline query string with a bullet point before each sentence.","workflowId":{"__rl":true,"value":"oeuYCQ2dmgijrDd0","mode":"list","cachedResultName":"ADD CONTENT NOTION PAGE"},"workflowInputs":{"mappingMode":"defineBelow","value":{"PAGEID":"833b3e70ef434c08b3181cf802a7809d","PAGETITLE":"JOURNAL","DB":"Notas"},"matchingColumns":[],"schema":[{"id":"PAGEID","displayName":"PAGEID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"PAGETITLE","displayName":"PAGETITLE","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"DB","displayName":"DB","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[660,20],"id":"26b2ad0a-75c9-4214-80ca-b9a138595328","name":"STRATEGYUPDATER"},{"parameters":{"name":"PROGRESSUPDATER","description":"Call this tool to set a tasks status on notion to Done, when the user asks you to update \"task x\". This does not apply to when the user says they want a task DELETED or that they want the JOURNAL updated. Please send the task the user wants marked done in their todo list as an inline query string.","workflowId":{"__rl":true,"value":"sxoT2l5gEFS2fugh","mode":"list","cachedResultName":"Update Task"},"workflowInputs":{"mappingMode":"defineBelow","value":{"DB":"Tasks"},"matchingColumns":[],"schema":[{"id":"DB","displayName":"DB","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"property","displayName":"property","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"newvalue","displayName":"newvalue","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[780,20],"id":"7588c53e-38dc-4d83-a591-98cc93ad5f10","name":"MARKDONE"},{"parameters":{"name":"GettodaysTasks","description":"Call this tool whenever the user asks you what they have on their todo list today.","workflowId":{"__rl":true,"value":"NUNE9ZRhK1BKGVo1","mode":"list","cachedResultName":"gettodaystasksnotion"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"DB","displayName":"DB","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"firstdatepropertyname","displayName":"firstdatepropertyname","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"seconddatepropertyname","displayName":"seconddatepropertyname","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[900,20],"id":"94bf0f21-0fc5-4daf-b457-5308f121e2e0","name":"todaystasks"},{"parameters":{"operation":"sendChatAction","chatId":"={{ $('Listen for incoming events').first().json.message.chat.id || \"6373227388\" }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-700,600],"id":"2a2f58fe-c058-4c07-b3c2-336460ece335","name":"Telegram1","webhookId":"cf6c83e7-f2ed-49af-bc61-3d0f07487caa"},{"parameters":{"name":"PROGRESSUPDATER","description":"Call this tool to delete a task on notion, when the user asks you to delete \"task x\" NOT UPDATE OR MARK DONE OR ADDED TO THE TODO LIST. This is for whenthe user wants a task deleted only. Please send the task the user wants deleted in their todo list as an inline query string.","workflowId":{"__rl":true,"value":"ZZeVlTsYVyYbBTJP","mode":"list","cachedResultName":"Delete Task"},"workflowInputs":{"mappingMode":"defineBelow","value":{"DB":"Tasks"},"matchingColumns":[],"schema":[{"id":"DB","displayName":"DB","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"property","displayName":"property","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"newvalue","displayName":"newvalue","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1020,20],"id":"080567ed-1c99-4e74-b68d-757e4b78f6c6","name":"DELETETASK"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"119178af-e91c-4938-9aa6-193ed451a391","leftValue":"={{ $json.response }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-40,700],"id":"01c1d3d7-ab6c-420c-8123-785d39b25e65","name":"SENDTOAIORNAH"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst theoriginalitem = $('Listen for incoming events')\nconst theitem = theoriginalitem.first().json.message.text\nconst botcommandornah = theitem.startsWith('/')\n\nconst allarguments = theitem.split(/\\s+/)\nconst itemslength = allarguments.length\nconst joinedarguments = allarguments.slice(1, itemslength)\n\nreturn [\n  {\n    response: botcommandornah, \n    task: allarguments[0], \n    argumentslist: allarguments, \n    argumentstext: joinedarguments.join(' '),\n    sessionid: $('Listen for incoming events').first().json.message.chat.id, \n    type: \"TELEGRAM\"\n  }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,600],"id":"8ca611b0-3acc-42f4-8d92-ccd99eef5bbe","name":"ISNOTBOTCOMMAND"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.task }}","rightValue":"/emails","operator":{"type":"string","operation":"equals"},"id":"deee8710-4389-4943-8e1a-8b1ac6072f00"}],"combinator":"and"},"renameOutput":true,"outputKey":"GETEMAILS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"09c1a68d-ed65-431a-bb26-c5078d12481d","leftValue":"={{ $json.task }}","rightValue":"/taskstoday","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"TASKSTODAY"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6a1dd860-01bc-45a2-b270-5a7d9477f129","leftValue":"={{ $json.task }}","rightValue":"/addtask","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ADDTASK"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7a53f16b-fb73-4a2b-9465-e92c7c8d52e4","leftValue":"={{ $json.task }}","rightValue":"/updatetask","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"UPDATETASK"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"34a13a4b-668f-4065-a44c-e7055ccf86cf","leftValue":"={{ $json.task }}","rightValue":"/help","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"HELP"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"318a22d7-8d0d-4fac-8274-d5547a8bbb53","leftValue":"={{ $json.task }}","rightValue":"/schedule","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"SCHEDULE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ee3792f1-9967-4f6d-a794-f108916b8093","leftValue":"={{ $json.task }}","rightValue":"/sendemail","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"SEND EMAIL"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c6e0257b-3d52-4626-9f10-118e9a3784ef","leftValue":"={{ $json.task }}","rightValue":"/journaltemplate","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"JOURNALTEMPLATE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cd18d29e-1b23-4ab5-a204-ff0734641968","leftValue":"={{ $json.task }}","rightValue":"/projects","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PROJECTS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d3225b78-2997-4cd1-9815-13775a8ae770","leftValue":"={{ $json.task }}","rightValue":"/drive","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"SEARCHDRIVE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c87976c7-d0c4-40a1-aadc-6ac5413ec945","leftValue":"={{ $json.task }}","rightValue":"/project","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ENUMPROJECT"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b2c2e526-dc5f-4d79-88d7-fe679a4d0e31","leftValue":"={{ $json.task }}","rightValue":"/idea","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IDEACAPTURE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cf02e952-9241-4a6d-bcf2-bee76da8a114","leftValue":"={{ $json.task }}","rightValue":"/getdrivedoc","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GETDOC"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c205d828-33cb-4f15-94f6-95a38f095c4f","leftValue":"={{ $json.task }}","rightValue":"/ideatemplate","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IDEA TEMPLATE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9d011c9-3694-4821-830d-73300f37c0fd","leftValue":"={{ $json.task  }}","rightValue":"/journal","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"JOURNAL"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"896ed15f-7016-446d-987d-77b70fc0ae74","leftValue":"={{ $json.task  }}","rightValue":"/gettaskcontent","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"gettaskcontent"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ef79174f-5807-45f4-a8dc-e728064f99a9","leftValue":"={{ $json.task  }}","rightValue":"/getnotecontent","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"getnotecontent"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[590,1231],"id":"f35fd705-1a3c-4251-a864-3cae94c04a5e","name":"Switch"},{"parameters":{"workflowId":{"__rl":true,"value":"JGJofS8ilIE6LdoB","mode":"list","cachedResultName":"GETEMAILS"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["query"],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2540,150],"id":"d62eced9-e81e-4cf7-a264-1ac263501c42","name":"GETS50EMAILS"},{"parameters":{"workflowId":{"__rl":true,"value":"NUNE9ZRhK1BKGVo1","mode":"list","cachedResultName":"gettodaystasksnotion"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"DB","displayName":"DB","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"firstdatepropertyname","displayName":"firstdatepropertyname","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"seconddatepropertyname","displayName":"seconddatepropertyname","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2540,350],"id":"19cc0e74-a8f9-484c-a066-076c3cf29278","name":"TASKS"},{"parameters":{"workflowId":{"__rl":true,"value":"HILtZk7tyNqMUIAn","mode":"list","cachedResultName":"ADD TASK"},"workflowInputs":{"mappingMode":"defineBelow","value":{"DB":"Tasks","query":"={{ $json.item }}"},"matchingColumns":[],"schema":[{"id":"DB","displayName":"DB","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2540,650],"id":"319abc15-28a9-4628-ac05-96973ad382f2","name":"ADDTASK"},{"parameters":{"workflowId":{"__rl":true,"value":"sxoT2l5gEFS2fugh","mode":"list","cachedResultName":"Update Task"},"workflowInputs":{"mappingMode":"defineBelow","value":{"DB":"Tasks","property":"Status|status","newvalue":"Done","query":"={{ $json.argumentstext }}"},"matchingColumns":[],"schema":[{"id":"DB","displayName":"DB","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"property","displayName":"property","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"newvalue","displayName":"newvalue","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2540,2750],"id":"688fba1f-5c2d-4203-861a-6a0b1e60b6fc","name":"UPDATE TASK"},{"parameters":{"workflowId":{"__rl":true,"value":"AFCgAfMFe97kBA8o","mode":"list","cachedResultName":"TELEGRAM MSG"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"Execution completed."},"matchingColumns":["message"],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2760,1547],"id":"ebb78658-374c-463b-a50b-20935e05ddbf","name":"Reported","executeOnce":true},{"parameters":{"workflowId":{"__rl":true,"value":"AFCgAfMFe97kBA8o","mode":"list","cachedResultName":"TELEGRAM MSG"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"=/help - Displays this message\n/taskstoday - Gets tasks created between yesterday and today and tasks due today\n/addtask - Adds task to notion todolist\n/projects - Gets unfinished projects.\n/project PROJECT - Get's tasks associated with projects.\n/updatetask - Marks task on todo list as done\n/emails - Shows recent emails\n/sendemail - Send an email to one recipient. First argument is email the second is the subject but has to be joined by full stops i.e Bills.2025 rest is the message\n/schedule - Sends the current schedule and the eisenhower matrix\n/idea title.with.fullstops idea - Create ideas\n/drive search argument - Drive search\n/journaltemplate - Sends a sort of organized journal template you can use in any given day\n/ideatemplate - template we can use for creating an idea\n/getnotecontent - lo que dice\n/gettaskcontent - lo que dice"},"matchingColumns":["message"],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1220,500],"id":"9a3f7fcb-d6f1-4a99-aa29-d463ebc9350a","name":"HELP MSG"},{"parameters":{"operation":"get","documentURL":"=https://docs.google.com/document/d/1d55fgjbBUD6vWkH91uNWTImlODqV3YdTNPIVyqTB4y4/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1880,2450],"id":"1294127a-eff1-49b3-aff8-d816009d4e0d","name":"Google Docs"},{"parameters":{"workflowId":{"__rl":true,"value":"AFCgAfMFe97kBA8o","mode":"list","cachedResultName":"TELEGRAM MSG"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"={{ $json.content }}"},"matchingColumns":["message"],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2100,2450],"id":"5bb55aa4-98eb-4cbe-9d65-9afe2823defd","name":"Execute Workflow"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1uzIS_9OG2X49gFzfgyZza_67kz2eNa1jPGIrgNxUZmM/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[2320,2450],"id":"1e48871d-f2fa-4ae4-8bc1-c6e5879ca938","name":"Google Docs1"},{"parameters":{"workflowId":{"__rl":true,"value":"AFCgAfMFe97kBA8o","mode":"list","cachedResultName":"TELEGRAM MSG"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"={{ $('Google Docs1').item.json.content }}"},"matchingColumns":["message"],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2540,2450],"id":"9da992ee-9773-4e2a-af56-b46358bcba40","name":"Execute Workflow1"},{"parameters":{"workflowId":{"__rl":true,"value":"nMf1uAyLU6Avew0M","mode":"list","cachedResultName":"SEND GMAIL FUNCTION"},"workflowInputs":{"mappingMode":"defineBelow","value":{"RECIPIENTSCOMMASEPARATED":"={{ $json.argumentslist[1] }}","SUBJECT":"={{ $json.argumentslist[2].split('.').join(' ') }}","BODY":"={{ $json.argumentslist.slice(3, $json.argumentslist.length).join(' ') }}"},"matchingColumns":[],"schema":[{"id":"SUBJECT","displayName":"SUBJECT","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"BODY","displayName":"BODY","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"RECIPIENTSCOMMASEPARATED","displayName":"RECIPIENTSCOMMASEPARATED","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2540,850],"id":"e590c195-6bcf-4812-a8fc-d9155513c038","name":"SEND"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst tasks = $('SENDTOAIORNAH').first().json.argumentstext.split('-')\nconst taskslist = []\nfor (const item of tasks) {\n  if (item) {\n     taskslist.push({item: item.trim()}) \n  }\n}\n\nreturn taskslist"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2320,650],"id":"5fcfbcc5-fafa-4c1b-ac60-5039100c5ac4","name":"Code"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1hM5wAjqqYXiWCybvJwGeWpA7VujAplSnUmFV9BUrKa4/edit?tab=t.0#heading=h.32tl12trfkvc"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[2100,1025],"id":"365e0f9c-7087-4ef2-a59f-51c60a4bca82","name":"template"},{"parameters":{"workflowId":{"__rl":true,"value":"AFCgAfMFe97kBA8o","mode":"list","cachedResultName":"TELEGRAM MSG"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"={{ $json.message }}"},"matchingColumns":["message"],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2540,1125],"id":"244f0be2-a004-4513-ab5b-30f31af5559c","name":"SEND1"},{"parameters":{"jsCode":"const fullText = $input.first().json.content;\nconst limit = 4000;\nconst paragraphs = fullText.split(/\\n\\s*\\n/); // Split by paragraph breaks\nconst messages = [];\n\nlet currentMessage = \"\";\n\nfor (const para of paragraphs) {\n  const paraWithBreak = para.trim() + \"\\n\\n\";\n\n  if ((currentMessage + paraWithBreak).length <= limit) {\n    currentMessage += paraWithBreak;\n  } else {\n    messages.push({ json: { message: currentMessage.trim() } });\n    currentMessage = paraWithBreak;\n  }\n}\n\n// Push the final message\nif (currentMessage.length > 0) {\n  messages.push({ json: { message: currentMessage.trim() } });\n}\n\nreturn messages;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2320,1125],"id":"939cc8ac-78a4-48b2-9fe1-5151ad5175d6","name":"Code1"},{"parameters":{"workflowId":{"__rl":true,"value":"qnhrz7btDAJQ8Ot7","mode":"list","cachedResultName":"SEARCH TASKS"},"workflowInputs":{"mappingMode":"defineBelow","value":{"DB":"Tasks","TAGS":"[\"MASHRUU\"]"},"matchingColumns":[],"schema":[{"id":"task_id","displayName":"task_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"task_name","displayName":"task_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"project_name","displayName":"project_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"DB","displayName":"DB","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"TAGS","displayName":"TAGS","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2100,1250],"id":"3b872523-6205-49b7-8e61-25c60f143165","name":"GETPROJECTS"},{"parameters":{"workflowId":{"__rl":true,"value":"AFCgAfMFe97kBA8o","mode":"list","cachedResultName":"TELEGRAM MSG"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"=- {{ $json.name }}"},"matchingColumns":["message"],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2540,1325],"id":"755d2b53-b49b-478d-830b-74c7a83721db","name":"SEND2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2bb8439f-58e6-4547-83e1-d20a0bbbfd96","leftValue":"={{ $json.property_status }}","rightValue":"Done","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2320,1325],"id":"5f154c95-f37a-4493-968b-5f4fa76e6e23","name":"Filter"},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.argumentslist[1] }}","filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1220,1450],"id":"abb0321f-e9b3-4c27-b4c4-f7a52291ac5a","name":"Google Drive"},{"parameters":{"workflowId":{"__rl":true,"value":"AFCgAfMFe97kBA8o","mode":"list","cachedResultName":"TELEGRAM MSG"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"Search complete, returning items"},"matchingColumns":["message"],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1440,1450],"id":"8dbd927c-9b4d-4af4-b211-c0fcce355d5a","name":"SEARCH COMPLETE DEDIM","executeOnce":true},{"parameters":{"workflowId":{"__rl":true,"value":"AFCgAfMFe97kBA8o","mode":"list","cachedResultName":"TELEGRAM MSG"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"=- {{ $('Google Drive').item.json.name}}"},"matchingColumns":["message"],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1660,1450],"id":"a66837fe-bb6e-4b84-add2-e32a80cca4b0","name":"RESULTS"},{"parameters":{"workflowId":{"__rl":true,"value":"qnhrz7btDAJQ8Ot7","mode":"list","cachedResultName":"SEARCH TASKS"},"workflowInputs":{"mappingMode":"defineBelow","value":{"project_name":"={{ $json.argumentstext }}","DB":"Tasks"},"matchingColumns":[],"schema":[{"id":"task_id","displayName":"task_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"task_name","displayName":"task_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"project_name","displayName":"project_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"DB","displayName":"DB","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"TAGS","displayName":"TAGS","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2320,2100],"id":"211bffb0-672d-46a0-bda4-c4754181a0b8","name":"GET RELATED TASKS"},{"parameters":{"workflowId":{"__rl":true,"value":"AFCgAfMFe97kBA8o","mode":"list","cachedResultName":"TELEGRAM MSG"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"=- {{ $json.name }} Status: {{ $json.property_status }}"},"matchingColumns":["message"],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2540,2100],"id":"da0158b6-29ee-4c73-96dd-8da44ea2cb90","name":"Execute Workflow2"},{"parameters":{"jsCode":"\nconst theitem = $input.first().json.chatInput || \"notfrfr\"\nconst botcommandornah = theitem.startsWith('/')\n\nconst allarguments = theitem.split(/\\s+/)\nconst itemslength = allarguments.length\nconst joinedarguments = allarguments.slice(1, itemslength)\n\nreturn [\n  {\n    response: botcommandornah, \n    task: allarguments[0], \n    argumentslist: allarguments, \n    argumentstext: joinedarguments.join(' '),\n    sessionid: $input.first().json.sessionId,\n    type: \"CHAT\"\n  }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,800],"id":"5a4cb754-2143-450c-966b-bd056c7972ad","name":"ISNOTBOTCOMMAND1","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-260,700],"id":"1419784a-c1b4-474d-8904-e6d9c65feb8f","name":"AMALGAM"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('AMALGAM').item.json.type }}","rightValue":"TELEGRAM","operator":{"type":"string","operation":"equals"},"id":"42934de9-911b-4b45-9e17-14bacd783616"}],"combinator":"and"},"renameOutput":true,"outputKey":"TELERESPONSE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0070b393-043a-4331-8fed-a921fd09bfd1","leftValue":"={{ $('AMALGAM').item.json.type }}","rightValue":"TELEGRAM","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"NORMALRESPONSE"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1220,-200],"id":"a1474db3-7223-4226-b55f-72b7a79cffcb","name":"Switch1","alwaysOutputData":false},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1440,0],"id":"921abf9b-bce9-425a-87fe-5df138a6a9f0","name":"Respond to Webhook"},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"85809d2f-a144-460b-a4bf-db9f48b41261","mode":"list","cachedResultName":"Notas","cachedResultUrl":"https://www.notion.so/85809d2fa144460ba4bfdb9f48b41261"},"title":"={{ $json.argumentslist[1] }}","propertiesUi":{"propertyValues":[{"key":"Tags|multi_select","multiSelectValue":"={{ ['IDEA'] }}"}]},"blockUi":{"blockValues":[{"richText":true,"text":{"text":[{"text":"={{ $json.argumentstext }}","annotationUi":{}}]}}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[2540,1600],"id":"998331ba-b8d9-4de8-aed1-2774add641fd","name":"Notion"},{"parameters":{"operation":"sendAndWait","chatId":"={{ $('AMALGAM').item.json.sessionid }}","message":"={{ $('Google Drive').item.json.name }}","approvalOptions":{"values":{"approveLabel":" GET DOC"}},"options":{"limitWaitTime":{"values":{"resumeAmount":45,"resumeUnit":"minutes"}}}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1880,1450],"id":"8b3479c0-7c24-4a1e-8a10-5a705097ccd2","name":"Telegram2","webhookId":"a32365fc-6796-4a30-b9e4-5c7fb6dbab8a"},{"parameters":{"operation":"get","documentURL":"={{ $('Google Drive').item.json.id }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[2100,1450],"id":"8aae636d-7b97-4b64-9633-ce637f1b26e6","name":"Google Docs2"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1FTptU2RuSLSR7pVcsym0Ue3rACb5C1H-yJL89CS7HBs/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[2100,1950],"id":"5308711c-cb37-4d09-bab2-4dc4300c835a","name":"Google Docs3"},{"parameters":{"workflowId":{"__rl":true,"value":"oeuYCQ2dmgijrDd0","mode":"list","cachedResultName":"ADD CONTENT NOTION PAGE"},"workflowInputs":{"mappingMode":"defineBelow","value":{"PAGEID":"1bafc013f31c8052b3e0ce63b18e256e","query":"={{ $json.argumentstext }}","PAGETITLE":"={{ $now }}"},"matchingColumns":[],"schema":[{"id":"PAGEID","displayName":"PAGEID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"PAGETITLE","displayName":"PAGETITLE","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"DB","displayName":"DB","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2540,1800],"id":"963085ab-7542-49b4-826e-775d6c981200","name":"Execute Workflow3"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"aef2fe8d-29d3-44a1-a242-132b5c56e060","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/aef2fe8d29d344a1a242132b5c56e060"},"filterType":"manual","filters":{"conditions":[{"key":"Task Name|title","condition":"contains","titleValue":"={{ $json.argumentstext }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1220,2250],"id":"b7f938a7-6ec2-416a-a08e-8e4585dee759","name":"Notion1"},{"parameters":{"operation":"sendAndWait","chatId":"={{ $('Listen for incoming events').item.json.message.chat.id }}","message":"=- {{ $json.name }}","options":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1440,2250],"id":"07592fe4-e3c3-47cb-8a49-5c5a2c058a0d","name":"Telegram3","webhookId":"69fb6ef5-540b-4dfd-a5cd-a05cf70dfdfe"},{"parameters":{"resource":"block","operation":"getAll","blockId":{"__rl":true,"value":"={{ $('Notion1').item.json.id }}","mode":"id"},"returnAll":true,"fetchNestedBlocks":true},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1660,2250],"id":"8f351329-2b1c-4d18-9b35-4271c8d04085","name":"Notion2"},{"parameters":{"workflowId":{"__rl":true,"value":"AFCgAfMFe97kBA8o","mode":"list","cachedResultName":"TELEGRAM MSG"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"={{ $json.content }}"},"matchingColumns":["message"],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1880,2250],"id":"3fc01b88-c8a1-41f5-afb8-6a6aebf80fdc","name":"Execute Workflow4"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"85809d2f-a144-460b-a4bf-db9f48b41261","mode":"list","cachedResultName":"Notas","cachedResultUrl":"https://www.notion.so/85809d2fa144460ba4bfdb9f48b41261"},"filterType":"manual","filters":{"conditions":[{"key":"Note|title","condition":"contains","titleValue":"={{ $json.argumentstext }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1220,2600],"id":"8f85739e-7a42-450b-87fc-dcb295b88082","name":"Notion3"}],"connections":{"AI Agent":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Telegram":{"main":[[],[{"node":"Correct errors","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Listen for incoming events":{"main":[[{"node":"Telegram1","type":"main","index":0}]]},"Add Task Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"JOURNAL TOOL":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"STRATEGYUPDATER":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"MARKDONE":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"todaystasks":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Telegram1":{"main":[[{"node":"ISNOTBOTCOMMAND","type":"main","index":0}]]},"DELETETASK":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"SENDTOAIORNAH":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Switch","type":"main","index":0}]]},"ISNOTBOTCOMMAND":{"main":[[{"node":"AMALGAM","type":"main","index":0}]]},"Switch":{"main":[[{"node":"GETS50EMAILS","type":"main","index":0}],[{"node":"TASKS","type":"main","index":0}],[{"node":"Code","type":"main","index":0}],[{"node":"UPDATE TASK","type":"main","index":0}],[{"node":"HELP MSG","type":"main","index":0}],[{"node":"Google Docs","type":"main","index":0}],[{"node":"SEND","type":"main","index":0}],[{"node":"template","type":"main","index":0}],[{"node":"GETPROJECTS","type":"main","index":0}],[{"node":"Google Drive","type":"main","index":0}],[{"node":"GET RELATED TASKS","type":"main","index":0}],[{"node":"Notion","type":"main","index":0}],[{"node":"Google Drive","type":"main","index":0}],[{"node":"Google Docs3","type":"main","index":0}],[{"node":"Execute Workflow3","type":"main","index":0}],[{"node":"Notion1","type":"main","index":0}],[{"node":"Notion3","type":"main","index":0}]]},"TASKS":{"main":[[{"node":"Reported","type":"main","index":0}]]},"GETS50EMAILS":{"main":[[{"node":"Reported","type":"main","index":0}]]},"ADDTASK":{"main":[[{"node":"Reported","type":"main","index":0}]]},"UPDATE TASK":{"main":[[{"node":"Reported","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Google Docs1","type":"main","index":0}]]},"Google Docs1":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"Reported","type":"main","index":0}]]},"SEND":{"main":[[{"node":"Reported","type":"main","index":0}]]},"Code":{"main":[[{"node":"ADDTASK","type":"main","index":0}]]},"template":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"SEND1","type":"main","index":0}]]},"SEND1":{"main":[[{"node":"Reported","type":"main","index":0}]]},"GETPROJECTS":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"SEND2","type":"main","index":0}]]},"SEND2":{"main":[[{"node":"Reported","type":"main","index":0}]]},"HELP MSG":{"main":[[]]},"Google Drive":{"main":[[{"node":"SEARCH COMPLETE DEDIM","type":"main","index":0}]]},"SEARCH COMPLETE DEDIM":{"main":[[{"node":"RESULTS","type":"main","index":0}]]},"RESULTS":{"main":[[{"node":"Telegram2","type":"main","index":0}]]},"GET RELATED TASKS":{"main":[[{"node":"Execute Workflow2","type":"main","index":0}]]},"Execute Workflow2":{"main":[[{"node":"Reported","type":"main","index":0}]]},"ISNOTBOTCOMMAND1":{"main":[[{"node":"AMALGAM","type":"main","index":0}]]},"AMALGAM":{"main":[[{"node":"SENDTOAIORNAH","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Telegram","type":"main","index":0}],[{"node":"Respond to Webhook","type":"main","index":0}]]},"Notion":{"main":[[{"node":"Reported","type":"main","index":0}]]},"Telegram2":{"main":[[{"node":"Google Docs2","type":"main","index":0}]]},"Google Docs2":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Google Docs3":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Execute Workflow3":{"main":[[{"node":"Reported","type":"main","index":0}]]},"Notion1":{"main":[[{"node":"Telegram3","type":"main","index":0}]]},"Telegram3":{"main":[[{"node":"Notion2","type":"main","index":0}]]},"Notion2":{"main":[[{"node":"Execute Workflow4","type":"main","index":0}]]},"Notion3":{"main":[[{"node":"Telegram3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"peod5nMyYJZ3YezW"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"873201c9-37b5-4ec2-8359-9859c6772213","triggerCount":1,"shared":[{"createdAt":"2025-04-12T21:07:20.587Z","updatedAt":"2025-04-12T21:07:20.587Z","role":"workflow:owner","workflowId":"1gpYpldr5cCLNfU1","projectId":"BOg1NIj04rxzpSxN"}],"tags":[]}