2O6DAi2jycf18uoi-GET_NOTION_TASKS.json
{"createdAt":"2025-04-11T07:27:34.692Z","updatedAt":"2025-04-11T09:40:16.000Z","id":"2O6DAi2jycf18uoi","name":"GET NOTION TASKS","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"Status"},{"name":"Numofdayspast","type":"number"},{"name":"Tags","type":"array"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"7777591b-f251-49be-9368-b8580bce1076","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst item = $input.first()[0]\nlet d = new Date()\nd.setDate(d.getDate() - ($input.first().json.Numofdayspast || 7));\n\nconst newdata = {\n  Status:$input.first().json.Status|| \"Not started\",\n  Numofdayspast:$input.first().json.Numofdayspast,\n  Tags:$input.first().json.Tags,\n  Date: d\n}\n\nreturn [newdata]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[220,0],"id":"3636074d-58e6-46d7-9453-509ae0acf0d9","name":"Code"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"aef2fe8d-29d3-44a1-a242-132b5c56e060","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/aef2fe8d29d344a1a242132b5c56e060"},"returnAll":true,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Status|status","condition":"equals","statusValue":"={{ $json.Status }}"},{"key":"Last edited time|last_edited_time","condition":"after","lastEditedTime":"={{ $json.Date }}"}]},"options":{"sort":{"sortValue":[{"timestamp":true,"key":"last_edited_time","direction":"ascending"}]}}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[440,0],"id":"fd4512c7-4462-42ce-b617-774f533a9736","name":"NONRECURRINGTASKS"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"NONRECURRINGTASKS","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d240c0c7-dc78-4034-851c-2aa442acc013","triggerCount":0,"shared":[{"createdAt":"2025-04-11T07:27:34.739Z","updatedAt":"2025-04-11T07:27:34.739Z","role":"workflow:owner","workflowId":"2O6DAi2jycf18uoi","projectId":"BOg1NIj04rxzpSxN"}],"tags":[]}