6SUQu5jYvm1poguj-MEETING_TRANSCRIPTION_RELATED.json
{"createdAt":"2025-07-20T09:54:46.273Z","updatedAt":"2025-07-24T12:40:23.000Z","id":"6SUQu5jYvm1poguj","name":"MEETING TRANSCRIPTION RELATED","active":true,"isArchived":false,"nodes":[{"parameters":{"name":"={{ new Date()/1000 }}LUPERCALIOS.3gpp","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1pD8zvCrREGosF6JycGHcG5onvWDTfw3S","mode":"list","cachedResultName":"MEETINGS","cachedResultUrl":"https://drive.google.com/drive/folders/1pD8zvCrREGosF6JycGHcG5onvWDTfw3S"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[192,0],"id":"52d1b52f-6630-465b-9404-663ce48f1fac","name":"Google Drive"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.query.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[192,448],"id":"f6aa751f-2d7a-47b2-ab92-17dde1cf1635","name":"Google Drive2"},{"parameters":{"respondWith":"binary","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[416,448],"id":"b2d29013-7730-4a1f-b75f-613872e7f07d","name":"Respond to Webhook"},{"parameters":{"resource":"fileFolder","queryString":"LUPERCALIOS","returnAll":true,"filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[192,224],"id":"5b962148-77df-4f9c-b990-192117ba87fa","name":"Search files and folders"},{"parameters":{"resource":"fileFolder","queryString":"LUPERCALIOS","returnAll":true,"filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[192,672],"id":"c518ba96-11d2-404b-b368-73b3ca8868c3","name":"Search files and folders1"},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[416,672],"id":"c72fef0c-30f0-44fc-b875-e04302712251","name":"Delete a file"},{"parameters":{"path":"ce2eebb0-169c-4115-9bf3-663cb5464a28","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-32,448],"id":"3a31f302-e8f2-473f-a3dd-3b2cbb68789b","name":"DOWNLOAD WEBHOOK","webhookId":"ce2eebb0-169c-4115-9bf3-663cb5464a28"},{"parameters":{"path":"9a228570-f01c-44a2-aeaa-c537b1861d0e","responseMode":"lastNode","responseData":"allEntries","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-32,224],"id":"5f68df80-8ae1-4daf-8d91-2961ee151202","name":"GETFILESWEBHOOK","webhookId":"9a228570-f01c-44a2-aeaa-c537b1861d0e"},{"parameters":{"httpMethod":"POST","path":"c0b528e0-f294-41e2-bf76-b4cf0cdaa46d","options":{"binaryPropertyName":"data"}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-32,0],"id":"c449e7ad-5296-4a03-9a01-f19b969873bf","name":"UPLOADFILESWEBHOOK","webhookId":"c0b528e0-f294-41e2-bf76-b4cf0cdaa46d"},{"parameters":{"path":"96130e15-47bf-4659-96e6-d555b8b96c10","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-32,672],"id":"bca8ba0d-ebb8-4277-a6f8-5ac93b093bc4","name":"DELETEFILESWEBHOOK","webhookId":"96130e15-47bf-4659-96e6-d555b8b96c10"}],"connections":{"Google Drive2":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Search files and folders1":{"main":[[{"node":"Delete a file","type":"main","index":0}]]},"DOWNLOAD WEBHOOK":{"main":[[{"node":"Google Drive2","type":"main","index":0}]]},"GETFILESWEBHOOK":{"main":[[{"node":"Search files and folders","type":"main","index":0}]]},"UPLOADFILESWEBHOOK":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"DELETEFILESWEBHOOK":{"main":[[{"node":"Search files and folders1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"GETFILESWEBHOOK":[{"json":{"headers":{"connection":"Upgrade","host":"n8n.tuongeechat.com","x-real-ip":"41.90.185.131","x-forwarded-for":"41.90.185.131","x-forwarded-proto":"https","user-agent":"Mozilla/5.0 (X11; Linux x86_64; rv:128.0) Gecko/20100101 Firefox/128.0","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8","accept-language":"en-US,en;q=0.5","accept-encoding":"gzip, deflate, br, zstd","cookie":"rl_session=RudderEncrypt%3AU2FsdGVkX181VQZkmaU67bTrAnXMDHeH8vUiSEVn6SxQYztBx2ZhvcjXNSEGjf3FWXRYMQIJpZmip4AkbEDWeCCBjd3aPqKuyvB8kwD0%2FTus3of7ziT0GkhLFjEsSO2519rKRr1k7sehqcVLWlfGTQ%3D%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX19NVWKrbD652W6EdC7cJj0pfXwePSGDqa30bHv6eK%2BMay4%2Bh%2FeMbpiCmUyB7J6SlqBRZ64vokJ3qA%3D%3D; rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX19Dv3m5rnZuSa33lf089HwlGEESWzeDCuo%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19OyavbLOsDhAZHxpomkmGB2tfk120vObE%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX19TeqmQ1GhoLV7q6b84DOMWNKtNmvejTobP6S8ssgPRinesWzI%2BFPPvqoNzaTqIefyRpuo35OBrGkwl3RwIBSrMWlCqy6riN4kK3Zr4Gr5btaKvCZ4VGAh1ScBg0lkQk%2FUqE5OwXecASTxNST75NOKEGqJ7Mc4PhSM%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2BzB7Bqz3hwzNfybwoeAdwkS7nIQiq2rfEd0Raod9S%2BiroAqau2CXzcvBr25yl9w%2BzY009N5pvjga9aFexlebZX6UEsKJy0vKlMEjnJvSUkVrtO%2FpYbUUiMMvI4OdFfz7vXf6h5naDcKg%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%2290cbe2e699f59aa9911dec1c1fa3c8d04c4bbcb695cc95f0a3f8fb730c3a103c%23aa09d779-9599-4682-b7cb-1d97eee12b33%22%2C%22%24sesid%22%3A%5B1753360271334%2C%2201983c6a-87bc-794e-8d5d-d2072d232ee1%22%2C1753360271292%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fn8n.tuongeechat.com%2Fsetup%22%7D%7D","upgrade-insecure-requests":"1","sec-fetch-dest":"document","sec-fetch-mode":"navigate","sec-fetch-site":"none","sec-fetch-user":"?1","priority":"u=0, i"},"params":{},"query":{},"body":{},"webhookUrl":"https://n8n.tuongeechat.com/webhook/9a228570-f01c-44a2-aeaa-c537b1861d0e","executionMode":"production"}}]},"versionId":"30e460fe-ff73-4911-82b0-5a75c193cd20","triggerCount":4,"shared":[{"createdAt":"2025-07-20T09:54:46.283Z","updatedAt":"2025-07-20T09:54:46.283Z","role":"workflow:owner","workflowId":"6SUQu5jYvm1poguj","projectId":"BOg1NIj04rxzpSxN"}],"tags":[]}