AFCgAfMFe97kBA8o-TELEGRAM_MSG.json
{"createdAt":"2025-04-11T10:56:31.209Z","updatedAt":"2025-06-15T13:07:00.000Z","id":"AFCgAfMFe97kBA8o","name":"TELEGRAM MSG","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"message"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,-80],"id":"92355c2a-6a30-402f-b65b-3b59717e5cd1","name":"When Executed by Another Workflow"},{"parameters":{"chatId":"6373227388","text":"={{ $json.message || \"Workflow misfired\" }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[440,-80],"id":"72c91edc-05e7-46b4-8cf5-88a672c6ea89","name":"Telegram","webhookId":"0b602a62-cc2c-4965-82de-62d15182e28b"},{"parameters":{"jsCode":"const input = $input.first().json[\"message\"] || \"Lupercal\"; // Replace \"message\" with the actual key\nconst maxLength = 2000; // Safe message size for Telegram\n\nfunction splitBySentence(text, limit) {\n  const sentences = text.match(/[^\\.!\\?]+[\\.!\\?]+(\\s|$)/g); // Regex for sentence boundaries\n  if (!sentences) return [text]; // fallback if no punctuation\n\n  const chunks = [];\n  let current = \"\";\n\n  for (const sentence of sentences) {\n    if ((current + sentence).length <= limit) {\n      current += sentence;\n    } else {\n      if (current) chunks.push(current.trim());\n      current = sentence;\n    }\n  }\n\n  if (current) chunks.push(current.trim());\n\n  return chunks;\n}\n\nconst output = splitBySentence(input, maxLength);\n\n// Return as an array of objects for n8n (1 per item)\nreturn output.map(text => ({ json: { message: text } }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[220,-80],"id":"4481cd99-7f7c-4d12-9375-194dd1b88065","name":"Code"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7f9758d2-ba85-48f5-8a6d-ffedc6a38964","triggerCount":0,"shared":[{"createdAt":"2025-04-11T10:56:31.214Z","updatedAt":"2025-04-11T10:56:31.214Z","role":"workflow:owner","workflowId":"AFCgAfMFe97kBA8o","projectId":"BOg1NIj04rxzpSxN"}],"tags":[]}