BrgOpzH7nQgIn8VN-BILLS_LONE_WORKFLOW.json
{"createdAt":"2025-07-22T09:26:57.777Z","updatedAt":"2025-07-22T09:29:17.000Z","id":"BrgOpzH7nQgIn8VN","name":"BILLS LONE WORKFLOW","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1P9FMo3Q0HzSnWt160kgiZMHmz9KmmH9PYIPSb09c6es/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[192,-560],"id":"053665d6-3480-4325-9722-1282250d0f8a","name":"Google Docs"},{"parameters":{"jsCode":"const text = $input.first().json.content\n\nconst lines = text.trim().split('\\n');\nconst now = new Date();\nconst upcomingBills = [];\nconst updatedBills = [];\n\nfor (const line of lines) {\n  const match = line.match(/^(.+?)\\s+(\\d{1,2})\\/(\\d{1,2})\\/(\\d{2})\\s+-\\s+KSH\\s+(.+)$/i);\n\n  if (!match) continue;\n\n  const name = match[1].trim();\n  let day = parseInt(match[2]);\n  let month = parseInt(match[3]) - 1; // JS months are 0-based\n  let year = 2000 + parseInt(match[4]);\n  const amount = match[5].trim();\n\n  let billDate = new Date(year, month, day);\n\n  // If the bill date has passed, roll to next month\n  if (billDate < now) {\n    billDate.setMonth(billDate.getMonth() + 1);\n  }\n\n  // Check if bill is within the next 7 days\n  const diffDays = (billDate - now) / (1000 * 60 * 60 * 24);\n  if (diffDays <= 7 && diffDays >= 0) {\n    upcomingBills.push({ name, date: billDate.toDateString(), amount });\n  }\n  const formatter = new Intl.DateTimeFormat('en-GB', {\n    day: '2-digit',\n    month: '2-digit',\n    year: '2-digit'\n});\n\n  updatedBills.push({ name, date: formatter.format(billDate), amount });\n}\nconst allbills = updatedBills.map((item) => `${item.name} ${item.date} - KSH ${item.amount}`)\nreturn [\n  {\n    json: {\n      upcomingBills,\n      updatedBills: allbills.join('\\n')\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,-560],"id":"9851e912-d031-4500-b57b-717c301e6654","name":"Code1"},{"parameters":{"operation":"update","documentURL":"https://docs.google.com/document/d/1P9FMo3Q0HzSnWt160kgiZMHmz9KmmH9PYIPSb09c6es/edit?tab=t.0","actionsUi":{"actionFields":[{"action":"replaceAll","text":"={{ $('Google Docs').item.json.content }}","replaceText":"={{ $json.updatedBills }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[640,-560],"id":"755d179a-bbb7-42f2-ac6d-8f9769124eab","name":"Google Docs1"},{"parameters":{"assignments":{"assignments":[{"id":"212cd3e3-dd3a-49ad-92bd-3299999c5b0e","name":"data","value":"=*BILLS*\n\n{{ $('Code1').first().json.updatedBills }}\n\n*NEXT 7 DAYS*\n\n{{ $('Code1').item.json.upcomingBills.map((item) => `${item.name} KSH ${item.amount} - ${item.date}`).join('\\n') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[864,-560],"id":"debb6ac0-8894-47ef-85c9-36409afe86e0","name":"Edit Fields"},{"parameters":{"workflowInputs":{"values":[{"name":"query"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-32,-560],"id":"2f1fc0b7-a993-4ae6-b1a7-afe117d2c675","name":"When Executed by Another Workflow"}],"connections":{"Google Docs":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Google Docs1","type":"main","index":0}]]},"Google Docs1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[]]},"When Executed by Another Workflow":{"main":[[{"node":"Google Docs","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:DAILY TRIGGER":{"recurrenceRules":[]},"node:WEEKLY TRIGGER":{"recurrenceRules":[]},"node:MONTHLY TRIGGER":{"recurrenceRules":[]},"node:TASK CLEAR TRIGGER":{"recurrenceRules":[]},"node:DAILY TRIGGER1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ac2d86ae-c10e-4639-b760-48ec4a494b1d","triggerCount":1,"shared":[{"createdAt":"2025-07-22T09:26:57.784Z","updatedAt":"2025-07-22T09:26:57.784Z","role":"workflow:owner","workflowId":"BrgOpzH7nQgIn8VN","projectId":"BOg1NIj04rxzpSxN"}],"tags":[]}