c5c0Lhy1jVxYGMTr-FIND_PAGE_BY_NAME_OR_ID.json
{"createdAt":"2025-04-13T10:40:56.853Z","updatedAt":"2025-04-20T11:53:28.000Z","id":"c5c0Lhy1jVxYGMTr","name":"FIND PAGE BY NAME OR ID","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"DB"},{"name":"NAME"},{"name":"ID"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,100],"id":"ac3e3daf-d682-45f2-9b9d-1b2a9598f890","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.DB = item.json.DB || \"Tasks\";\n  item.json.NAME = item.json.NAME || \"\";\n  item.json.ID = item.json.ID || \"\";\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[220,100],"id":"06511f26-2818-4128-a64c-2dd4f221a337","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"2a8d8913-e5c7-4e96-a052-44f5ed2ed9c3","leftValue":"={{ $json.NAME }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"437132ed-e1d6-4940-9b0a-309b3e938005","leftValue":"={{ $json.ID }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[440,100],"id":"02c8f59e-5a6a-45f6-9055-9e23e8ca828c","name":"If"},{"parameters":{"resource":"databasePage","operation":"get","pageId":{"__rl":true,"value":"={{ $json.ID }}","mode":"id"}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[880,-100],"id":"c77e20a2-1e81-49dd-ba2a-bdfadbbd05ad","name":"Notion"},{"parameters":{"workflowId":{"__rl":true,"value":"AFCgAfMFe97kBA8o","mode":"list","cachedResultName":"TELEGRAM MSG"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"You tried to find a task but my game you didnt input the id or the name que hacemos"},"matchingColumns":["message"],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[660,200],"id":"d1f9cd1d-f549-4c1d-a128-82a0d5c045de","name":"TELEGRAM1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"adec02bb-10af-4d6f-af88-791d56d36371","leftValue":"={{ $json.ID }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[660,0],"id":"3ced8efc-b539-4ca4-ab42-34e14f5ea3ef","name":"NAMEORID"},{"parameters":{"workflowId":{"__rl":true,"value":"QcPf19eFxNcqK59o","mode":"list","cachedResultName":"GET NOTION DB BY NAME"},"workflowInputs":{"mappingMode":"defineBelow","value":{"DB":"={{ $json.DB }}"},"matchingColumns":[],"schema":[{"id":"DB","displayName":"DB","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"NAME","displayName":"NAME","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[880,100],"id":"6c8574b6-7e1e-4b38-be96-fc5ce3fb7a31","name":"GETDBBYNAME"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"returnAll":true,"filterType":"manual","filters":{"conditions":[{"key":"Task Name|title","condition":"contains","titleValue":"={{ $('NAMEORID').item.json.NAME }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1100,100],"id":"234c6d60-772e-4dc3-80be-ac6ecf374377","name":"Notion1"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"NAMEORID","type":"main","index":0}],[{"node":"TELEGRAM1","type":"main","index":0}]]},"NAMEORID":{"main":[[{"node":"Notion","type":"main","index":0}],[{"node":"GETDBBYNAME","type":"main","index":0}]]},"GETDBBYNAME":{"main":[[{"node":"Notion1","type":"main","index":0}]]},"Notion1":{"main":[[]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"peod5nMyYJZ3YezW"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c2d87db0-1c78-413b-9469-02b2496ca224","triggerCount":0,"shared":[{"createdAt":"2025-04-13T10:40:56.857Z","updatedAt":"2025-04-13T10:40:56.857Z","role":"workflow:owner","workflowId":"c5c0Lhy1jVxYGMTr","projectId":"BOg1NIj04rxzpSxN"}],"tags":[]}