dqNwH0E6XDA04TTE-N8N_GIT_BACKUP.json
{"createdAt":"2025-06-18T11:06:11.544Z","updatedAt":"2025-06-19T08:59:18.000Z","id":"dqNwH0E6XDA04TTE","name":"N8N GIT BACKUP","active":true,"isArchived":false,"nodes":[{"parameters":{"triggerTimes":{"item":[{"hour":0}]}},"name":"Schedule","type":"n8n-nodes-base.cron","typeVersion":1,"position":[-160,90],"id":"2c00f4eb-3573-4d29-8b68-ae5d2541df9e"},{"parameters":{"url":"https://n8n.tuongeechat.com/api/v1/workflows","options":{},"headerParametersUi":{"parameter":[{"name":"X-N8N-API-KEY","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJhYTA5ZDc3OS05NTk5LTQ2ODItYjdjYi0xZDk3ZWVlMTJiMzMiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzUwMjM0Mjc2fQ.pD7WUorJ981iIV1cmoqwZIKRBfCnRXnoI_F0sOkMX28"}]}},"name":"Fetch Workflows","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[280,90],"id":"4a70f5b1-2f9b-46dd-8962-c8628c0d60bd"},{"parameters":{"command":"=cd /home/node/.n8n/n8n-backups\ngit config --global init.defaultBranch main\nTIMESTAMP=$(date +%F_%H-%M-%S)\nmkdir -p /home/node/.ssh\necho \"-----BEGIN OPENSSH PRIVATE KEY-----\nb3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAACFwAAAAdzc2gtcn                      \nNhAAAAAwEAAQAAAgEAtGU1Dij4K512TanOKude9ZwDqorOptD6bywhztsNoBdD6CTbEB9+               \niNLbe8ElcuA9UiuqrgzaHUFUW36Ft2yruVvl2HeE75AFX/tKqPu5VnT070Upj+vsM39CmM                                 \nl8wUDLtaQyKpd4gdDGbHR4TUR5RWBgIkScGQuOlnaxWUDbLu3J2LKsumprV7k1TpmrkMJS\nQl9L4tinib5Si8vQZW09BqPLH4srSsNZMrB72VIU06xfYiD7eAGoXBGnA0CFjU6uZU0Au6         \njgfMZNfjosOA4OE4+P2seURubCcHzpCo36GFnd4YjPzy4/EQsSyeJU5C2SvvFGdAk96Wss\nAT+jQNUBQv4HRhM9R9AhsHFOoAHdkB/7EQXmGtxHKuEuif/ksvmAc0mrFtaKYegRI3ydmT\n9rwG0yhSBmCssCuKwLBT2USKWFm41+GbQE93bGE5jK2pK9z7qG3vZ7o78jPV/YP3RM2M+n\nD7fKQU1EVmrVCAhQ2tjsSXquXl8morJcpKxYIdsshkXcUJBeo+7rwTnUYOLCf7r5cZnpZS\nmackfnML3vKtaBoIwHzDxd0l84EkhUwKdMMVilbmD4OWSUAb/S0ENcd6U0oJcC17pvXPpI\n3gsW932ql7edZ9VUOXDGgxuJ83gCB9azeGitSa1gNDAYyGI+jyOu/Rj6yvT7zHQGt3JYM+\nUAAAdQtnI9JrZyPSYAAAAHc3NoLXJzYQAAAgEAtGU1Dij4K512TanOKude9ZwDqorOptD6\nbywhztsNoBdD6CTbEB9+iNLbe8ElcuA9UiuqrgzaHUFUW36Ft2yruVvl2HeE75AFX/tKqP\nu5VnT070Upj+vsM39CmMl8wUDLtaQyKpd4gdDGbHR4TUR5RWBgIkScGQuOlnaxWUDbLu3J\n2LKsumprV7k1TpmrkMJSQl9L4tinib5Si8vQZW09BqPLH4srSsNZMrB72VIU06xfYiD7eA\nGoXBGnA0CFjU6uZU0Au6jgfMZNfjosOA4OE4+P2seURubCcHzpCo36GFnd4YjPzy4/EQsS\nyeJU5C2SvvFGdAk96WssAT+jQNUBQv4HRhM9R9AhsHFOoAHdkB/7EQXmGtxHKuEuif/ksv\nmAc0mrFtaKYegRI3ydmT9rwG0yhSBmCssCuKwLBT2USKWFm41+GbQE93bGE5jK2pK9z7qG\n3vZ7o78jPV/YP3RM2M+nD7fKQU1EVmrVCAhQ2tjsSXquXl8morJcpKxYIdsshkXcUJBeo+\n7rwTnUYOLCf7r5cZnpZSmackfnML3vKtaBoIwHzDxd0l84EkhUwKdMMVilbmD4OWSUAb/S\n0ENcd6U0oJcC17pvXPpI3gsW932ql7edZ9VUOXDGgxuJ83gCB9azeGitSa1gNDAYyGI+jy\nOu/Rj6yvT7zHQGt3JYM+UAAAADAQABAAACAAGLR6bheJtG9rWZLqxKYuJz3wc1twrp6tAs\nN/V7NlJ0F2IKcD31LqwVI3nkpkkHJcJElKdSQKZZvZAOuxXj+xaXEvf/KtlEXxOYw5wqeq\nei+07d8ByQA6JRBFkaD6OvcJUHJf/rhL9la8pSPUVeUyYSxnCjH/zTFRIe6fYTtS4YUW2X\nT0IIdUAWNY4G3b757d9FeAUyAJcD5yp/WT8ytzcBbf9G7m9cDdWvJETPW23l6tsWpGvPTS\nfluvkvAnu6MyghSrIHXYqhlNiamks+P76w1NZiv1E1L6zfkowGS3WHO5R7L9/6fAYvOeOo\ne7Z8FcHZNhOkwV6GrIBqzkPe2ANVwzgpFx+IZ6UyUIEvYeEuxx7Ly5QnioorSC8faGZZuK\nli50uGPDzc/yCRI6+FTMf5h4lr9AUhmFTtr1pDGqnNKyLZHWbiseTNzsMKeT18JeQkN8t1\nmicnyJ5IQK+EsvrhvopXlf2j2wJrxw6EHozysw3U5U2DaEU6U3dwFVHGxqFCoXUTcTz6nn\n7GDwTWa7rhoZbvmxTPdVzQwD2oCjA3NQippU4TfEHidOutOf/JubCRs7Ek07m6+CaXvdEm\nvAnzkxU/mXLZlXYD10kxeJe9jTY9TjGlpzClFXUZKOhw/tJJub3UgtHtwR6ieq+K6Oe+or\nLKKseL3ZT5OVupIMOBAAABAQDepcf0YIJr5txmKYwldp1bGHV74lOH218s/5ydjvyFIvfa\nCeHradVbu/EZRUeN/M3JPK9HVKW9DQbLC1g8ZK48MU8bl1KXvnDovZdYLK78xYhxsoirde\nUcq7RqB32Yp5GZztZRhPZRDBHLzMT/nEHkWNskeiCs6FuKmOck21Hm6KC6uWIxgH5ZTCox\nRpkH7wcCDsb0ZTmgokO5ofVSoHmf9QmWLVC8D9D5IUWpJpHs4qsdCPLOMPyojOwZf4j0zO\nAy+b4xiw9nLv+9zWrpAOxXyJNHQRve1QEGqB0w45dfs6s2Lw5U420NpPejX92PFPmoKW57\nw2AWdZ2TlXEaS/p7AAABAQDksWojuWTjAhUwSfCXQZOWu6ddLsxShlD1JpfN15u4SXZtCr\nUzPmZpTpEyPD4cd0HjFCIExmhCkXnfrVs85FTnllCJ4pmB53+RhFGM+I2O4NXv4y3PLJpo\nZ32AQJm5AB9+/0IvKP5cgthkthLhjJbVK353icbpP0Hm1AzVTyX1KYcUfKrQ8EcueQcwzG\noDBiG10kMc/nHOH1RPM7ituGehAbHW1JTj3wl4/MZcNAipJt7hmyClNG3IkMBGeGRGmFoF\nzNpCi0R2JGDghmTsDbFswIXX5okBFVdpyJB6Zn8R+ho6iS5kOX6AcszosqBr+tQcubNHr2\nLW0C9wqsEh/2spAAABAQDJ73NlG0omb4s7+4aGgU2DSQntAAAvE28KKfeY7gmurA0OCawL\nXrxB6l2qO4CWQaAU/XxgKNUVNHY05dDeMInazR+F4kJYs+gq6OEJbuASDmRbk2j5obS+im\nNrlMvefrlrTS98e2kKiZo4YsHOT0vgSTMsewcZNTxRWFN1xBJIOkQSfcVpy4eVvwV+9I/R\nIkKJ2XiGmi3qyb95N/om4sLreegusf7qxYbQLQXsJTXm3tIA9g4KNfr4xk1upebTBP92Kh\n2Y86Hgnp4lmLX47fKBvuAiBASgDhx9uyXwXp3dBdI9OjnG9YFfhL1Yh5HOa+V7t1q4lioP\n1YU37dtGatZdAAAAE2h1bmthckBzdWx0YW5hdC5jb20BAgMEBQYH\n-----END OPENSSH PRIVATE KEY-----\" > ~/.ssh/id_rsa\nchmod 600 ~/.ssh/id_rsa\nssh-keyscan github.com >> ~/.ssh/known_hosts\n\ngit init\ngit remote add origin git@github.com:Ahthe45th/PERSONALOPTIMIZATION.git\n\n\ngit branch -M main\n\ngit config --global user.email \"Ahthe45th@users.noreply.github.com\"\ngit config --global user.name \"Ah the 45th\"\ngit config pull.rebase false\ngit add .\ngit commit -m \"n8n backup $TIMESTAMP\"\ngit pull origin main --allow-unrelated-histories\ngit push origin main --force\ncd\nrm -rf /home/node/.n8n/n8n-backups\n"},"name":"Git Commit & Push","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[940,-60],"id":"fdd55868-2087-4a5a-ae00-7b1ebd1ce041"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[720,90],"id":"b711d559-ef57-48dd-86ff-d8b39ac078e0","name":"Loop Over Items"},{"parameters":{"command":"=TIMESTAMP=$(date +%F_%H-%M-%S)\nFOLDER=\"/home/node/.n8n/n8n-backups\"\nmkdir -p \"$FOLDER\"\nFILENAME=\"$FOLDER/{{ $json.id }}-{{ $json.name.replace(/ /g, \"_\") }}.json\"\n\necho \"{{ $json.b64 }}\" | base64 -d > \"$FILENAME\""},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[940,140],"id":"b35a63c3-e12c-45e4-b459-cd5ee807c42f","name":"Execute Command"},{"parameters":{"jsCode":"function stripCredentials(workflow) {\n  const clean = JSON.parse(JSON.stringify(workflow));\n  if (Array.isArray(clean.nodes)) {\n    clean.nodes.forEach(node => {\n      if (node.credentials) {\n        delete node.credentials;\n      }\n    });\n  }\n  return clean;\n}\n\nfunction base64Encode(str) {\n  const chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=';\n  let encoded = '';\n  let c1, c2, c3;\n  let i = 0;\n\n  while (i < str.length) {\n    c1 = str.charCodeAt(i++) & 0xff;\n    if (i == str.length) {\n      encoded += chars.charAt(c1 >> 2);\n      encoded += chars.charAt((c1 & 0x3) << 4);\n      encoded += '==';\n      break;\n    }\n    c2 = str.charCodeAt(i++);\n    if (i == str.length) {\n      encoded += chars.charAt(c1 >> 2);\n      encoded += chars.charAt(((c1 & 0x3) << 4) | ((c2 & 0xF0) >> 4));\n      encoded += chars.charAt((c2 & 0xF) << 2);\n      encoded += '=';\n      break;\n    }\n    c3 = str.charCodeAt(i++);\n    encoded += chars.charAt(c1 >> 2);\n    encoded += chars.charAt(((c1 & 0x3) << 4) | ((c2 & 0xF0) >> 4));\n    encoded += chars.charAt(((c2 & 0xF) << 2) | ((c3 & 0xC0) >> 6));\n    encoded += chars.charAt(c3 & 0x3F);\n  }\n\n  return encoded;\n}\n\nconst allitems = []\nfor (const item of $input.first().json.data) {\n  item.b64 = base64Encode(JSON.stringify(stripCredentials(item)))\n  allitems.push(item)\n}\n\nreturn allitems"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[500,90],"id":"ec0105bb-b86f-438d-b4ee-6dd549ff4768","name":"Code"},{"parameters":{"command":"mkdir -p /home/node/.n8n/n8n_backups"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[60,90],"id":"9a4ff2da-0781-4769-a0c8-b2c4555db150","name":"Execute Command1"},{"parameters":{"workflowId":{"__rl":true,"value":"AFCgAfMFe97kBA8o","mode":"list","cachedResultName":"TELEGRAM MSG"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"=Backed up the n8n workflows.\nStderr:\n{{ $json.stderr }}\nStdout:\n{{ $json.stdout }}"},"matchingColumns":["message"],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1160,-60],"id":"6057f6d6-d181-407b-804e-d962c6020c8d","name":"Execute Workflow"}],"connections":{"Schedule":{"main":[[{"node":"Execute Command1","type":"main","index":0}]]},"Fetch Workflows":{"main":[[{"node":"Code","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Git Commit & Push","type":"main","index":0}],[{"node":"Execute Command","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Execute Command1":{"main":[[{"node":"Fetch Workflows","type":"main","index":0}]]},"Git Commit & Push":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6f49c8fa-8ae6-4ad8-879c-561945d91559","triggerCount":1,"shared":[{"createdAt":"2025-06-18T11:06:11.800Z","updatedAt":"2025-06-18T11:06:11.800Z","role":"workflow:owner","workflowId":"dqNwH0E6XDA04TTE","projectId":"BOg1NIj04rxzpSxN"}],"tags":[]}