dzyZs8TjSvdjFuZe-TIME_RELATED_TASKS.json
{"createdAt":"2025-04-08T06:14:13.287Z","updatedAt":"2025-06-20T09:22:00.000Z","id":"dzyZs8TjSvdjFuZe","name":"TIME RELATED TASKS","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"aef2fe8d-29d3-44a1-a242-132b5c56e060","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/aef2fe8d29d344a1a242132b5c56e060"},"title":"={{ $json.content }}","propertiesUi":{"propertyValues":[{"key":"Tags|multi_select","multiSelectValue":["DAY"]}]},"options":{"icon":"<¯"}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[420,100],"id":"45bc7535-7bdd-49ad-8e2d-8b266f232ea0","name":"Notion"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-240,100],"id":"bdc781ed-f980-419f-af27-fcae2472afec","name":"DAILY TRIGGER"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst sections = [\"DAILY TASKS\", \"WEEKLY TASKS\", \"MONTHLY TASKS\"]\nlet lines = []\nlet insection = false \nconst currentnodesection = sections[0]\n\nfor (const item of $input.all()) {\n  console.log(item.json)\n  var newitem = item.json.content.split('\\n')\n  for (const lineitem of newitem) {\n    if (sections.some(function(v) { return lineitem.indexOf(v) >= 0; })) {\n      if (lineitem.includes(currentnodesection)) {\n        insection = true\n      } else {\n        insection = false\n      }\n    } else {\n      if (lineitem && insection) {\n         lines.push({content: lineitem, id: $input.all().indexOf(item)})  \n      } \n    }\n  }\n}\n\nreturn lines"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[200,100],"id":"aab7e7be-0915-4121-93b0-920cd9abbae2","name":"SET TO DAILY"},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"aef2fe8d-29d3-44a1-a242-132b5c56e060","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/aef2fe8d29d344a1a242132b5c56e060"},"title":"={{ $json.content }}","propertiesUi":{"propertyValues":[{"key":"Tags|multi_select","multiSelectValue":["WEEK"]}]},"options":{"icon":"<¯"}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[420,620],"id":"193770c4-8b4d-4f9a-963e-5c2adb12bee3","name":"Notion1"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1K5HGZ6BnXkiZ0rbU5JF5MFpCuf9Wbl1UXrSdOppHVPQ/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-20,620],"id":"ebea26f1-9f69-40a6-a5f6-0e6e34a76a7d","name":"TASK STACK1"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst sections = [\"DAILY TASKS\", \"WEEKLY TASKS\", \"MONTHLY TASKS\"]\nlet lines = []\nlet insection = false \nconst currentnodesection = sections[1]\n\nfor (const item of $input.all()) {\n  console.log(item.json)\n  var newitem = item.json.content.split('\\n')\n  for (const lineitem of newitem) {\n    if (sections.some(function(v) { return lineitem.indexOf(v) >= 0; })) {\n      if (lineitem.includes(currentnodesection)) {\n        insection = true\n      } else {\n        insection = false\n      }\n    } else {\n      if (lineitem && insection) {\n         lines.push({content: lineitem, id: $input.all().indexOf(item)})  \n      } \n    }\n  }\n}\n\nreturn lines"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[200,620],"id":"dcaacaef-5e2c-4562-95c7-e32fe777bfe5","name":"SET TO WEEKLY"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[5]}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-240,620],"id":"0c1d76c4-b1d4-4eb3-8999-ef11c59913a8","name":"WEEKLY TRIGGER"},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"aef2fe8d-29d3-44a1-a242-132b5c56e060","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/aef2fe8d29d344a1a242132b5c56e060"},"title":"={{ $json.content }}","propertiesUi":{"propertyValues":[{"key":"Tags|multi_select","multiSelectValue":["MONTH"]}]},"options":{"icon":"<¯"}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[420,880],"id":"f4a8fd23-fe6f-43a7-861e-adc0189cc799","name":"Notion2"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1K5HGZ6BnXkiZ0rbU5JF5MFpCuf9Wbl1UXrSdOppHVPQ/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-20,880],"id":"63d7e71a-2907-4b3f-a17f-01359283d9c7","name":"TASK STACK2"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst sections = [\"DAILY TASKS\", \"WEEKLY TASKS\", \"MONTHLY TASKS\"]\nlet lines = []\nlet insection = false \nconst currentnodesection = sections[2]\n\nfor (const item of $input.all()) {\n  console.log(item.json)\n  var newitem = item.json.content.split('\\n')\n  for (const lineitem of newitem) {\n    if (sections.some(function(v) { return lineitem.indexOf(v) >= 0; })) {\n      if (lineitem.includes(currentnodesection)) {\n        insection = true\n      } else {\n        insection = false\n      }\n    } else {\n      if (lineitem && insection) {\n         lines.push({content: lineitem, id: $input.all().indexOf(item)})  \n      } \n    }\n  }\n}\n\nreturn lines"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[200,880],"id":"11ccd591-9a9c-4a35-8ee5-eced914d09a7","name":"SET TO MONTHLY"},{"parameters":{"rule":{"interval":[{"field":"months"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-240,880],"id":"007e7574-0d6c-4023-876c-f7d816cb4622","name":"MONTHLY TRIGGER"},{"parameters":{"rule":{"interval":[{"triggerAtHour":23}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-240,360],"id":"168232d8-58ad-45f0-a661-4da1dd89fa6e","name":"TASK CLEAR TRIGGER"},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('UNDONETASKS2').item.json.url }}","mode":"url"},"simple":false,"propertiesUi":{"propertyValues":[{"key":"Archivado|checkbox","checkboxValue":"={{ true }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[200,360],"id":"e00b8061-2b75-475e-a05b-2b368ba5f960","name":"Notion3","onError":"continueRegularOutput"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"aef2fe8d-29d3-44a1-a242-132b5c56e060","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/aef2fe8d29d344a1a242132b5c56e060"},"limit":20,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Fecha de creación|created_time","condition":"before","createdTimeValue":"={{new Date}}"},{"key":"Tags|multi_select","condition":"contains","multiSelectValue":"DAY"},{"key":"Status|status","condition":"equals","statusValue":"Not started"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-20,360],"id":"95a86340-197e-414c-8eb4-fa8e6a3a49e6","name":"UNDONETASKS2"},{"parameters":{"workflowId":{"__rl":true,"value":"AFCgAfMFe97kBA8o","mode":"list","cachedResultName":"TELEGRAM MSG"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"Finally done archiving all items left undone by the day tag."},"matchingColumns":["message"],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[420,360],"id":"8a6fd90d-ff42-4b72-a46c-1ccdb1aa0c17","name":"Execute Workflow","executeOnce":true},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1K5HGZ6BnXkiZ0rbU5JF5MFpCuf9Wbl1UXrSdOppHVPQ/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-20,100],"id":"79ed37ad-82fd-4fee-80a3-f53f217dda54","name":"TASK STACK"},{"parameters":{"documentId":{"__rl":true,"value":"1VTmdk2LZHI1q6948AV-F0hYBsRcrdqPmS48UBIjG3C8","mode":"list","cachedResultName":"BUSINESS MANAGER","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VTmdk2LZHI1q6948AV-F0hYBsRcrdqPmS48UBIjG3C8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1188214681,"mode":"list","cachedResultName":"INCOME ONLY","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VTmdk2LZHI1q6948AV-F0hYBsRcrdqPmS48UBIjG3C8/edit#gid=1188214681"},"filtersUI":{"values":[{"lookupColumn":"TYPE","lookupValue":"BUY"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-240,-160],"id":"193cfb3b-dac2-4645-b57e-622bff3e61df","name":"Google Sheets"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst items = $input.all().map((item) => `<p>${item.json.DATE} ${item.json.PERSON}</p>`)\n\nreturn [{items:items.join('')}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[200,-160],"id":"db64d0cc-bc3f-4ff3-83dc-d9fb83fa7dd1","name":"Code"},{"parameters":{"workflowId":{"__rl":true,"value":"nMf1uAyLU6Avew0M","mode":"list","cachedResultName":"SEND GMAIL FUNCTION"},"workflowInputs":{"mappingMode":"defineBelow","value":{"SUBJECT":"SALES BREAKDOWN","BODY":"=<h3>This is specific to 2025:</h3>\n{{ $json.items }}","RECIPIENTSCOMMASEPARATED":"jazeelakarima@gmail.com,abushuriya@gmail.com,dchege411@gmail.com"},"matchingColumns":[],"schema":[{"id":"SUBJECT","displayName":"SUBJECT","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"BODY","displayName":"BODY","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"RECIPIENTSCOMMASEPARATED","displayName":"RECIPIENTSCOMMASEPARATED","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[420,-160],"id":"0408f2fa-1963-453a-8771-efeed998e079","name":"Execute Workflow1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d776d93a-d931-4287-96c0-66b20a12b490","leftValue":"={{ $json.QUARTER }}","rightValue":"={{ `${new Date().getFullYear()}` }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-20,-160],"id":"0a3fb399-9e9b-4f1c-8205-3a3ad5832ad7","name":"Filter"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-240,-420],"id":"f7667c49-1c78-4f18-828e-8037f8c8ff43","name":"Schedule Trigger"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1P9FMo3Q0HzSnWt160kgiZMHmz9KmmH9PYIPSb09c6es/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-20,-420],"id":"b16d65fa-cdd1-4ab1-a331-63e0fa655039","name":"Google Docs"},{"parameters":{"jsCode":"const text = $input.first().json.content\n\nconst lines = text.trim().split('\\n');\nconst now = new Date();\nconst upcomingBills = [];\nconst updatedBills = [];\n\nfor (const line of lines) {\n  const match = line.match(/^(.+?)\\s+(\\d{1,2})\\/(\\d{1,2})\\/(\\d{2})\\s+-\\s+KSH\\s+(.+)$/i);\n\n  if (!match) continue;\n\n  const name = match[1].trim();\n  let day = parseInt(match[2]);\n  let month = parseInt(match[3]) - 1; // JS months are 0-based\n  let year = 2000 + parseInt(match[4]);\n  const amount = match[5].trim();\n\n  let billDate = new Date(year, month, day);\n\n  // If the bill date has passed, roll to next month\n  if (billDate < now) {\n    billDate.setMonth(billDate.getMonth() + 1);\n  }\n\n  // Check if bill is within the next 7 days\n  const diffDays = (billDate - now) / (1000 * 60 * 60 * 24);\n  if (diffDays <= 7 && diffDays >= 0) {\n    upcomingBills.push({ name, date: billDate.toDateString(), amount });\n  }\n  const formatter = new Intl.DateTimeFormat('en-GB', {\n    day: '2-digit',\n    month: '2-digit',\n    year: '2-digit'\n});\n\n  updatedBills.push({ name, date: formatter.format(billDate), amount });\n}\nconst allbills = updatedBills.map((item) => `${item.name} ${item.date} - KSH ${item.amount}`)\nreturn [\n  {\n    json: {\n      upcomingBills,\n      updatedBills: allbills.join('\\n')\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[200,-420],"id":"ba95f918-98dc-414e-9be0-1490934101c6","name":"Code1"},{"parameters":{"operation":"update","documentURL":"https://docs.google.com/document/d/1P9FMo3Q0HzSnWt160kgiZMHmz9KmmH9PYIPSb09c6es/edit?tab=t.0","actionsUi":{"actionFields":[{"action":"replaceAll","text":"={{ $('Google Docs').item.json.content }}","replaceText":"={{ $json.updatedBills }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[420,-420],"id":"7974cd51-6fca-4c28-b3eb-13e172dfc062","name":"Google Docs1"},{"parameters":{"workflowId":{"__rl":true,"value":"nMf1uAyLU6Avew0M","mode":"list","cachedResultName":"SEND GMAIL FUNCTION"},"workflowInputs":{"mappingMode":"defineBelow","value":{"SUBJECT":"Upcoming bills","RECIPIENTSCOMMASEPARATED":"jazeelakarima@gmail.com","BODY":"=The following bills are coming due in the next 7 days:\n{{ $('Code1').item.json.upcomingBills.map((item) => `<p>${item.name} KSH ${item.amount} - ${item.date}</p>`).join(\"\\n\") }}"},"matchingColumns":[],"schema":[{"id":"SUBJECT","displayName":"SUBJECT","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"BODY","displayName":"BODY","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"RECIPIENTSCOMMASEPARATED","displayName":"RECIPIENTSCOMMASEPARATED","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[640,-420],"id":"d412a474-48d0-41f4-9299-1cabf2c9fce6","name":"Execute Workflow2"}],"connections":{"DAILY TRIGGER":{"main":[[{"node":"TASK STACK","type":"main","index":0}]]},"SET TO DAILY":{"main":[[{"node":"Notion","type":"main","index":0}]]},"TASK STACK1":{"main":[[{"node":"SET TO WEEKLY","type":"main","index":0}]]},"SET TO WEEKLY":{"main":[[{"node":"Notion1","type":"main","index":0}]]},"WEEKLY TRIGGER":{"main":[[{"node":"TASK STACK1","type":"main","index":0}]]},"TASK STACK2":{"main":[[{"node":"SET TO MONTHLY","type":"main","index":0}]]},"SET TO MONTHLY":{"main":[[{"node":"Notion2","type":"main","index":0}]]},"MONTHLY TRIGGER":{"main":[[{"node":"TASK STACK2","type":"main","index":0}]]},"TASK CLEAR TRIGGER":{"main":[[{"node":"UNDONETASKS2","type":"main","index":0}]]},"UNDONETASKS2":{"main":[[{"node":"Notion3","type":"main","index":0}]]},"Notion3":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[]]},"TASK STACK":{"main":[[{"node":"SET TO DAILY","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Code":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Code","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Google Docs1","type":"main","index":0}]]},"Google Docs1":{"main":[[{"node":"Execute Workflow2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:DAILY TRIGGER":{"recurrenceRules":[]},"node:WEEKLY TRIGGER":{"recurrenceRules":[]},"node:MONTHLY TRIGGER":{"recurrenceRules":[]},"node:TASK CLEAR TRIGGER":{"recurrenceRules":[]},"node:DAILY TRIGGER1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e295c2f9-c5c3-4c84-a40a-fdb04667b14a","triggerCount":5,"shared":[{"createdAt":"2025-04-08T06:14:13.296Z","updatedAt":"2025-04-08T06:14:13.296Z","role":"workflow:owner","workflowId":"dzyZs8TjSvdjFuZe","projectId":"BOg1NIj04rxzpSxN"}],"tags":[]}