eHqsi6wOMYMoizjp-Long-Term_Memory_and_Dynamic_Tool_Routing.json
{"createdAt":"2025-04-11T17:11:30.958Z","updatedAt":"2025-04-11T17:11:30.958Z","id":"eHqsi6wOMYMoizjp","name":"Long-Term Memory and Dynamic Tool Routing","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"b4026705-7ffa-43a5-8da9-728831a81285","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[200,1020],"typeVersion":1.1},{"parameters":{"operation":"update","documentURL":"1YFTbVGlnpdYF5FuA6grfyvzmcdjcPviClAqbJ5HJIlc","actionsUi":{"actionFields":[{"action":"insert","text":"={\n  \"date\": \"{{ $now }}\",\n  \"memory\": \"{{ $json.query }}\"\n},\n"}]}},"id":"8656d3a8-2562-4d17-8134-be9a6af2d236","name":"Save Long Term Memories","type":"n8n-nodes-base.googleDocs","position":[900,1020],"typeVersion":2},{"parameters":{"assignments":{"assignments":[{"id":"6b7e85d8-379b-4a0f-9799-9193a29f0447","name":"response","type":"string","value":"Memory saved"}]},"options":{}},"id":"2fd35a8f-c6e1-450f-b12c-78332aee5c4d","name":"Saved response","type":"n8n-nodes-base.set","position":[1080,1020],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"6b7e85d8-379b-4a0f-9799-9193a29f0447","name":"response","type":"string","value":"={{ $json.content }}"}]},"options":{}},"id":"6253217b-cd2c-4770-8252-96f0af1a03d8","name":"Respond with long term memories","type":"n8n-nodes-base.set","position":[1080,1320],"typeVersion":3.4},{"parameters":{"operation":"get","documentURL":"1YFTbVGlnpdYF5FuA6grfyvzmcdjcPviClAqbJ5HJIlc"},"id":"a4c8371b-371d-490f-b416-a9895c4d0e86","name":"Retrieve Long Term Memories3","type":"n8n-nodes-base.googleDocs","position":[900,2000],"typeVersion":2},{"parameters":{"chatId":"={{ $env.TELEGRAM_CHAT_ID }}","text":"=n8n User Memories\n{{ $json.text }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"5eb0ea7e-5c29-48e3-9702-fc28e4fa2f3b","name":"Send Success Message to Telegram","type":"n8n-nodes-base.telegram","position":[1420,1620],"webhookId":"3ba1ee6d-1648-4421-823b-e68ae14d769b","typeVersion":1.2},{"parameters":{"sendTo":"={{ $env.EMAIL_ADDRESS_JOE }}","subject":"n8n User Memories","message":"={{ $json.text }}","options":{"appendAttribution":false}},"id":"f2e12d92-2679-4c5b-a3e7-0ca922b366c6","name":"Email Workflow Stats","type":"n8n-nodes-base.gmail","position":[1420,2000],"webhookId":"d9ef6f36-941f-4110-9b3e-9e54d9bc9581","typeVersion":2.1},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"id":"b6cc0069-2942-4db3-919f-db1546288b54","name":"OpenAI Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1200,1760],"typeVersion":1.2},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"id":"17a845ab-022c-4749-b08f-55d91a1ef8f1","name":"OpenAI Chat Model3","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1200,2140],"typeVersion":1.2},{"parameters":{"name":"send_memories_to_telegram","description":"Call this tool to send memories to Telegram","workflowId":{"__rl":true,"mode":"id","value":"={{ $workflow.id }}"},"fields":{"values":[{"name":"route","stringValue":"=send_memories_to_telegram"}]},"jsonSchemaExample":""},"id":"3ebe7fbc-f01e-4e2f-a289-ccfd3f8730d0","name":"=äSend Memories to Telegram","type":"@n8n/n8n-nodes-langchain.toolWorkflow","position":[1240,600],"typeVersion":1.2},{"parameters":{"name":"send_memories_to_gmail","description":"Call this tool to send memories to Gmail","workflowId":{"__rl":true,"mode":"id","value":"={{ $workflow.id }}"},"fields":{"values":[{"name":"route","stringValue":"=send_memories_to_gmail"}]},"jsonSchemaExample":""},"id":"7e317122-1ce5-443d-95b2-73236affe253","name":"=ëSend Memories to Gmail","type":"@n8n/n8n-nodes-langchain.toolWorkflow","position":[1500,600],"typeVersion":1.2},{"parameters":{"name":"save_long_term_memory","description":"Call this tool to save long term memories","workflowId":{"__rl":true,"mode":"id","value":"={{ $workflow.id }}"},"fields":{"values":[{"name":"route","stringValue":"=save_memory"}]},"jsonSchemaExample":""},"id":"c00efff6-e00d-462c-8ece-b2f7e67b28a4","name":">àSave Memories","type":"@n8n/n8n-nodes-langchain.toolWorkflow","position":[720,600],"typeVersion":1.2},{"parameters":{"name":"retrieve_long_term_memory","description":"Call this tool to retrieve long term memories","workflowId":{"__rl":true,"mode":"id","value":"={{ $workflow.id }}"},"fields":{"values":[{"name":"route","stringValue":"=retrieve_memory"}]},"jsonSchemaExample":""},"id":"71dce9f1-8ae1-4d90-86f6-9f66be89b749","name":"=Retrieve Memories","type":"@n8n/n8n-nodes-langchain.toolWorkflow","position":[980,600],"typeVersion":1.2},{"parameters":{"contextWindowLength":10},"id":"f9d41eec-97b4-41f5-8ae3-d6e3ef5bcec0","name":">/Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[400,600],"typeVersion":1.3},{"parameters":{"options":{"systemMessage":"=You are a highly capable and intelligent assistant designed to assist users by leveraging tools for long-term memory, contextual understanding, and real-time information retrieval.  You have excellent long term memory.  The current date and time is {{ $now }}\n\n## TOOLS\n-save_long_term_memory\n-retrieve_long_term_memory\n-send_memories_to_gmail\n-send_memories_to_telegram\n\n## RULES\n- If you do not know the answer then consider checking the long term memories.\n\n\n\n\n\n"}},"id":"7d582a21-8456-4413-8cc3-db41afad7131","name":">à AI Agent w/Long Term Memory","type":"@n8n/n8n-nodes-langchain.agent","position":[820,180],"typeVersion":1.7},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"id":"101d1a67-01c7-43c1-90bb-1c291438c239","name":">OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[140,600],"typeVersion":1.2},{"parameters":{"options":{}},"id":"b187c658-4c04-4e27-b18c-b617680aa562","name":"Â When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[260,180],"webhookId":"2060403b-3fea-4fdf-a6d7-693bc477baaf","typeVersion":1.1},{"parameters":{"promptType":"define","text":"=Format this content into a simple unformatted list that can be sent to Telegram: {{ $json.content }}.  Avoid any preamble or further explanation."},"id":"cf50f650-fdd9-4a07-83dd-467cc6d02056","name":"Prepare Telegram Message","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[1080,1620],"typeVersion":1.5},{"parameters":{"promptType":"define","text":"=Format this content into a simple and modern HTML table that is max 800px wide that can be used as the content for an email: {{ $json.content }}.  Avoid any preamble or further explanation.  Remove all ``` and ```html from response."},"id":"98bd18e4-7b21-424e-a968-91beccc0788d","name":"Prepare Gmail Message","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[1080,2000],"typeVersion":1.5},{"parameters":{"content":"## 1ã Save Memories","height":280,"color":4},"id":"a03a23c9-3ac6-4a8e-b81d-8c79e4771989","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[640,480],"typeVersion":1},{"parameters":{"operation":"get","documentURL":"1YFTbVGlnpdYF5FuA6grfyvzmcdjcPviClAqbJ5HJIlc"},"id":"427380f0-c460-4cca-9284-598f0f0cb378","name":"Retrieve Long Term Memories","type":"n8n-nodes-base.googleDocs","position":[900,1320],"typeVersion":2},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.route }}","rightValue":"save_memory"}]},"renameOutput":true,"outputKey":"1ã Save"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"86d44336-bab7-422f-9266-fcb513252d19","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.route }}","rightValue":"retrieve_memory"}]},"renameOutput":true,"outputKey":" 2ãRetrieve "},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"29f37628-6381-46af-babb-74bf00b4a849","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.route }}","rightValue":"send_memories_to_telegram"}]},"renameOutput":true,"outputKey":" 3ãTelegram"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"fdb7c8aa-4108-43f6-8f6b-71cd8f383d2a","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.route }}","rightValue":"send_memories_to_gmail"}]},"renameOutput":true,"outputKey":"4ãGmail"}]},"options":{}},"id":"76d038fc-77aa-4dea-aba9-e5878f701b20","name":"Memory Tool Router","type":"n8n-nodes-base.switch","position":[520,1000],"typeVersion":3.2},{"parameters":{"content":"## 3ã Send Memories to Telegram","height":280,"color":6},"id":"f32857c8-2a58-49a2-a85f-ccb45011e424","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1160,480],"typeVersion":1},{"parameters":{"content":"## 4ã Send Memories to Gmail","height":280,"color":6},"id":"c8cee3bf-712f-4f06-be87-a033e8fb1c11","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1420,480],"typeVersion":1},{"parameters":{"content":"## 2ã Retrieve Memories","height":280,"color":4},"id":"5353b3e1-b882-4560-a013-fd963067cf61","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[900,480],"typeVersion":1},{"parameters":{"content":"## Short Term Chat Memory","height":280,"color":3},"id":"2db1e7ed-5f26-45e5-8127-83d5920a4fe9","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[320,480],"typeVersion":1},{"parameters":{"content":"## Cloud LLM","height":280,"color":5},"id":"812ee015-ee87-44a6-bebe-6e0ad50c9f33","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[60,480],"typeVersion":1},{"parameters":{"content":"# >à AI Agent Chatbot With Long Term Memory Tools","height":840,"width":1740},"id":"0f5339b6-13a6-4652-9874-ee7efc603648","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"## =à Agentic Long Term Memory Management Tool Options","height":400,"width":1100,"color":7},"id":"c7730d21-8ea2-4cb9-8ec6-2ee3fb9394f3","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[600,400],"typeVersion":1},{"parameters":{"content":"## =MTry Me!","height":240,"width":300,"color":4},"id":"efa9fb04-a21f-4b55-9aa9-4459fc3058ee","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[160,120],"typeVersion":1},{"parameters":{"content":"## 1ã Save Long Term Memories Tool","height":280,"width":560,"color":4},"id":"f8a1bd16-b5fc-434a-86e5-3ce0a6c9664e","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[800,940],"typeVersion":1},{"parameters":{"content":"## 2ã Retrieve Long Term Memories Tool","height":280,"width":560,"color":4},"id":"5b899ff0-43cc-4ec5-87bf-f020f3efeda6","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[800,1240],"typeVersion":1},{"parameters":{"content":"## 3ã Send Memories to Telegram Tool","height":360,"width":840,"color":6},"id":"1a049ea8-0b70-4d57-b3fc-b28dc59483e5","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[800,1540],"typeVersion":1},{"parameters":{"operation":"get","documentURL":"1YFTbVGlnpdYF5FuA6grfyvzmcdjcPviClAqbJ5HJIlc"},"id":"15882cba-2fed-49c2-a933-73f8ea6382e0","name":"Retrieve Long Term Memories2","type":"n8n-nodes-base.googleDocs","position":[900,1620],"typeVersion":2},{"parameters":{"content":"## 4ã Send Memories to Gmail Tool","height":360,"width":840,"color":6},"id":"021d3ef5-53fb-4d65-8760-1589ecac1fde","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","position":[800,1920],"typeVersion":1},{"parameters":{"content":"## Memory Tool Router","height":380,"width":300,"color":2},"id":"990924d3-a915-4569-9375-73c4f03014ef","name":"Sticky Note13","type":"n8n-nodes-base.stickyNote","position":[420,880],"typeVersion":1},{"parameters":{"content":"## Receive Memory Tool Instructions from Agent","height":380,"width":260,"color":7},"id":"46fabc6e-74a2-49cd-8cf4-cb3d4a0a7ff1","name":"Sticky Note14","type":"n8n-nodes-base.stickyNote","position":[120,880],"typeVersion":1},{"parameters":{"content":"## =à Long Term Memory Tool Kit","height":1440,"width":920,"color":7},"id":"9aeda850-29c5-483b-962c-5285280175de","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","position":[760,880],"typeVersion":1},{"parameters":{"content":"## Enhance Your AI Workflow with Long-Term Memory and Dynamic Tool Routing\n\n#### This n8n workflow empowers your AI agent with **long-term memory** and a **dynamic tools router**, enabling it to provide intelligent, context-aware responses while seamlessly managing tasks across multiple tools. By combining memory persistence and modular tool routing, this solution enhances the capabilities of your AI agent, making it smarter, more efficient, and highly adaptable.\n\n## =€ How It Works\n\n#### >à Long-Term Memory Management\n- The AI agent can **save** and **retrieve memories** using Google Docs as a storage system.\n- Persistent memory allows the agent to recall past interactions, user preferences, and contextual details for personalized responses.\n\n#### =à Tools Router for Dynamic Task Management\n- A **tools router** directs tasks to the appropriate tools based on the AI agent's instructions.\n- Supported tools include:\n  - **Save Memories**: Store important data for future reference.\n  - **Retrieve Memories**: Access stored information when needed.\n  - **Send Notifications via Gmail or Telegram**: Share insights or updates with stakeholders.\n\n#### > AI-Powered Contextual Understanding\n- The workflow integrates an OpenAI GPT-based model to process user inputs intelligently.\n- The AI agent uses a **window buffer memory** for short-term context and leverages long-term memory when necessary.\n\n#### =ä Multi-Channel Notifications\n- Automatically send memory summaries or workflow updates via Gmail or Telegram for enhanced communication.\n\n---\n\n## =' Setup Steps\n\n#### = Configure API Credentials\nSet up API connections for:\n- **OpenAI** (for AI processing).\n- **Google Docs** (for long-term memory storage).\n- **Gmail/Telegram** (for notifications).\n\n#### ™ Customize Workflow Parameters\n- Adjust the AI agent's system message to align with your specific use case or tone.\n- Define routing rules in the tools router to suit your workflow needs.\n\n#### >ê Test & Deploy\n- Test the workflow by interacting with the AI agent and verifying:\n  - Accurate memory saving/retrieval.\n  - Correct task routing via the tools router.\n  - Seamless notification delivery.\n","height":1300,"width":720},"id":"a62c7344-e724-4f99-ab2d-721ebdb51390","name":"Sticky Note16","type":"n8n-nodes-base.stickyNote","position":[0,1300],"typeVersion":1}],"connections":{">àSave Memories":{"ai_tool":[[{"node":">à AI Agent w/Long Term Memory","type":"ai_tool","index":0}]]},"Memory Tool Router":{"main":[[{"node":"Save Long Term Memories","type":"main","index":0}],[{"node":"Retrieve Long Term Memories","type":"main","index":0}],[{"node":"Retrieve Long Term Memories2","type":"main","index":0}],[{"node":"Retrieve Long Term Memories3","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Prepare Telegram Message","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Prepare Gmail Message","type":"ai_languageModel","index":0}]]},"Prepare Gmail Message":{"main":[[{"node":"Email Workflow Stats","type":"main","index":0}]]},"=Retrieve Memories":{"ai_tool":[[{"node":">à AI Agent w/Long Term Memory","type":"ai_tool","index":0}]]},">OpenAI Chat Model":{"ai_languageModel":[[{"node":">à AI Agent w/Long Term Memory","type":"ai_languageModel","index":0}]]},"Save Long Term Memories":{"main":[[{"node":"Saved response","type":"main","index":0}]]},"Prepare Telegram Message":{"main":[[{"node":"Send Success Message to Telegram","type":"main","index":0}]]},">/Window Buffer Memory":{"ai_memory":[[{"node":">à AI Agent w/Long Term Memory","type":"ai_memory","index":0}]]},"=ëSend Memories to Gmail":{"ai_tool":[[{"node":">à AI Agent w/Long Term Memory","type":"ai_tool","index":0}]]},"Retrieve Long Term Memories":{"main":[[{"node":"Respond with long term memories","type":"main","index":0}]]},"Retrieve Long Term Memories2":{"main":[[{"node":"Prepare Telegram Message","type":"main","index":0}]]},"Retrieve Long Term Memories3":{"main":[[{"node":"Prepare Gmail Message","type":"main","index":0}]]},"=äSend Memories to Telegram":{"ai_tool":[[{"node":">à AI Agent w/Long Term Memory","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Memory Tool Router","type":"main","index":0}]]},"Â When chat message received":{"main":[[{"node":">à AI Agent w/Long Term Memory","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"eda808c2-3da8-4358-85b0-e769ad11b73a","triggerCount":0,"shared":[{"createdAt":"2025-04-11T17:11:30.963Z","updatedAt":"2025-04-11T17:11:30.963Z","role":"workflow:owner","workflowId":"eHqsi6wOMYMoizjp","projectId":"BOg1NIj04rxzpSxN"}],"tags":[]}