EYA91vFQNExqa0kg-FB_CHALLENGE_AUTH.json
{"createdAt":"2025-06-19T14:03:54.039Z","updatedAt":"2025-06-20T09:18:34.000Z","id":"EYA91vFQNExqa0kg","name":"FB CHALLENGE AUTH","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"b22300a7-c1c0-4281-a51b-dccf5309ca3e","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"d6b03eb7-7a6f-4c96-9ecd-3188fb556cf4","name":"Webhook","webhookId":"b22300a7-c1c0-4281-a51b-dccf5309ca3e"},{"parameters":{"jsCode":"const query = $input.first().json;\nconst verifyToken = \"ILASHOVARATH\"; // Must match what you put in the Meta form\n\nreturn [\n    {\n      json: {\n        challenge: $input.first().json.query['hub.challenge'],\n      },\n    },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[220,0],"id":"8ecc59d8-f7ef-4ef0-8dda-7a186f571025","name":"Code"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.challenge }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[440,0],"id":"5a459d50-9b4b-4be1-b8ab-880626767121","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"connection":"Upgrade","host":"n8n.tuongeechat.com","x-real-ip":"31.13.103.4","x-forwarded-for":"31.13.103.4","x-forwarded-proto":"https","accept":"*/*","accept-encoding":"deflate, gzip","user-agent":"facebookplatform/1.0 (+http://developers.facebook.com)"},"params":{},"query":{"hub.mode":"subscribe","hub.challenge":"1099117017","hub.verify_token":"ILASHOVARATH"},"body":{},"webhookUrl":"https://n8n.tuongeechat.com/webhook/b22300a7-c1c0-4281-a51b-dccf5309ca3e","executionMode":"production"}}]},"versionId":"ed65d5d3-c2fb-49cb-9e82-4d8bdada189d","triggerCount":1,"shared":[{"createdAt":"2025-06-19T14:03:54.048Z","updatedAt":"2025-06-19T14:03:54.048Z","role":"workflow:owner","workflowId":"EYA91vFQNExqa0kg","projectId":"BOg1NIj04rxzpSxN"}],"tags":[]}