h8mcnhTy8oi2RVBa-telegram_starter_template.json
{"createdAt":"2025-04-11T21:04:33.437Z","updatedAt":"2025-04-11T21:04:33.437Z","id":"h8mcnhTy8oi2RVBa","name":"telegram starter template","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["*"],"additionalFields":{}},"id":"caf51e2f-bb44-4c60-85fd-5af9a3b97100","name":"Trigger","type":"n8n-nodes-base.telegramTrigger","position":[-1560,1720],"webhookId":"96a20e88-ba8f-4827-b874-b0a9867c59e9","typeVersion":1.1},{"parameters":{"options":{}},"id":"3d74864e-573b-4b79-9606-cc260a93d8f5","name":"Global data","type":"n8n-nodes-base.set","position":[-1360,1720],"typeVersion":3.4},{"parameters":{"chatId":"={{ $('Trigger').item.json.message.from.id }}","text":"Photo","additionalFields":{"appendAttribution":false}},"id":"7eb25518-7665-4a30-acc4-401daf8d0aa2","name":"Telegram1","type":"n8n-nodes-base.telegram","position":[540,1020],"typeVersion":1.2,"webhookId":"c8155a9c-9a13-4ee2-b80b-af4ae23ed5b7"},{"parameters":{"chatId":"={{ $('Trigger').item.json.message.from.id }}","text":"File","additionalFields":{"appendAttribution":false}},"id":"a8d70508-9d03-4fab-a655-5850f6b965b4","name":"Telegram2","type":"n8n-nodes-base.telegram","position":[540,1260],"typeVersion":1.2,"webhookId":"ff1f128d-face-4a2d-b400-f289960a2f02"},{"parameters":{"chatId":"={{ $('Trigger').item.json.callback_query.data }}","text":"Callback","additionalFields":{"appendAttribution":false}},"id":"4a8d4f0b-9514-4b76-82d2-9e89aacd5744","name":"Telegram3","type":"n8n-nodes-base.telegram","position":[100,1840],"typeVersion":1.2,"webhookId":"1504fb65-4ace-4ec6-b67e-2df02894024f"},{"parameters":{"chatId":"={{ $('Trigger').item.json.message.from.id }}","text":"Text","additionalFields":{"appendAttribution":false}},"id":"0a758d92-46ca-4c16-a31a-8a653b0279b2","name":"Telegram4","type":"n8n-nodes-base.telegram","position":[440,680],"typeVersion":1.2,"webhookId":"91c14616-70ff-4392-8e36-65958dc50524"},{"parameters":{"content":"## Callback","height":326.00218267794156,"width":1200.5980355767667,"color":7},"id":"0ff7dd2b-29ee-4ca6-b771-7e8e1cea74d1","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-180,1740],"typeVersion":1},{"parameters":{"content":"## Text\n","height":481.314448671577,"width":1200.5980355767667,"color":7},"id":"84a5a4f2-259b-4183-bd35-994450fab8e1","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-180,460],"typeVersion":1},{"parameters":{"content":"## Photo","height":198.69915410333263,"width":1200.5980355767667,"color":7},"id":"fb379711-cf80-4bad-ae07-f3eb45948112","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-180,980],"typeVersion":1},{"parameters":{"content":"## File","height":198.69915410333263,"width":1200.5980355767667,"color":7},"id":"5e89e3d4-536a-4e0f-b26a-6a8b5ea77580","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-180,1220],"typeVersion":1},{"parameters":{"content":"## Voice","height":198.69915410333263,"width":1200.5980355767667,"color":7},"id":"2bdc431c-25e2-4e29-9723-6f121f7d7808","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-180,1480],"typeVersion":1},{"parameters":{"chatId":"={{ $('Trigger').item.json.message.from.id }}","text":"Voice","additionalFields":{"appendAttribution":false}},"id":"c3d33bbc-6844-4a02-b733-a9be0b2236e9","name":"Telegram5","type":"n8n-nodes-base.telegram","position":[540,1520],"typeVersion":1.2,"webhookId":"cd41f63f-e78a-4bf8-8b22-698d88b2153f"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"360a2e5b-8736-488c-87dc-b5fcbd2b5102","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $('Trigger').item.json.message.hasOwnProperty('text') }}","rightValue":"/"}]},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $('Trigger').item.json.message.hasOwnProperty('photo') }}","rightValue":""}]},"renameOutput":true,"outputKey":"Photo"},{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"eb5a5507-4374-46c9-b8eb-25b36cbe17ee","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $('Trigger').item.json.message.hasOwnProperty('document') }}","rightValue":"2"}]},"renameOutput":true,"outputKey":"File"},{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"b5a43050-e657-4b56-aa9b-290a94aa8902","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $('Trigger').item.json.message.hasOwnProperty('voice') }}","rightValue":""}]},"renameOutput":true,"outputKey":"Voice"}]},"options":{}},"id":"d9f62b44-c726-4ce8-ad93-e1bca62a5d25","name":"Switch_MessageType","type":"n8n-nodes-base.switch","position":[-440,1260],"typeVersion":3},{"parameters":{"content":"## Commands","height":481.314448671577,"width":1195.9520561291508,"color":7},"id":"0b8ebbab-8382-4567-9036-88b7375987ce","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-180,-60],"typeVersion":1},{"parameters":{"chatId":"={{ $('Trigger').item.json.message.from.id }}","text":"Don't know the command","additionalFields":{"appendAttribution":false}},"id":"4e1f15d3-6ef4-40c4-8b27-29544affead2","name":"Telegram6","type":"n8n-nodes-base.telegram","position":[680,200],"typeVersion":1.2,"webhookId":"59399324-a007-4f37-9a6a-972e23073024"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"798e1a40-e85b-4294-afcb-b129f92eb833","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('Trigger').item.json.callback_query.data }}","rightValue":"menu_conditions"}]},"renameOutput":true,"outputKey":"Conditions"},{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"f91b8a94-8961-4d20-ae9c-0ee34ff04000","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('Trigger').item.json.callback_query.data }}","rightValue":"menu_reviews"}]},"renameOutput":true,"outputKey":"Reviews"}]},"options":{}},"id":"1e328382-6203-4e29-ba5f-241eb8126c52","name":"Menu","type":"n8n-nodes-base.switch","position":[260,1840],"typeVersion":3},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"a2025331-2c2b-4df8-9e23-37035a5c808a","operator":{"type":"string","operation":"startsWith"},"leftValue":"={{ $('Trigger').item.json.message.text }}\n","rightValue":"/"}]},"options":{}},"id":"4b44e354-28f6-4bc3-bd39-287c1b197c0f","name":"Command?","type":"n8n-nodes-base.if","position":[220,620],"typeVersion":2},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"url","value":"https://docs.google.com/spreadsheets/d/1nTDcSinsEdKUA_BzISUwCa8WogQZXc7sjIdBvs3D7o0/edit?gid=0#gid=0"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nTDcSinsEdKUA_BzISUwCa8WogQZXc7sjIdBvs3D7o0/edit#gid=0","cachedResultName":"USERS"},"columns":{"value":{"Status":"0"},"schema":[{"id":"ID","type":"string","display":true,"removed":false,"required":false,"displayName":"ID","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Name","type":"string","display":true,"removed":true,"required":false,"displayName":"Name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Lastname","type":"string","display":true,"removed":true,"required":false,"displayName":"Lastname","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Username","type":"string","display":true,"removed":true,"required":false,"displayName":"Username","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Date","type":"string","display":true,"removed":true,"required":false,"displayName":"Date","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Language","type":"string","display":true,"removed":true,"required":false,"displayName":"Language","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Status","type":"string","display":true,"required":false,"displayName":"Status","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Balance","type":"string","display":true,"removed":true,"required":false,"displayName":"Balance","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["ID"]},"options":{}},"id":"61f46dc9-f875-4bd7-ade0-d95796f5d753","name":"Change status","type":"n8n-nodes-base.googleSheets","position":[300,2600],"typeVersion":4.4},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"253b4dfb-2b86-499a-a1a6-b6d916c9c25f","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('Trigger').item.json.my_chat_member.new_chat_member.status }}","rightValue":"member"}]},"options":{}},"id":"fb648379-ac66-494b-bf12-2d1ad6a383c6","name":"Start bot?","type":"n8n-nodes-base.if","position":[100,2420],"typeVersion":2.1},{"parameters":{"workflowId":"XZKoHGcXJE1fUizb","options":{"waitForSubWorkflow":false}},"id":"959cd6e6-d85e-404d-8d57-b10f72cf03eb","name":"Register","type":"n8n-nodes-base.executeWorkflow","position":[460,2300],"typeVersion":1},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"lPX901W8CIMbKbww"},"options":{}},"id":"c4969154-5e17-4863-b69d-97680c3c6e88","name":"Payment Handler","type":"n8n-nodes-base.executeWorkflow","position":[300,3040],"typeVersion":1.1},{"parameters":{"mode":"raw","jsonOutput":"={{ Object.assign({}, $('Trigger').item.json, { \"action\": \"HandlePayment\" }) }}","options":{}},"id":"5545e58d-a228-4a74-b657-5b1a90c75b92","name":"Trigger Data for Payment","type":"n8n-nodes-base.set","position":[120,3040],"notesInFlow":true,"typeVersion":3.4,"notes":"Chat ID required. \n\nSend action name to handle it inside Payment workflow"},{"parameters":{"mode":"raw","jsonOutput":"={{ $('Trigger').item.json }}","options":{}},"id":"9e20fd2e-a2ab-41dc-ba03-90af5e654776","name":"Trigger Data for Register","type":"n8n-nodes-base.set","position":[300,2300],"typeVersion":3.4},{"parameters":{"rules":{"values":[{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"360a2e5b-8736-488c-87dc-b5fcbd2b5102","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $('Trigger').item.json.message && (!$('Trigger').item.json.message.successful_payment) }}","rightValue":"/"}]},"renameOutput":true,"outputKey":"Message"},{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $('Trigger').item.json.hasOwnProperty('callback_query') }}","rightValue":""}]},"renameOutput":true,"outputKey":"Callback"},{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e014a230-519a-4028-98b3-33c10d408c85","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $('Trigger').item.json.hasOwnProperty('my_chat_member') }}","rightValue":"System"}]},"renameOutput":true,"outputKey":"System"},{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"b03aaa37-d57f-437c-acb2-de2068d3241a","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $('Trigger').item.json.hasOwnProperty('pre_checkout_query') || $('Trigger').item.json.message.hasOwnProperty('successful_payment') }}","rightValue":""}]},"renameOutput":true,"outputKey":"Payment"}]},"options":{}},"id":"60976fdc-4029-4444-b8f8-497ba5fa572d","name":"Switch","type":"n8n-nodes-base.switch","position":[-1180,1720],"typeVersion":3},{"parameters":{"mode":"raw","jsonOutput":"={{ Object.assign({}, $('Trigger').item.json, { \"action\": \"SendInvoice\" }) }}","options":{}},"id":"3e1cfac6-a3ee-4c37-9332-6b7c1078d37b","name":"Data for Invoice","type":"n8n-nodes-base.set","position":[680,0],"notesInFlow":true,"typeVersion":3.4,"notes":"Chat ID required. \n\nSend action name to handle it inside Payment workflow"},{"parameters":{"workflowId":"lPX901W8CIMbKbww","options":{"waitForSubWorkflow":false}},"id":"c9c2a8bd-4d3e-406f-a954-f57a5be21da1","name":"Send Invoice","type":"n8n-nodes-base.executeWorkflow","position":[880,0],"typeVersion":1},{"parameters":{"content":"## New member or Member left","height":612.9550079288388,"width":1216.6513404859077,"color":7},"id":"8beec0eb-d1df-4469-b4b6-5d5ac2952cd4","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-180,2200],"typeVersion":1},{"parameters":{"content":"## Payment handler","height":496.56854733756575,"width":1216.6513404859077,"color":7},"id":"2da6aebc-7059-498b-8b1b-cb50b582c306","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[-180,2880],"typeVersion":1},{"parameters":{"rules":{"values":[{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"360a2e5b-8736-488c-87dc-b5fcbd2b5102","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $('Trigger').item.json.message.text }}","rightValue":"/pay"}]},"renameOutput":true,"outputKey":"Command 1"},{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"546c81bf-2ee0-46b2-847b-1f92b84efaf3","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $('Trigger').item.json.message.text }}","rightValue":"/command2"}]},"renameOutput":true,"outputKey":"Command 2"}]},"options":{"fallbackOutput":"extra"}},"id":"296342e5-15f0-4d14-8ee9-1dd02df718ed","name":"Switch_Commands","type":"n8n-nodes-base.switch","position":[380,100],"typeVersion":3}],"connections":{"Switch":{"main":[[{"node":"Switch_MessageType","type":"main","index":0}],[{"node":"Telegram3","type":"main","index":0}],[{"node":"Start bot?","type":"main","index":0}],[{"node":"Trigger Data for Payment","type":"main","index":0}]]},"Trigger":{"main":[[{"node":"Global data","type":"main","index":0}]]},"Command?":{"main":[[{"node":"Switch_Commands","type":"main","index":0}],[{"node":"Telegram4","type":"main","index":0}]]},"Telegram3":{"main":[[{"node":"Menu","type":"main","index":0}]]},"Start bot?":{"main":[[{"node":"Trigger Data for Register","type":"main","index":0}],[{"node":"Change status","type":"main","index":0}]]},"Global data":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch_Commands":{"main":[[{"node":"Data for Invoice","type":"main","index":0}],[{"node":"Telegram6","type":"main","index":0}]]},"Data for Invoice":{"main":[[{"node":"Send Invoice","type":"main","index":0}]]},"Switch_MessageType":{"main":[[{"node":"Command?","type":"main","index":0}],[{"node":"Telegram1","type":"main","index":0}],[{"node":"Telegram2","type":"main","index":0}],[{"node":"Telegram5","type":"main","index":0}]]},"Trigger Data for Payment":{"main":[[{"node":"Payment Handler","type":"main","index":0}]]},"Trigger Data for Register":{"main":[[{"node":"Register","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"81602adf-5ed2-4b7c-97c2-fab8678732bc","triggerCount":0,"shared":[{"createdAt":"2025-04-11T21:04:33.442Z","updatedAt":"2025-04-11T21:04:33.442Z","role":"workflow:owner","workflowId":"h8mcnhTy8oi2RVBa","projectId":"BOg1NIj04rxzpSxN"}],"tags":[]}