HILtZk7tyNqMUIAn-ADD_TASK.json
{"createdAt":"2025-04-13T13:21:05.837Z","updatedAt":"2025-05-22T15:07:43.000Z","id":"HILtZk7tyNqMUIAn","name":"ADD TASK","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"DB"},{"name":"query"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"f8029ab0-d5e7-4842-bb4f-d31085478572","name":"When Executed by Another Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"QcPf19eFxNcqK59o","mode":"list","cachedResultName":"GET NOTION DB BY NAME"},"workflowInputs":{"mappingMode":"defineBelow","value":{"DB":"={{ $json.DB }}"},"matchingColumns":[],"schema":[{"id":"DB","displayName":"DB","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"NAME","displayName":"NAME","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[220,0],"id":"2f7bbafd-67cd-48f1-84eb-f9511e61259e","name":"get db","executeOnce":true},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"={{ $('get db').first().json.id }}","mode":"id"},"title":"={{ $json.query || \"Null\" }}","simple":false,"options":{"icon":"*"}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[660,0],"id":"37ecb6c6-2d73-45ab-a765-2dbee38c6fe6","name":"Notion"},{"parameters":{"assignments":{"assignments":[{"id":"fa31e24d-fba3-41e2-9707-29dbed8367fa","name":"output","value":"Task created successfully.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,0],"id":"1d43276b-66d3-4636-873d-f50da7c6cd2c","name":"Edit Fields"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst thetasks = []\nfor (const item of $('When Executed by Another Workflow').all()) {\n  thetasks.push(item)\n}\n\nreturn thetasks"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[440,0],"id":"0cb53df5-147f-4bbb-b57c-5018042ba7eb","name":"Code"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"get db","type":"main","index":0}]]},"get db":{"main":[[{"node":"Code","type":"main","index":0}]]},"Notion":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Code":{"main":[[{"node":"Notion","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"peod5nMyYJZ3YezW"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"DB":"Tasks","query":"3 hours digital entertainment"}},{"json":{"DB":"Tasks","query":"Get matches for that chick"}},{"json":{"DB":"Tasks","query":"Message in general and make sure everyone is engaged"}},{"json":{"DB":"Tasks","query":"Note we wanna get to appoint where we respond via telegram"}},{"json":{"DB":"Tasks","query":"pair the laptop and phone"}},{"json":{"DB":"Tasks","query":"Lead measures with everyone."}},{"json":{"DB":"Tasks","query":"Label customers"}},{"json":{"DB":"Tasks","query":"Follow up with follow ups"}},{"json":{"DB":"Tasks","query":"Buy HeyGen"}}]},"versionId":"1a59fb1e-c58f-4cb3-94a8-4ab36f20af3c","triggerCount":0,"shared":[{"createdAt":"2025-04-13T13:21:05.845Z","updatedAt":"2025-04-13T13:21:05.845Z","role":"workflow:owner","workflowId":"HILtZk7tyNqMUIAn","projectId":"BOg1NIj04rxzpSxN"}],"tags":[]}