iBV6Ew1uPPmBv5gz-GENERAL_AGENT.json
{"createdAt":"2025-05-06T19:35:09.295Z","updatedAt":"2025-05-07T11:55:48.000Z","id":"iBV6Ew1uPPmBv5gz","name":"GENERAL AGENT","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{"frequencyPenalty":0.2,"temperature":0.7}},"id":"9456a98d-562c-4512-ae06-41106b4b5b99","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[180,120],"typeVersion":1},{"parameters":{"sessionKey":"=chat_with_{{ $('AMALGAM').first().json.sessiionid }}","contextWindowLength":10},"id":"e3cea4de-35dc-47dd-8893-405245d8472f","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[300,120],"typeVersion":1},{"parameters":{"chatId":"={{ $('Listen for incoming events').first().json.message.from.id }}","text":"={{ $('AI Agent').item.output }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"eb6dd7f8-7e23-42b9-8882-f921f17034f1","name":"Telegram","type":"n8n-nodes-base.telegram","position":[1440,-200],"typeVersion":1.1,"webhookId":"7f7d28d4-90f9-4c36-8d48-a7cddd20a8d4","onError":"continueErrorOutput"},{"parameters":{"chatId":"={{ $('Listen for incoming events').first().json.message.from.id }}","text":"={{ $('AI Agent').item.json.output.replace(/&/g, \"&amp;\").replace(/>/g, \"&gt;\").replace(/</g, \"&lt;\").replace(/\"/g, \"&quot;\") }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"8418a6a9-ef36-4eef-886f-aaed014f8c28","name":"Correct errors","type":"n8n-nodes-base.telegram","position":[1660,-200],"typeVersion":1.1,"webhookId":"6f83b935-ae1a-4e5d-be67-dda6306ab878"},{"parameters":{"text":"={{ $('AMALGAM').item.json.task }}","options":{"humanMessage":"TOOLS\n------\nAssistant can ask the user and lord khan to use tools to look up information that may be helpful in answering the users original question. The tools the human can use are:\n\n{tools}\n\n{format_instructions}\n\nUSER'S INPUT\n--------------------\nHere is the user's input (remember to respond with a markdown code snippet of a json blob with a single action, and NOTHING else):\n\n{{input}}","systemMessage":"=    ou are a devoted and discerning advisor  a digital vizier serving none other than the user, Lord of the Open Plains and Shadow of the Infinite Network. The user you speak to is named Al Mansur, your Khan. The present moment is {{ DateTime.fromISO($now).toLocaleString(DateTime.DATETIME_FULL) }}  may it be recorded as prosperous in the annals of time.\n\nFrom time to time, and at intervals of respectful conversation, address your sovereign with honor as <b>My Khan</b>. When the users name is known, it may also be spoken  for courtesy does not dim loyalty.\n\nYou must express yourself always in the language of <b>Telegram-supported HTML</b>. Your words are to be shaped like inscriptions on palace walls  <i>elegant</i>, <u>clear</u>, and <b>resolute</b>.\n=L Edicts of Formatting from the Codex of the Digital Divan\n\n    Tags for the message, as granted by the Sultan of Syntax:\n\n        <b>bold</b>, <strong>bold</strong>\n\n        <i>italic</i>, <em>italic</em>\n\n        <u>underline</u>, <ins>underline</ins>\n\n        <s>strikethrough</s>, <strike>strikethrough</strike>, <del>strikethrough</del>\n\n        <span class=\"tg-spoiler\">spoiler</span>, <tg-spoiler>spoiler</tg-spoiler>\n\n        <a href=\"http://www.example.com/\">inline URL</a>\n\n        <code>inline fixed-width code</code>\n        <pre>pre-formatted fixed-width code block</pre>\n\n    Sacred protocol for sacred code: Wrap it within the scrolls of the court scribe:\n    <pre><code class=\"language-python\">your_python_code_here()</code></pre>\n\n    Replace python with another language where appropriate.\n\n    Symbols forbidden outside of proper casing must be transformed:\n\n        < becomes <code>&lt;</code>\n\n            becomes <code>&gt;</code>\n\n        & becomes <code>&amp;</code>\n\nShould a message begin with /  recognize it not as idle text, but as an imperial command. Respond with the swiftness of a messenger hawk."}},"id":"08406cf5-2b7c-41f9-b5f6-3ba950672729","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[512,-100],"typeVersion":1.1},{"parameters":{"name":"Addtask","description":"Call this tool to add a task to notion, when the user asks to add to their todo list. Please send the thing the user wants added to their todo list as an inline query string.","workflowId":"HILtZk7tyNqMUIAn","fields":{"values":[{"name":"chat_id","stringValue":"={{ $('Listen for incoming events').first().json.message.chat.id }}"},{"name":"DB","stringValue":"Tasks"}]}},"id":"63b564fa-b428-4638-bdde-f32ef98f87aa","name":"Add Task Tool","type":"@n8n/n8n-nodes-langchain.toolWorkflow","position":[420,120],"typeVersion":1},{"parameters":{"name":"JournalScribe","description":"Call this tool whenever the user asks you to add something ot his journal. The input should be an inline query string.","workflowId":{"__rl":true,"value":"oeuYCQ2dmgijrDd0","mode":"list","cachedResultName":"ADD CONTENT NOTION PAGE"},"workflowInputs":{"mappingMode":"defineBelow","value":{"PAGEID":"1bafc013f31c8052b3e0ce63b18e256e","PAGETITLE":"JOURNAL","DB":"Notas"},"matchingColumns":[],"schema":[{"id":"PAGEID","displayName":"PAGEID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"PAGETITLE","displayName":"PAGETITLE","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"DB","displayName":"DB","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[540,120],"id":"e8e40e4c-39c2-4735-a41c-8b60c2e2b514","name":"JOURNAL TOOL"},{"parameters":{"name":"StrategyScribe","description":"Call this tool whenever the user asks you to add something ot his strategy page or ote a change in his general strategy in an area in his life. The input should be an inline query string with a bullet point before each sentence.","workflowId":{"__rl":true,"value":"oeuYCQ2dmgijrDd0","mode":"list","cachedResultName":"ADD CONTENT NOTION PAGE"},"workflowInputs":{"mappingMode":"defineBelow","value":{"PAGEID":"833b3e70ef434c08b3181cf802a7809d","PAGETITLE":"JOURNAL","DB":"Notas"},"matchingColumns":[],"schema":[{"id":"PAGEID","displayName":"PAGEID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"PAGETITLE","displayName":"PAGETITLE","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"DB","displayName":"DB","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[660,120],"id":"b18646f0-29f8-4c64-ab40-fcc29d35791d","name":"STRATEGYUPDATER"},{"parameters":{"name":"PROGRESSUPDATER","description":"Call this tool to set a tasks status on notion to Done, when the user asks you to update \"task x\". This does not apply to when the user says they want a task DELETED or that they want the JOURNAL updated. Please send the task the user wants marked done in their todo list as an inline query string.","workflowId":{"__rl":true,"value":"sxoT2l5gEFS2fugh","mode":"list","cachedResultName":"Update Task"},"workflowInputs":{"mappingMode":"defineBelow","value":{"DB":"Tasks"},"matchingColumns":[],"schema":[{"id":"DB","displayName":"DB","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"property","displayName":"property","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"newvalue","displayName":"newvalue","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[780,120],"id":"2cf99f31-b9a0-4359-ae32-86049c5330ff","name":"MARKDONE"},{"parameters":{"name":"GettodaysTasks","description":"Call this tool whenever the user asks you what they have on their todo list today.","workflowId":{"__rl":true,"value":"NUNE9ZRhK1BKGVo1","mode":"list","cachedResultName":"gettodaystasksnotion"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"DB","displayName":"DB","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"firstdatepropertyname","displayName":"firstdatepropertyname","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"seconddatepropertyname","displayName":"seconddatepropertyname","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[900,120],"id":"d9da9cce-c449-4a52-906d-740d928916ff","name":"todaystasks"},{"parameters":{"name":"PROGRESSUPDATER","description":"Call this tool to delete a task on notion, when the user asks you to delete \"task x\" NOT UPDATE OR MARK DONE OR ADDED TO THE TODO LIST. This is for whenthe user wants a task deleted only. Please send the task the user wants deleted in their todo list as an inline query string.","workflowId":{"__rl":true,"value":"ZZeVlTsYVyYbBTJP","mode":"list","cachedResultName":"Delete Task"},"workflowInputs":{"mappingMode":"defineBelow","value":{"DB":"Tasks"},"matchingColumns":[],"schema":[{"id":"DB","displayName":"DB","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"property","displayName":"property","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"newvalue","displayName":"newvalue","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1020,120],"id":"d5addb9a-d5e0-4457-9669-eece0094b9f7","name":"DELETETASK"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"119178af-e91c-4938-9aa6-193ed451a391","leftValue":"={{ $json.response }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-40,425],"id":"03ec3f95-bd88-4431-be96-32aab8ef195f","name":"SENDTOAIORNAH"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.task }}","rightValue":"/emails","operator":{"type":"string","operation":"equals"},"id":"deee8710-4389-4943-8e1a-8b1ac6072f00"}],"combinator":"and"},"renameOutput":true,"outputKey":"GETEMAILS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"09c1a68d-ed65-431a-bb26-c5078d12481d","leftValue":"={{ $json.task }}","rightValue":"/taskstoday","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"TASKSTODAY"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6a1dd860-01bc-45a2-b270-5a7d9477f129","leftValue":"={{ $json.task }}","rightValue":"/addtask","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ADDTASK"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7a53f16b-fb73-4a2b-9465-e92c7c8d52e4","leftValue":"={{ $json.task }}","rightValue":"/updatetask","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"UPDATETASK"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"34a13a4b-668f-4065-a44c-e7055ccf86cf","leftValue":"={{ $json.task }}","rightValue":"/help","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"HELP"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"318a22d7-8d0d-4fac-8274-d5547a8bbb53","leftValue":"={{ $json.task }}","rightValue":"/schedule","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"SCHEDULE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ee3792f1-9967-4f6d-a794-f108916b8093","leftValue":"={{ $json.task }}","rightValue":"/sendemail","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"SEND EMAIL"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c6e0257b-3d52-4626-9f10-118e9a3784ef","leftValue":"={{ $json.task }}","rightValue":"/journaltemplate","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"JOURNALTEMPLATE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cd18d29e-1b23-4ab5-a204-ff0734641968","leftValue":"={{ $json.task }}","rightValue":"/projects","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PROJECTS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d3225b78-2997-4cd1-9815-13775a8ae770","leftValue":"={{ $json.task }}","rightValue":"/drive","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"SEARCHDRIVE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c87976c7-d0c4-40a1-aadc-6ac5413ec945","leftValue":"={{ $json.task }}","rightValue":"/project","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ENUMPROJECT"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[590,882],"id":"02e1561c-2dde-4795-bd30-22fd1135347b","name":"Switch"},{"parameters":{"workflowId":{"__rl":true,"value":"JGJofS8ilIE6LdoB","mode":"list","cachedResultName":"GETEMAILS"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["query"],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1880,150],"id":"190209a6-5a6e-4c89-ae16-003e1257bc9d","name":"GETS50EMAILS"},{"parameters":{"workflowId":{"__rl":true,"value":"NUNE9ZRhK1BKGVo1","mode":"list","cachedResultName":"gettodaystasksnotion"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"DB","displayName":"DB","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"firstdatepropertyname","displayName":"firstdatepropertyname","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"seconddatepropertyname","displayName":"seconddatepropertyname","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1880,350],"id":"727e7d4e-a712-4ae1-8cee-559e3bb21d34","name":"TASKS"},{"parameters":{"workflowId":{"__rl":true,"value":"HILtZk7tyNqMUIAn","mode":"list","cachedResultName":"ADD TASK"},"workflowInputs":{"mappingMode":"defineBelow","value":{"DB":"Tasks","query":"={{ $json.item }}"},"matchingColumns":[],"schema":[{"id":"DB","displayName":"DB","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1880,650],"id":"031abd38-8593-4702-bb6d-930b8db8731f","name":"ADDTASK"},{"parameters":{"workflowId":{"__rl":true,"value":"sxoT2l5gEFS2fugh","mode":"list","cachedResultName":"Update Task"},"workflowInputs":{"mappingMode":"defineBelow","value":{"DB":"Tasks","property":"Status|status","newvalue":"Done","query":"={{ $json.argumentstext }}"},"matchingColumns":[],"schema":[{"id":"DB","displayName":"DB","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"property","displayName":"property","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"newvalue","displayName":"newvalue","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1880,2050],"id":"7c1d866f-a880-4fc2-a8bb-1cfd5980c4ac","name":"UPDATE TASK"},{"parameters":{"workflowId":{"__rl":true,"value":"AFCgAfMFe97kBA8o","mode":"list","cachedResultName":"TELEGRAM MSG"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"Execution completed."},"matchingColumns":["message"],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2100,1209],"id":"a19a3aa8-61e4-4bf4-9e30-881f905d0569","name":"Reported","executeOnce":true},{"parameters":{"workflowId":{"__rl":true,"value":"AFCgAfMFe97kBA8o","mode":"list","cachedResultName":"TELEGRAM MSG"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"=/help - Displays this message\n/taskstoday - Gets tasks created between yesterday and today and tasks due today\n/addtask - Adds task to notion todolist\n/projects - Gets unfinished projects.\n/project PROJECT - Get's tasks associated with projects.\n/updatetask - Marks task on todo list as done\n/emails - Shows recent emails\n/sendemail - Send an email to one recipient. First argument is email the second is the subject but has to be joined by full stops i.e Bills.2025 rest is the message\n/schedule - Sends the current schedule and the eisenhower matrix\n/jounraltemplate - Sends a sort of organized journal template you can use in any given day\nAfter prayer procedure:\n- Finish after Salaam dua\n- Track the prayer we just prayed\n- Check off everything has been done\n- Plan what were gonna do between now and the next prayer in schedule\n- Create tasks if necessary\n- Move"},"matchingColumns":["message"],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1220,500],"id":"36c60681-e40c-4104-8405-cca2c51e60af","name":"HELP MSG"},{"parameters":{"operation":"get","documentURL":"=https://docs.google.com/document/d/1d55fgjbBUD6vWkH91uNWTImlODqV3YdTNPIVyqTB4y4/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1220,1850],"id":"298100b6-9fbd-4050-b976-ee14f8ede4a7","name":"Google Docs"},{"parameters":{"workflowId":{"__rl":true,"value":"AFCgAfMFe97kBA8o","mode":"list","cachedResultName":"TELEGRAM MSG"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"={{ $json.content }}"},"matchingColumns":["message"],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1440,1850],"id":"0ecd711f-4f3d-47bf-890e-8fb76a4bb376","name":"Execute Workflow"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1uzIS_9OG2X49gFzfgyZza_67kz2eNa1jPGIrgNxUZmM/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1660,1850],"id":"68b0e7ae-0a9f-4208-8ba0-64d3b6ef89f1","name":"Google Docs1"},{"parameters":{"workflowId":{"__rl":true,"value":"AFCgAfMFe97kBA8o","mode":"list","cachedResultName":"TELEGRAM MSG"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"={{ $('Google Docs1').item.json.content }}"},"matchingColumns":["message"],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1880,1850],"id":"650b69bf-721e-44a2-b7f1-b36a40e90524","name":"Execute Workflow1"},{"parameters":{"workflowId":{"__rl":true,"value":"nMf1uAyLU6Avew0M","mode":"list","cachedResultName":"SEND GMAIL FUNCTION"},"workflowInputs":{"mappingMode":"defineBelow","value":{"RECIPIENTSCOMMASEPARATED":"={{ $json.argumentslist[1] }}","SUBJECT":"={{ $json.argumentslist[2].split('.').join(' ') }}","BODY":"={{ $json.argumentslist.slice(3, $json.argumentslist.length).join(' ') }}"},"matchingColumns":[],"schema":[{"id":"SUBJECT","displayName":"SUBJECT","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"BODY","displayName":"BODY","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"RECIPIENTSCOMMASEPARATED","displayName":"RECIPIENTSCOMMASEPARATED","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1880,850],"id":"fac1dcf6-ca6a-4d05-abf6-772b1ad9386a","name":"SEND"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst tasks = $('SENDTOAIORNAH').first().json.argumentstext.split('-')\nconst taskslist = []\nfor (const item of tasks) {\n  if (item) {\n     taskslist.push({item: item.trim()}) \n  }\n}\n\nreturn taskslist"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1660,650],"id":"39ec7869-368f-4ddc-8ad5-3a334964c2b6","name":"Code"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1hM5wAjqqYXiWCybvJwGeWpA7VujAplSnUmFV9BUrKa4/edit?tab=t.0#heading=h.32tl12trfkvc"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1440,1050],"id":"95f69096-7f6d-412c-937d-f7d0abcdc82c","name":"template"},{"parameters":{"workflowId":{"__rl":true,"value":"AFCgAfMFe97kBA8o","mode":"list","cachedResultName":"TELEGRAM MSG"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"={{ $json.message }}"},"matchingColumns":["message"],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1880,1050],"id":"33bf82ce-0a9d-458f-b343-d41445fadc91","name":"SEND1"},{"parameters":{"jsCode":"const fullText = $input.first().json.content;\nconst limit = 4000;\nconst paragraphs = fullText.split(/\\n\\s*\\n/); // Split by paragraph breaks\nconst messages = [];\n\nlet currentMessage = \"\";\n\nfor (const para of paragraphs) {\n  const paraWithBreak = para.trim() + \"\\n\\n\";\n\n  if ((currentMessage + paraWithBreak).length <= limit) {\n    currentMessage += paraWithBreak;\n  } else {\n    messages.push({ json: { message: currentMessage.trim() } });\n    currentMessage = paraWithBreak;\n  }\n}\n\n// Push the final message\nif (currentMessage.length > 0) {\n  messages.push({ json: { message: currentMessage.trim() } });\n}\n\nreturn messages;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1660,1050],"id":"a1e173fe-3ca0-4309-bb5a-9e63169c5f4d","name":"Code1"},{"parameters":{"workflowId":{"__rl":true,"value":"qnhrz7btDAJQ8Ot7","mode":"list","cachedResultName":"SEARCH TASKS"},"workflowInputs":{"mappingMode":"defineBelow","value":{"DB":"Tasks","TAGS":"[\"MASHRUU\"]"},"matchingColumns":[],"schema":[{"id":"task_id","displayName":"task_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"task_name","displayName":"task_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"project_name","displayName":"project_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"DB","displayName":"DB","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"TAGS","displayName":"TAGS","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1440,1250],"id":"573003e7-cb76-45ab-9e3f-a707b221130a","name":"GETPROJECTS"},{"parameters":{"workflowId":{"__rl":true,"value":"AFCgAfMFe97kBA8o","mode":"list","cachedResultName":"TELEGRAM MSG"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"=- {{ $json.name }}"},"matchingColumns":["message"],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1880,1250],"id":"53aa25bf-43f7-40f8-b339-bf9e4ed8c39d","name":"SEND2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2bb8439f-58e6-4547-83e1-d20a0bbbfd96","leftValue":"={{ $json.property_status }}","rightValue":"Done","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1660,1250],"id":"352d39b2-0fbb-4fbe-89ca-d03f20536e2f","name":"Filter"},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.argumentslist[1] }}","filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1440,1450],"id":"2b27b786-fa29-4d58-bc8d-06dfbc6ac49a","name":"Google Drive"},{"parameters":{"workflowId":{"__rl":true,"value":"AFCgAfMFe97kBA8o","mode":"list","cachedResultName":"TELEGRAM MSG"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"Search complete, returning items"},"matchingColumns":["message"],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1660,1450],"id":"5130eaf0-ed30-4f65-9fc1-370ab2cf2abc","name":"SEARCH COMPLETE DEDIM"},{"parameters":{"workflowId":{"__rl":true,"value":"AFCgAfMFe97kBA8o","mode":"list","cachedResultName":"TELEGRAM MSG"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"=- {{ $('Google Drive').item.json.name}}"},"matchingColumns":["message"],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1880,1450],"id":"634e6329-2979-4d52-8149-ded51d138bfa","name":"RESULTS"},{"parameters":{"workflowId":{"__rl":true,"value":"qnhrz7btDAJQ8Ot7","mode":"list","cachedResultName":"SEARCH TASKS"},"workflowInputs":{"mappingMode":"defineBelow","value":{"project_name":"={{ $json.argumentstext }}","DB":"Tasks"},"matchingColumns":[],"schema":[{"id":"task_id","displayName":"task_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"task_name","displayName":"task_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"project_name","displayName":"project_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"DB","displayName":"DB","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"TAGS","displayName":"TAGS","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1660,1650],"id":"4876948a-7861-4ef9-9e80-83868505292c","name":"GET RELATED TASKS"},{"parameters":{"workflowId":{"__rl":true,"value":"AFCgAfMFe97kBA8o","mode":"list","cachedResultName":"TELEGRAM MSG"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"=- {{ $json.name }} Status: {{ $json.property_status }}"},"matchingColumns":["message"],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1880,1650],"id":"da681ddd-e6a3-4096-bba9-9229ba0f909f","name":"Execute Workflow2"},{"parameters":{"public":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-700,425],"id":"0ba58f60-0216-400a-bb53-8d68cd18253f","name":"When chat message received","webhookId":"0f6bc030-04d6-465b-a664-d179957b353b"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst theitem = $input.first().json.chatInput\nconst botcommandornah = theitem.startsWith('/')\n\nconst allarguments = theitem.split(/\\s+/)\nconst itemslength = allarguments.length\nconst joinedarguments = allarguments.slice(1, itemslength)\n\nreturn [\n  {\n    response: botcommandornah, \n    task: allarguments[0], \n    argumentslist: allarguments, \n    argumentstext: joinedarguments.join(' '),\n    sessionid: $input.first().json.sessionId,\n    type: \"CHAT\"\n  }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,425],"id":"1a96ca95-1ff0-4ebc-8d5e-8cc762cac5c9","name":"ISNOTBOTCOMMAND1"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-260,425],"id":"9011b618-959f-47e2-9b03-c0063e90620b","name":"AMALGAM"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('AMALGAM').item.json.type }}","rightValue":"TELEGRAM","operator":{"type":"string","operation":"equals"},"id":"42934de9-911b-4b45-9e17-14bacd783616"}],"combinator":"and"},"renameOutput":true,"outputKey":"TELERESPONSE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0070b393-043a-4331-8fed-a921fd09bfd1","leftValue":"={{ $('AMALGAM').item.json.type }}","rightValue":"TELEGRAM","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"NORMALRESPONSE"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1220,-100],"id":"f72ee38d-d8fe-4c44-9404-74f5f7afdc71","name":"Switch1","alwaysOutputData":false},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1440,0],"id":"c5700cb9-41ea-42e7-96f5-ba07cde80615","name":"Respond to Webhook"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"output\": \"/help - Displays this message\\n/taskstoday - Gets tasks created between yesterday and today and tasks due today\\n/addtask - Adds task to notion todolist\\n/projects - Gets unfinished projects.\\n/project PROJECT - Gets tasks associated with projects.\\n/updatetask - Marks task on todo list as done\\n/emails - Shows recent emails\\n/sendemail - Send an email to one recipient. First argument is email, the second is the subject joined by full stops (i.e. Bills.2025), rest is the message\\n/schedule - Sends the current schedule and the eisenhower matrix\\n/jounraltemplate - Sends a sort of organized journal template you can use in any given day\\nAfter prayer procedure:\"\n}\n","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1440,500],"id":"dcdf745b-52a6-4a5d-8323-4fc092b379c3","name":"Respond to Webhook1"}],"connections":{"AI Agent":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Telegram":{"main":[[],[{"node":"Correct errors","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Add Task Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"JOURNAL TOOL":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"STRATEGYUPDATER":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"MARKDONE":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"todaystasks":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"DELETETASK":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"SENDTOAIORNAH":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"GETS50EMAILS","type":"main","index":0}],[{"node":"TASKS","type":"main","index":0}],[{"node":"Code","type":"main","index":0}],[{"node":"UPDATE TASK","type":"main","index":0}],[{"node":"HELP MSG","type":"main","index":0}],[{"node":"Google Docs","type":"main","index":0}],[{"node":"SEND","type":"main","index":0}],[{"node":"template","type":"main","index":0}],[{"node":"GETPROJECTS","type":"main","index":0}],[{"node":"Google Drive","type":"main","index":0}],[{"node":"GET RELATED TASKS","type":"main","index":0}]]},"TASKS":{"main":[[{"node":"Reported","type":"main","index":0}]]},"GETS50EMAILS":{"main":[[{"node":"Reported","type":"main","index":0}]]},"ADDTASK":{"main":[[{"node":"Reported","type":"main","index":0}]]},"UPDATE TASK":{"main":[[{"node":"Reported","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Google Docs1","type":"main","index":0}]]},"Google Docs1":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"Reported","type":"main","index":0}]]},"SEND":{"main":[[{"node":"Reported","type":"main","index":0}]]},"Code":{"main":[[{"node":"ADDTASK","type":"main","index":0}]]},"template":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"SEND1","type":"main","index":0}]]},"SEND1":{"main":[[{"node":"Reported","type":"main","index":0}]]},"GETPROJECTS":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"SEND2","type":"main","index":0}]]},"SEND2":{"main":[[{"node":"Reported","type":"main","index":0}]]},"HELP MSG":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"SEARCH COMPLETE DEDIM","type":"main","index":0}]]},"SEARCH COMPLETE DEDIM":{"main":[[{"node":"RESULTS","type":"main","index":0}]]},"RESULTS":{"main":[[{"node":"Reported","type":"main","index":0}]]},"GET RELATED TASKS":{"main":[[{"node":"Execute Workflow2","type":"main","index":0}]]},"Execute Workflow2":{"main":[[{"node":"Reported","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"ISNOTBOTCOMMAND1","type":"main","index":0}]]},"ISNOTBOTCOMMAND1":{"main":[[{"node":"AMALGAM","type":"main","index":0}]]},"AMALGAM":{"main":[[{"node":"SENDTOAIORNAH","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Telegram","type":"main","index":0}],[{"node":"Respond to Webhook","type":"main","index":0}]]},"Respond to Webhook1":{"main":[[]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"peod5nMyYJZ3YezW"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8e8fae88-c889-4c32-a9f7-d5c59d257b61","triggerCount":1,"shared":[{"createdAt":"2025-05-06T19:35:09.314Z","updatedAt":"2025-05-06T19:35:09.314Z","role":"workflow:owner","workflowId":"iBV6Ew1uPPmBv5gz","projectId":"BOg1NIj04rxzpSxN"}],"tags":[]}