JGJofS8ilIE6LdoB-GETEMAILS.json
{"createdAt":"2025-04-21T18:54:13.303Z","updatedAt":"2025-05-22T08:39:05.000Z","id":"JGJofS8ilIE6LdoB","name":"GETEMAILS","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"getAll","filters":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[220,0],"id":"177d98a1-7982-40d7-a9ba-51eb1809afba","name":"Gmail","webhookId":"f28d7952-d35d-45dd-b0a7-907807d26ae4"},{"parameters":{"workflowInputs":{"values":[{"name":"query"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"d3c3fa3c-d0cc-47ac-9414-79257f16aa8d","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"8f900411-e6ef-413c-9468-26503f512aef","name":"=output","value":"={{ $input.all().map(item => `From: ${$json.From}\\nSubject ${$json.Subject}\\nSnippet: ${$json.snippet}`).join(\"\\n\\n\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,0],"id":"d067259c-ba7b-41a1-8958-e7e3b25b1356","name":"Edit Fields","executeOnce":true}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Gmail":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"eeed69db-0ff6-470b-a7e4-2a86ff73c909","triggerCount":0,"shared":[{"createdAt":"2025-04-21T18:54:13.309Z","updatedAt":"2025-04-21T18:54:13.309Z","role":"workflow:owner","workflowId":"JGJofS8ilIE6LdoB","projectId":"BOg1NIj04rxzpSxN"}],"tags":[]}