kMlvDluSYEYvnLEi-VIDEO_MAKER.json
{"createdAt":"2025-04-11T17:09:03.313Z","updatedAt":"2025-04-11T17:09:11.000Z","id":"kMlvDluSYEYvnLEi","name":"VIDEO MAKER","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"e7217736-b1ba-407b-a364-167757c38684","name":"Start AutoClip Workflow","type":"n8n-nodes-base.manualTrigger","position":[60,120],"typeVersion":1},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"id","value":"184-zcrfWSzQpDa-t57Oo_8DLyAF-2B_6yvGrybrcd5I"},"sheetName":{"__rl":true,"mode":"list","value":90817124,"cachedResultUrl":"https://docs.google.com/spreadsheets/d/184-zcrfWSzQpDa-t57Oo_8DLyAF-2B_6yvGrybrcd5I/edit#gid=90817124","cachedResultName":"video_backgroud_list"},"columns":{"value":{"BackgroundURL":"={{ $json.webViewLink }}"},"schema":[{"id":"BackgroundURL","type":"string","display":true,"required":false,"displayName":"BackgroundURL","defaultMatch":false,"canBeUsedToMatch":true},{"id":"BackgroudStatus","type":"string","display":true,"required":false,"displayName":"BackgroudStatus","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"67c4e38f-c93f-4813-8a2c-112b4c6bc19a","name":"Retrieve Video Background Data","type":"n8n-nodes-base.googleSheets","position":[520,300],"typeVersion":4.5},{"parameters":{"documentId":{"__rl":true,"mode":"id","value":"184-zcrfWSzQpDa-t57Oo_8DLyAF-2B_6yvGrybrcd5I"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/184-zcrfWSzQpDa-t57Oo_8DLyAF-2B_6yvGrybrcd5I/edit#gid=0","cachedResultName":"Quotes_status"},"filtersUI":{"values":[{"lookupColumn":"CreateStatus"}]},"options":{}},"id":"6b33cabb-76a3-47dd-87c3-d2e70ba32b93","name":"Retrieve Quote Data","type":"n8n-nodes-base.googleSheets","position":[520,120],"typeVersion":4.5},{"parameters":{"resource":"fileFolder","filter":{"folderId":{"__rl":true,"mode":"id","value":"1mLOqFJZvUm563mJ7LvTsIcKrAoakX-h2"}},"options":{"fields":["webViewLink","id","name"]}},"id":"ba960ffb-bf6c-4266-b90a-36dad6137150","name":"List Video Background Files","type":"n8n-nodes-base.googleDrive","position":[280,300],"typeVersion":3},{"parameters":{"assignments":{"assignments":[{"id":"19727718-f70d-4333-93dd-1ade2b1a66bf","name":"MusicBackgroundFolderID","type":"string","value":"12T6ABEuR7WlZ2i88GqcB3U4DmuKVM4iR"}]},"options":{}},"id":"0a641896-c639-4299-9a46-54392217a82e","name":"Configure Music Background Folder ID","type":"n8n-nodes-base.set","position":[60,480],"typeVersion":3.4},{"parameters":{"resource":"fileFolder","filter":{"folderId":{"__rl":true,"mode":"id","value":"=12T6ABEuR7WlZ2i88GqcB3U4DmuKVM4iR"}},"options":{"fields":["webViewLink","name","id"]}},"id":"91a597e4-e1f4-483e-b610-3debafd2f7ef","name":"List Music Background Files","type":"n8n-nodes-base.googleDrive","position":[280,480],"typeVersion":3},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"id","value":"184-zcrfWSzQpDa-t57Oo_8DLyAF-2B_6yvGrybrcd5I"},"sheetName":{"__rl":true,"mode":"list","value":1264732774,"cachedResultUrl":"https://docs.google.com/spreadsheets/d/184-zcrfWSzQpDa-t57Oo_8DLyAF-2B_6yvGrybrcd5I/edit#gid=1264732774","cachedResultName":"music_backgroud_list"},"columns":{"value":{"MusicURL":"={{ $json.webViewLink }}"},"schema":[{"id":"MusicURL","type":"string","display":true,"required":false,"displayName":"MusicURL","defaultMatch":false,"canBeUsedToMatch":true},{"id":"MusicStatus","type":"string","display":true,"required":false,"displayName":"MusicStatus","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"1164673c-b580-45c1-8f30-f5a3b09f70ea","name":"Retrieve Music Background Data","type":"n8n-nodes-base.googleSheets","position":[520,480],"typeVersion":4.5},{"parameters":{"numberInputs":3},"id":"5a412abb-d84a-4f3a-b326-9a322b8e99d3","name":"Merge File Selection Data","type":"n8n-nodes-base.merge","position":[760,320],"typeVersion":3},{"parameters":{"jsCode":"function getRandomItem(arr) {\n  return arr[Math.floor(Math.random() * arr.length)];\n}\n\n// Filter items based on unique keys from the merged inputs\nconst videoItems = items.filter(item => item.json.BackgroundURL !== undefined);\nconst musicItems = items.filter(item => item.json.MusicURL !== undefined);\nconst quoteItems = items.filter(item => item.json.Qoute !== undefined);\n\n// Debug logs to check counts in the execution log\nconsole.log(\"Video Items count: \" + videoItems.length);\nconsole.log(\"Music Items count: \" + musicItems.length);\nconsole.log(\"Quote Items count: \" + quoteItems.length);\n\nif (videoItems.length === 0 || musicItems.length === 0 || quoteItems.length === 0) {\n  throw new Error(\"One or more input arrays are empty. Check your previous nodes.\");\n}\n\nconst selectedVideo = getRandomItem(videoItems);\nconst selectedMusic = getRandomItem(musicItems);\nconst selectedQuote = getRandomItem(quoteItems);\n\n// Return the combined selected items\nreturn [{\n  video: selectedVideo.json,\n  music: selectedMusic.json,\n  quote: selectedQuote.json\n}];\n"},"id":"321bd8d1-7de0-45ec-96a1-3ca4c2156c05","name":"Select Random Video, Music & Quote","type":"n8n-nodes-base.code","position":[960,320],"typeVersion":2},{"parameters":{"content":"## Data Preparation & File Selection\nRetrieve and merge source data for quotes, video backgrounds, and music from Google Sheets and Google Drive; then randomly select one quote, one background video, and one music file.","height":660,"width":1100},"id":"ad8a1fcd-4689-4c03-bac3-f50e0af4498e","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"url","value":"={{ $json.video.BackgroundURL }}"},"options":{"binaryPropertyName":"data"}},"id":"aa9a2031-c3ba-42c0-aa2a-973c0a7f2850","name":"Download Selected Video Background","type":"n8n-nodes-base.googleDrive","position":[1200,120],"typeVersion":3},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"url","value":"={{ $json.music.MusicURL }}"},"options":{"binaryPropertyName":"data"}},"id":"48b1b993-2081-481e-900b-a713f3733a83","name":"Download Selected Music Background","type":"n8n-nodes-base.googleDrive","position":[1200,460],"typeVersion":3},{"parameters":{"operation":"write","fileName":"video1.mp4","options":{}},"id":"b6268794-7290-4eab-aaaa-b0e3f160209c","name":"Save Video Background Locally","type":"n8n-nodes-base.readWriteFile","position":[1440,120],"typeVersion":1},{"parameters":{"operation":"write","fileName":"music1.mp3","options":{"append":false}},"id":"cfcb2218-ed2e-4b75-8fa3-46ce074b9794","name":"Save Music Background Locally","type":"n8n-nodes-base.readWriteFile","position":[1440,460],"typeVersion":1},{"parameters":{"jsCode":"// Define separate configuration for the quote and the author\nconst quoteFont = \"Kanit-Italic.ttf\";      // Font for the quote\nconst quoteFontSize = 70;\nconst authorFont = \"Kanit-Italic.ttf\";         // Font for the author (ensure this supports Thai)\nconst authorFontSize = 50;\nconst fontColor = \"white\";\nconst lineHeightMultiplier = 1.1;\nconst videoWidth = 1080;\nconst margin = 40;  // Gap from left and right edges\n\n// Effective width for the quote text (accounting for left/right margins)\nconst effectiveVideoWidth = videoWidth - 2 * margin;\n\n// Estimate average character width based on quoteFontSize (this is a rough estimate)\nconst avgCharWidth = quoteFontSize * 0.6;\nconst maxCharsPerLine = Math.floor(effectiveVideoWidth / avgCharWidth);\n\n// Retrieve the quote transcript and author from the \"Merge\" node\nconst transcript = $node[\"Merge File Selection Data\"].json[\"Qoute\"];\nif (!transcript) {\n  throw new Error(\"Quote not found\");\n}\nconst author = $node[\"Merge File Selection Data\"].json[\"Author\"];\nif (!author) {\n  throw new Error(\"Author not found\");\n}\n\n// Split the transcript into words and group them into lines based on maxCharsPerLine\nconst words = transcript.split(' ');\nconst lines = [];\nlet currentLine = \"\";\nlet currentCharCount = 0;\n\nwords.forEach(word => {\n  const wordLength = word.length;\n  const additionalSpace = currentLine ? 1 : 0;\n  const potentialLength = currentCharCount + additionalSpace + wordLength;\n  if (potentialLength <= maxCharsPerLine) {\n    currentLine += (currentLine ? \" \" : \"\") + word;\n    currentCharCount = potentialLength;\n  } else {\n    lines.push(currentLine);\n    currentLine = word;\n    currentCharCount = wordLength;\n  }\n});\nif (currentLine) {\n  lines.push(currentLine);\n}\n\n// Calculate layout for the quote block\nconst lineHeight = quoteFontSize * lineHeightMultiplier;\nconst totalHeight = lines.length * lineHeight;\n\n// Build drawtext commands for each quote line (centered horizontally)\n// Each line is positioned so that the entire quote block is vertically centered.\nconst quoteCommands = lines.map((line, index) => {\n  // Escape any single quotes in the line\n  const escapedLine = line.replace(/'/g, \"\\\\'\");\n  return `drawtext=fontfile=${quoteFont}:text='${escapedLine}':fontsize=${quoteFontSize}:fontcolor=${fontColor}:x=(w-text_w)/2:y=((h-${totalHeight})/2)+(${index}*${lineHeight})`;\n});\n\n// Build the drawtext command for the author\n// Place the author text below the quote block with a small gap (e.g. 20 pixels)\n// Align it to the right by setting x = w - text_w - margin.\nconst authorY = `((h-${totalHeight})/2)+(${lines.length}*${lineHeight})+20`;\nconst escapedAuthor = author.replace(/'/g, \"\\\\'\");\nconst authorCommand = `drawtext=fontfile=${authorFont}:text='${escapedAuthor}':fontsize=${authorFontSize}:fontcolor=${fontColor}:x=w-text_w-${margin}:y=${authorY}`;\n\n// Combine all commands (separated by commas) into one drawtext filter string.\nconst fullDrawTextFilter = quoteCommands.concat(authorCommand).join(\", \");\n\n// Return the prepared filter string for insertion into your FFmpeg command.\nreturn {\n  json: {\n    drawText: fullDrawTextFilter\n  }\n};\n"},"id":"a951f426-c489-4ce5-b39d-f1d424759f0a","name":"Prepare Overlay Text (Quote & Author)","type":"n8n-nodes-base.code","position":[1640,140],"typeVersion":2},{"parameters":{"command":"=ffmpeg -i {{ $('Save Video Background Locally').item.json.fileName }} -i {{ $('Save Music Background Locally').item.json.fileName }} -filter_complex \"[0:v]scale=1080:1920:force_original_aspect_ratio=increase,crop=1080:1920[vid]; color=black@0.3:size=1080x1920:d=10[bg]; [vid][bg]overlay=shortest=1[bgvid]; [bgvid]{{ $json.drawText }}[outv]; [1:a]volume=0.8[aout]\" -map \"[outv]\" -map \"[aout]\" -aspect 9:16 -c:v libx264 -c:a aac -shortest output.mp4 -y"},"id":"ca36d8d6-47e3-441c-a14a-d069f1732d28","name":"Generate Final Video Clip","type":"n8n-nodes-base.executeCommand","position":[1660,460],"typeVersion":1},{"parameters":{"content":"## File Download & Video Processing\nDownload the selected files, write them to disk, prepare overlay text (quote and author), and generate the final video clip using FFmpeg.","height":660,"width":700,"color":3},"id":"a54e6f98-a0c9-4156-b847-fecf5a2a21fe","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1120,0],"typeVersion":1},{"parameters":{"method":"POST","url":"=https://www.googleapis.com/upload/youtube/v3/videos?part=snippet,status&uploadType=resumable","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Upload-Content-Type","value":"video/webm"}]},"sendBody":true,"contentType":"raw","rawContentType":"RAW/JSON","body":"={\n  \"snippet\": {\n    \"title\": \"{{ $('Save Music Background Locally').item.json.quote.Qoute }}\",\n    \"description\": \"{{ $('Save Music Background Locally').item.json.quote.Qoute }}\\n{{ $('Save Music Background Locally').item.json.quote.Author }}\",\n    \"defaultLanguage\": \"en\",\n    \"defaultAudioLanguage\": \"en\"\n  },\n  \"status\": {\n    \"privacyStatus\": \"public\",\n    \"license\": \"youtube\",\n    \"embeddable\": true,\n    \"publicStatsViewable\": true,\n    \"madeForKids\": false\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"id":"70a31336-4785-403c-ac24-4ec4664c4413","name":"Initiate YouTube Resumable Upload","type":"n8n-nodes-base.httpRequest","position":[1880,140],"typeVersion":4.2},{"parameters":{"fileSelector":"=output.mp4","options":{}},"id":"76765806-6b6b-438d-abeb-8856b3f4a166","name":"Read output file","type":"n8n-nodes-base.readWriteFile","position":[2080,140],"typeVersion":1},{"parameters":{"method":"PUT","url":"={{ $('Initiate YouTube Resumable Upload').item.json.headers.location }}","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"video/webm"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"id":"69705fe4-d9a6-4684-8834-f6be9e4ca903","name":"Upload Video to YouTube","type":"n8n-nodes-base.httpRequest","position":[2280,140],"typeVersion":4.2},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"id","value":"184-zcrfWSzQpDa-t57Oo_8DLyAF-2B_6yvGrybrcd5I"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/184-zcrfWSzQpDa-t57Oo_8DLyAF-2B_6yvGrybrcd5I/edit#gid=0","cachedResultName":"Quotes_status"},"columns":{"value":{"Index":"={{ $('Save Music Background Locally').item.json.quote.Index }}","YoutubeURL":"=https://www.youtube.com/watch?v={{ $json.id }}","CreateStatus":"DONE"},"schema":[{"id":"Index","type":"string","display":true,"removed":false,"required":false,"displayName":"Index","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Qoute","type":"string","display":true,"required":false,"displayName":"Qoute","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Author","type":"string","display":true,"required":false,"displayName":"Author","defaultMatch":false,"canBeUsedToMatch":true},{"id":"CreateStatus","type":"string","display":true,"required":false,"displayName":"CreateStatus","defaultMatch":false,"canBeUsedToMatch":true},{"id":"YoutubeURL","type":"string","display":true,"required":false,"displayName":"YoutubeURL","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["Index"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"12d4aeae-4860-4044-abd1-933aefb2277d","name":"Update Quote Upload Status","type":"n8n-nodes-base.googleSheets","position":[1880,460],"typeVersion":4.5},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"url","value":"https://docs.google.com/spreadsheets/d/184-zcrfWSzQpDa-t57Oo_8DLyAF-2B_6yvGrybrcd5I/edit?gid=0#gid=0"},"sheetName":{"__rl":true,"mode":"list","value":90817124,"cachedResultUrl":"https://docs.google.com/spreadsheets/d/184-zcrfWSzQpDa-t57Oo_8DLyAF-2B_6yvGrybrcd5I/edit#gid=90817124","cachedResultName":"video_backgroud_list"},"columns":{"value":{"BackgroundURL":"{{ $('Read/Write Files from Disk1').item.json.video.BackgroundURL }}","BackgroudStatus":"DONE"},"schema":[{"id":"BackgroundURL","type":"string","display":true,"removed":false,"required":false,"displayName":"BackgroundURL","defaultMatch":false,"canBeUsedToMatch":true},{"id":"BackgroudStatus","type":"string","display":true,"required":false,"displayName":"BackgroudStatus","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["BackgroundURL"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"82267b3d-e491-4758-a819-d7daf76dffb0","name":"Mark Background as Used","type":"n8n-nodes-base.googleSheets","position":[2260,460],"typeVersion":4.5},{"parameters":{"content":"## Video Upload & Post-Processing\nUpload the final video to YouTube using the YouTube API and update your Google Sheets with upload statuses and YouTube links.","height":660,"width":620},"id":"4671866c-7b57-4a27-8e03-9dfa4fdf4cc5","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1840,0],"typeVersion":1}],"connections":{"Read output file":{"main":[[{"node":"Upload Video to YouTube","type":"main","index":0}]]},"Retrieve Quote Data":{"main":[[{"node":"Merge File Selection Data","type":"main","index":0}]]},"Start AutoClip Workflow":{"main":[[{"node":"Retrieve Quote Data","type":"main","index":0},{"node":"List Video Background Files","type":"main","index":0},{"node":"Configure Music Background Folder ID","type":"main","index":0}]]},"Upload Video to YouTube":{"main":[[{"node":"Update Quote Upload Status","type":"main","index":0}]]},"Generate Final Video Clip":{"main":[[{"node":"Initiate YouTube Resumable Upload","type":"main","index":0}]]},"Merge File Selection Data":{"main":[[{"node":"Select Random Video, Music & Quote","type":"main","index":0}]]},"Update Quote Upload Status":{"main":[[{"node":"Mark Background as Used","type":"main","index":0}]]},"List Music Background Files":{"main":[[{"node":"Retrieve Music Background Data","type":"main","index":0}]]},"List Video Background Files":{"main":[[{"node":"Retrieve Video Background Data","type":"main","index":0}]]},"Save Music Background Locally":{"main":[[{"node":"Prepare Overlay Text (Quote & Author)","type":"main","index":0}]]},"Save Video Background Locally":{"main":[[{"node":"Download Selected Music Background","type":"main","index":0}]]},"Retrieve Music Background Data":{"main":[[{"node":"Merge File Selection Data","type":"main","index":2}]]},"Retrieve Video Background Data":{"main":[[{"node":"Merge File Selection Data","type":"main","index":1}]]},"Initiate YouTube Resumable Upload":{"main":[[{"node":"Read output file","type":"main","index":0}]]},"Download Selected Music Background":{"main":[[{"node":"Save Music Background Locally","type":"main","index":0}]]},"Download Selected Video Background":{"main":[[{"node":"Save Video Background Locally","type":"main","index":0}]]},"Select Random Video, Music & Quote":{"main":[[{"node":"Download Selected Video Background","type":"main","index":0}]]},"Configure Music Background Folder ID":{"main":[[{"node":"List Music Background Files","type":"main","index":0}]]},"Prepare Overlay Text (Quote & Author)":{"main":[[{"node":"Generate Final Video Clip","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1ea1c4a6-f12c-4ff7-9be1-fc1a6eb53907","triggerCount":0,"shared":[{"createdAt":"2025-04-11T17:09:03.318Z","updatedAt":"2025-04-11T17:09:03.318Z","role":"workflow:owner","workflowId":"kMlvDluSYEYvnLEi","projectId":"BOg1NIj04rxzpSxN"}],"tags":[]}