nMf1uAyLU6Avew0M-SEND_GMAIL_FUNCTION.json
{"createdAt":"2025-04-21T04:06:46.924Z","updatedAt":"2025-10-25T08:42:05.000Z","id":"nMf1uAyLU6Avew0M","name":"SEND GMAIL FUNCTION","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"SUBJECT"},{"name":"BODY"},{"name":"RECIPIENTSCOMMASEPARATED"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"33d9dc84-8c66-4702-807d-4cd58b106fd1","name":"When Executed by Another Workflow"},{"parameters":{"sendTo":"={{ $json.RECIPIENTSCOMMASEPARATED || \"jazeelakarima@gmail.com\" }}","subject":"={{ $json.SUBJECT || \"SEND TEST\" }}","message":"={{ $json.BODY || \"Lo estamos testando nada mas.\" }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[220,0],"id":"c7412112-96f8-434a-b9ea-20c219efcaf6","name":"Gmail","webhookId":"e9dbcf41-9248-450d-a3c6-02e04d52473f"},{"parameters":{"assignments":{"assignments":[{"id":"139567af-21b5-4763-8eb0-9a7e57fda75f","name":"output","value":"Email sent sucessfully.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,0],"id":"1cd8f941-119f-41d5-94df-03d5649e3186","name":"Edit Fields"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Gmail":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"0cb26566-d572-4263-89f9-beef09d8c894","triggerCount":0,"shared":[{"createdAt":"2025-04-21T04:06:46.929Z","updatedAt":"2025-04-21T04:06:46.929Z","role":"workflow:owner","workflowId":"nMf1uAyLU6Avew0M","projectId":"BOg1NIj04rxzpSxN"}],"tags":[]}