NUNE9ZRhK1BKGVo1-gettodaystasksnotion.json
{"createdAt":"2025-04-15T07:22:23.682Z","updatedAt":"2025-05-27T00:27:27.000Z","id":"NUNE9ZRhK1BKGVo1","name":"gettodaystasksnotion","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"DB"},{"name":"firstdatepropertyname"},{"name":"seconddatepropertyname"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,-300],"id":"bace81c9-2683-4181-9a41-71c93f152d1e","name":"When Executed by Another Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"QcPf19eFxNcqK59o","mode":"list","cachedResultName":"GET NOTION DB BY NAME"},"workflowInputs":{"mappingMode":"defineBelow","value":{"DB":"={{ $('When Executed by Another Workflow').DB || \"Tasks\" }}"},"matchingColumns":[],"schema":[{"id":"DB","displayName":"DB","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"NAME","displayName":"NAME","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[440,-300],"id":"fcb15d0c-b651-4f5f-b441-e4d1b9a2fadf","name":"GETDB"},{"parameters":{"jsCode":"const yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\n\nreturn [\n  {date: yesterday.toISOString().split('T')[0]}\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[220,-300],"id":"1c68feca-7db2-4de1-97a5-8b6c208e3ce9","name":"Code"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"filterType":"manual","filters":{"conditions":[{"key":"=Due Date|date","condition":"on_or_before","date":"={{ {start: $('When Executed by Another Workflow').item.json.firstdatepropertyname || $('Code').item.json.date } }}"},{"key":"Fecha de creación|created_time","condition":"on_or_after","createdTimeValue":"={{ $('When Executed by Another Workflow').item.json.seconddatepropertyname || $('Code').item.json.date }}"},{"key":"=Status|status","condition":"equals","statusValue":"=Planned"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[660,-300],"id":"4d3a6054-d1b5-4842-a12d-e1fa2b801567","name":"GETTASKS"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9c142b8d-3c41-4baa-9ea2-0f1e7881db09","leftValue":"={{ $json.property_status }}","rightValue":"Done","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[880,-300],"id":"f7f48ea7-1f7a-4a20-94aa-3b4b9bcac1d6","name":"Not done stuff"},{"parameters":{"assignments":{"assignments":[{"id":"e7fc4332-1698-4ac7-b1bf-93f182308bdd","name":"output","value":"={{ $input.all().map((item) => `- ${item.json.name}`).join('\\n') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1100,-300],"id":"55dda6ba-b1a5-4da7-81d9-8764b689b478","name":"feedback to ai","alwaysOutputData":true}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code","type":"main","index":0}]]},"GETDB":{"main":[[{"node":"GETTASKS","type":"main","index":0}]]},"Code":{"main":[[{"node":"GETDB","type":"main","index":0}]]},"GETTASKS":{"main":[[{"node":"Not done stuff","type":"main","index":0}]]},"Not done stuff":{"main":[[{"node":"feedback to ai","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"DB":null,"firstdatepropertyname":null,"seconddatepropertyname":null}}]},"versionId":"61fad8d6-ef62-44da-9c2b-9d5c58d11ccc","triggerCount":0,"shared":[{"createdAt":"2025-04-15T07:22:23.694Z","updatedAt":"2025-04-15T07:22:23.694Z","role":"workflow:owner","workflowId":"NUNE9ZRhK1BKGVo1","projectId":"BOg1NIj04rxzpSxN"}],"tags":[]}