oeuYCQ2dmgijrDd0-ADD_CONTENT_NOTION_PAGE.json
{"createdAt":"2025-04-13T08:57:31.399Z","updatedAt":"2025-05-07T18:50:11.000Z","id":"oeuYCQ2dmgijrDd0","name":"ADD CONTENT NOTION PAGE","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"PAGEID"},{"name":"query"},{"name":"PAGETITLE"},{"name":"DB"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"ecb93ccf-641c-4770-ac2e-fb11d8f618ae","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.PAGEID = item.json.PAGEID || \"1bafc013f31c8052b3e0ce63b18e256e\"\n  item.json.PAGETITLE = item.json.PAGETITLE || \"JOURNAL\"\n  item.json.DB = item.json.DB || \"Notas\"\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[280,0],"id":"13524b12-5198-40de-b631-1f84c4576bda","name":"Code"},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"85809d2f-a144-460b-a4bf-db9f48b41261","mode":"list","cachedResultName":"Notas","cachedResultUrl":"https://www.notion.so/85809d2fa144460ba4bfdb9f48b41261"},"title":"={{ $now }}","propertiesUi":{"propertyValues":[{"key":"Tags|multi_select","multiSelectValue":["JOURNAL"]}]},"blockUi":{"blockValues":[{"richText":true,"text":{"text":[{"text":"={{ $json.query }}","annotationUi":{}}]}}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[640,0],"id":"6f8d8358-8cc6-4da2-a330-bc37bb2765bb","name":"Notion2"},{"parameters":{"assignments":{"assignments":[{"id":"272705b2-d24e-40ac-9b96-2082def67468","name":"response","value":"success","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[860,0],"id":"f7f3f90f-cec8-47b7-b45c-78c967abc8d8","name":"Edit Fields"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Notion2","type":"main","index":0}]]},"Notion2":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a0eb0efe-c66f-4d00-9856-0a8114e74001","triggerCount":0,"shared":[{"createdAt":"2025-04-13T08:57:31.403Z","updatedAt":"2025-04-13T08:57:31.403Z","role":"workflow:owner","workflowId":"oeuYCQ2dmgijrDd0","projectId":"BOg1NIj04rxzpSxN"}],"tags":[]}