peod5nMyYJZ3YezW-ERROR_HANDLER_TELEGRAM.json
{"createdAt":"2025-04-11T17:12:49.646Z","updatedAt":"2025-04-28T19:31:51.000Z","id":"peod5nMyYJZ3YezW","name":"ERROR HANDLER TELEGRAM","active":false,"isArchived":false,"nodes":[{"parameters":{"chatId":"={{ $('Config').item.json.telegramChatId }}","text":"=Workflow: {{ $('Error Trigger').first().json.workflow.name }}\nData & Time: {{ $now }}\nURL: {{ $('Error Trigger').first().json.execution.url }}\nLast Node: {{ $('Error Trigger').first().json.execution.lastNodeExecuted }}\nError Detal: {{ $('Error Trigger').first().json.execution.error.message }}\n","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"5f2ebb8f-e5fb-4339-98ae-9bd69c21fd8e","name":"Telegram","type":"n8n-nodes-base.telegram","position":[1040,620],"webhookId":"b3f6e388-8313-4bc1-8077-d81471b2f95d","retryOnFail":true,"typeVersion":1.2,"waitBetweenTries":3000},{"parameters":{"content":"### **How to Use Telegram Error Notifier**\n\n### **Step 1: Prerequisites**\n1. **Telegram Bot:**\n   - Create a bot using [BotFather](https://core.telegram.org/bots#botfather) and get the bot token.\n   - Add the bot to your Telegram group/channel and note the `chatId`.\n\n2. **n8n Setup:**\n   - Ensure the **Telegram** and **Error Trigger** nodes are installed.\n---\n### **Step 2: Configure the Workflow**\n1. **Update Telegram Chat ID:**\n   - Open the **Config** node.\n   - Replace `telegramChatId` with your actual Telegram group/channel ID:\n     ```json\n     return [\n       {\n         \"telegramChatId\": 123456789, // Replace with your chat ID, format 123456789 or -123456789\n       }\n     ];\n     ```\n\n2. **Set Telegram Bot Credentials:**\n   - Open the **Telegram** node.\n   - Add your bot token in the **Credentials** section.\n\n3. **Activate the Workflow:**\n   - Toggle the **Active** switch to enable the workflow.\n---\n### **Step 3: Set Up Error Workflow**\n1. Open the workflow where you want error notifications.\n2. Go to **Settings** > **Error Workflow**.\n3. Select **Telegram Error Notifier** from the dropdown.\n4. Save the changes.\n---\n### **Step 4: Test the Workflow**\n1. Trigger an error in the workflow.\n2. Check your Telegram for the error notification, which includes:\n   - Workflow name\n   - Date and time\n   - Execution URL\n   - Last node executed\n   - Error details\n---\n### **Example Notification**\n```\nWorkflow: My Workflow 1\nData & Time: 2023-10-27T12:34:56Z\nURL: https://n8n.example.com/execution/12345\nLast Node: HTTP Request\nError Detail: Failed to connect to the server.\n```\n---\n### **Troubleshooting**\n- **No Notifications:**  \n  Ensure the workflow is active, and the bot token/chat ID is correct.\n- **Permission Issues:**  \n  Ensure the bot can send messages in your Telegram group/channel.\n---","height":1240,"width":1420},"id":"d187c958-a2cf-4a94-bb0f-36af58274bc4","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"bf7b1294-b50d-49f7-a5f1-76b0d6845aea","name":"telegramChatId","type":"string","value":"6373227388"}]},"options":{}},"id":"8dee488d-6149-49b3-8a04-2bc5b7668354","name":"Config","type":"n8n-nodes-base.set","position":[820,620],"typeVersion":3.4},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"4ec1600d-9b64-4bfe-a858-cd056e5b7176","name":"Error Trigger"}],"connections":{"Config":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Config","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"641aa9db-bd7a-4968-ad66-705065978f87","triggerCount":0,"shared":[{"createdAt":"2025-04-11T17:12:49.650Z","updatedAt":"2025-04-11T17:12:49.650Z","role":"workflow:owner","workflowId":"peod5nMyYJZ3YezW","projectId":"BOg1NIj04rxzpSxN"}],"tags":[]}