QcPf19eFxNcqK59o-GET_NOTION_DB_BY_NAME.json
{"createdAt":"2025-04-13T10:35:18.656Z","updatedAt":"2025-04-20T11:53:38.000Z","id":"QcPf19eFxNcqK59o","name":"GET NOTION DB BY NAME","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"DB"},{"name":"NAME"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-200,0],"id":"a1954905-fcef-41e5-a975-c6cd09f725c2","name":"When Executed by Another Workflow"},{"parameters":{"resource":"database","operation":"getAll","returnAll":true},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[260,0],"id":"632064ed-efd7-4e14-b496-7254c8146935","name":"Notion"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6a75cae3-57b6-48e4-99c2-0ec944b90558","leftValue":"={{ $('Code').item.json.DB }}","rightValue":"={{ $json.name }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[440,0],"id":"c78b18e2-8c74-48c4-8611-162897f87958","name":"Filter"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.DB = item.json.DB || \"Tasks\"\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[20,0],"id":"475b81d0-d0d4-4ff1-8ee9-8af81d6ad62d","name":"Code"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code","type":"main","index":0}]]},"Notion":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Code":{"main":[[{"node":"Notion","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b359ad81-43c1-477d-a161-87a43d80c27b","triggerCount":0,"shared":[{"createdAt":"2025-04-13T10:35:18.664Z","updatedAt":"2025-04-13T10:35:18.664Z","role":"workflow:owner","workflowId":"QcPf19eFxNcqK59o","projectId":"BOg1NIj04rxzpSxN"}],"tags":[]}