qnhrz7btDAJQ8Ot7-SEARCH_TASKS.json
{"createdAt":"2025-04-13T07:26:20.106Z","updatedAt":"2025-05-02T10:48:34.000Z","id":"qnhrz7btDAJQ8Ot7","name":"SEARCH TASKS","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"task_id"},{"name":"task_name"},{"name":"project_name"},{"name":"date"},{"name":"DB"},{"name":"TAGS","type":"array"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-480,100],"id":"d9961ee1-5cf0-4a7c-9fda-30ac96b4fbdf","name":"When Executed by Another Workflow"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"={{ $('GETDB').item.json.id }}","mode":"id"},"returnAll":true,"filterType":"manual","filters":{"conditions":[{"key":"Fecha de creación|created_time","condition":"on_or_after","createdTimeValue":"={{ $('Code').item.json.date }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[620,300],"id":"6f8a88e9-9415-4147-8e4c-55d834445d43","name":"Notion"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nfor (const item of $input.all()) {\n  if (item.json.TAGS) {\n    item.json.search = \"TAGS\"\n  }\n  if (item.json.NAME) {\n    item.json.search = \"NAME\"\n  }\n  if (item.json.project_name) {\n    item.json.search = \"PROJECT\"\n  }\n  if (item.json.date) {\n    item.json.search = \"DATE\"\n  }\n  item.json.DB = item.json.DB || \"Tasks\"\n  item.json.date = item.json.date || new Date().toISOString().slice(0, 10)\n  if (!item.json.search) {\n    item.json.search = \"DATE\"\n  }\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-40,100],"id":"a7753ee7-1355-4de2-972e-4077d098cc24","name":"Code"},{"parameters":{"workflowId":{"__rl":true,"value":"QcPf19eFxNcqK59o","mode":"list","cachedResultName":"GET NOTION DB BY NAME"},"workflowInputs":{"mappingMode":"defineBelow","value":{"DB":"={{ $json.DB }}"},"matchingColumns":[],"schema":[{"id":"DB","displayName":"DB","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"NAME","displayName":"NAME","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[180,100],"id":"b06bc7a5-a317-4cc5-b2ee-1d1dd13b2f96","name":"GETDB"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Code').item.json.search }}","rightValue":"TAGS","operator":{"type":"string","operation":"equals"},"id":"c7acbd7e-375c-46cd-bd75-171fc241e3d4"}],"combinator":"and"},"renameOutput":true,"outputKey":"TAGS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"041468ef-b790-4316-a1c5-ff7200b4a2ba","leftValue":"={{ $('Code').item.json.search }}","rightValue":"PROJECT","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PROJECT"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0b84ccbb-7935-46c1-bd65-7757ac4a5902","leftValue":"={{ $('Code').item.json.search }}","rightValue":"DATE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"DATE"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[400,100],"id":"d81705da-6d3c-4746-a6d4-5cfff689b9a3","name":"Switch"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"={{ $('GETDB').item.json.id }}","mode":"id"},"returnAll":true,"filterType":"manual","filters":{"conditions":[{"key":"=Task Name|title","condition":"contains","titleValue":"={{ $('Code').item.json.project_name }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[620,100],"id":"b72e5990-2e41-4966-97d4-0b703a8af4b1","name":"Notion1"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"={{ $('GETDB').item.json.id }}","mode":"id"},"returnAll":true,"filterType":"manual","filters":{"conditions":[{"key":"=Tags|multi_select","condition":"contains","multiSelectValue":"={{ JSON.parse($('Code').item.json.TAGS)[0] }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[620,-100],"id":"8ca03404-0040-4d30-bead-056d47e69804","name":"Notion2"},{"parameters":{"assignments":{"assignments":[{"id":"b029ef17-dbff-4046-901d-327be2e06e1a","name":"project_name","value":"={{ $json.project_name }}","type":"string"},{"id":"a0c0aa49-dd1f-484f-945e-b02ef3860882","name":"date","value":"={{ $json.date }}","type":"string"},{"id":"cb327ce8-5cd3-48c7-b68c-41fb8da612f1","name":"TAGS","value":"={{ $json.TAGS }}","type":"string"},{"id":"8aa93520-2b24-438d-9c1b-0dbfa4ff1367","name":"NAME","value":"={{ $json.task_name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-260,100],"id":"616e4c23-f2a3-4506-b356-e02109cc434c","name":"Edit Fields"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"={{ $('GETDB').item.json.url }}","mode":"url"},"filterType":"manual","filters":{"conditions":[{"key":"=Parent item|relation","condition":"contains","relationValue":"={{ $json.id }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[840,100],"id":"1e3d0f05-7ba2-401d-9f1b-e46fdc7e2812","name":"Notion3"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Code":{"main":[[{"node":"GETDB","type":"main","index":0}]]},"GETDB":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Notion2","type":"main","index":0}],[{"node":"Notion1","type":"main","index":0}],[{"node":"Notion","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code","type":"main","index":0}]]},"Notion1":{"main":[[{"node":"Notion3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"task_id":null,"task_name":null,"project_name":"MENIALS N8N","date":null,"DB":"Tasks","TAGS":null}}]},"versionId":"8930d5ae-eded-4cea-8daf-128489baf27a","triggerCount":0,"shared":[{"createdAt":"2025-04-13T07:26:20.112Z","updatedAt":"2025-04-13T07:26:20.112Z","role":"workflow:owner","workflowId":"qnhrz7btDAJQ8Ot7","projectId":"BOg1NIj04rxzpSxN"}],"tags":[]}