QzCxc4YQ8FdcaoAQ-LOCKUP.json
{"createdAt":"2025-05-21T21:20:31.415Z","updatedAt":"2025-05-21T21:54:18.000Z","id":"QzCxc4YQ8FdcaoAQ","name":"LOCKUP","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"months"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"b9dc4b6f-da2b-40d1-8989-f2375934acf0","name":"Schedule Trigger"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1Jq6OBCSH7ZTjP18GSjOxiQqmddDDfDZZFW9hPV272MY/edit?tab=t.0#heading=h.exbdjg7dlj9d"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"1c197adf-7dc8-4de2-84c1-8efcf40fe3c9","name":"Google Docs"},{"parameters":{"url":"=https://www.googleapis.com/drive/v3/files/{{ $json.documentId }}/export?mimeType=application/pdf","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,0],"id":"1f3ed11a-9f89-447d-b584-76d9d04dc722","name":"HTTP Request"},{"parameters":{"operation":"write","fileName":"/tmp/pass.pdf","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[660,0],"id":"be62d27f-94c3-4ed0-be89-96d0eb68b13f","name":"Read/Write Files from Disk"},{"parameters":{"method":"POST","url":"https://shakhsiyan.tuongea.com/lock","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"password","value":"horuslupercal1121"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,0],"id":"d6181df0-57f3-4b78-bdf4-b21156ffe343","name":"HTTP Request1"},{"parameters":{"sendTo":"jazeelakarima@gmail.com,abushuriya@gmail.com,dchege411@gmail.com","subject":"Digital register","message":"Passes","options":{"attachmentsUi":{"attachmentsBinary":[{}]}}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1100,0],"id":"28a59ae2-1dcb-4571-974b-dc35d3956aba","name":"Gmail","webhookId":"493df2da-e832-447f-aa96-7e6fad630922"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Gmail","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"peod5nMyYJZ3YezW"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1599ea67-9f24-4ed4-854b-f5977a446a29","triggerCount":1,"shared":[{"createdAt":"2025-05-21T21:20:31.421Z","updatedAt":"2025-05-21T21:20:31.421Z","role":"workflow:owner","workflowId":"QzCxc4YQ8FdcaoAQ","projectId":"BOg1NIj04rxzpSxN"}],"tags":[]}