rWQIHyag41F8Z3Lp-REVIEWS.json
{"createdAt":"2025-04-11T08:09:09.390Z","updatedAt":"2025-04-13T09:23:17.000Z","id":"rWQIHyag41F8Z3Lp","name":"REVIEWS","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[5]}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,-140],"id":"4c0ba46b-18a0-4275-bdbf-c31882c4d58d","name":"Schedule Trigger"},{"parameters":{"workflowId":{"__rl":true,"value":"2O6DAi2jycf18uoi","mode":"list","cachedResultName":"GET NOTION TASKS"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Status":"Done","Numofdayspast":30},"matchingColumns":[],"schema":[{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Numofdayspast","displayName":"Numofdayspast","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"Tags","displayName":"Tags","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[220,-140],"id":"e08cd470-5073-4f30-af9f-9f8b84b65fc2","name":"Execute Workflow"},{"parameters":{"chatId":"6373227388","text":"={{ $json.item }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[660,-140],"id":"41dc8e07-0cf9-4c43-9c25-dfac073ed9cf","name":"Telegram","webhookId":"2b10c1eb-1396-41a3-9e9d-bde452762928"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nvar messages = [\"These are the tasks completed in the last week:\"];\nvar donetaskmessages = [];\nlet data = {};\n\nfunction escapeMarkdown(text) {\n  return text.replace(/[_*[\\]()~`>#+\\-=|{}.!]/g, '\\\\$&');\n}\n\nfunction chunkArray(arr, size) {\n  const chunks = []\n  for (let i = 0; i < arr.length; i += size) {\n    chunks.push(arr.slice(i, i + size))\n  }\n  return chunks\n}\n\nfor (const item of $input.all()) {\n  if (item.json.property_tags.length === 1 && item.json.property_tags[0] === \"DAY\" && !item.json.property_task_name.toLowerCase().includes(\"cancelled\")) {\n    console.log(item.json.property_task_name)\n    if (data[`${item.json.property_task_name}`] !== undefined) {\n      data[`${item.json.property_task_name}`] =\n        data[`${item.json.property_task_name}`] + 1;\n    } else {\n      data[`${item.json.property_task_name}`] = 1;\n    }\n  } else {\n    if (!item.json.property_task_name.toLowerCase().includes(\"(cancelled)\")) {\n      donetaskmessages.push(`Task: ${item.json.property_task_name} ${new Date(item.json.property_last_edited_time).toLocaleDateString()}`)\n    }\n  }\n}\nconsole.log(donetaskmessages);\nlet donechunks = chunkArray(donetaskmessages, 10);\n\nfor (const group of donechunks) {\n  messages.push(group.join('\\n'))\n}\nmessages.push(\"These are your scores this week for the recurring tasks:\");\n\nconsole.log(\"Got here\");\n\nconst scoresmessage = [];\nfor (const iitem of Object.keys(data)) {\n  scoresmessage.push(`Task: ${iitem}: ${data[iitem]}`);\n}\nlet scorechunks = chunkArray(scoresmessage, 10)\nfor (const group of scorechunks) {\n  messages.push(group.join('\\n'))\n}\n\nconst parsed_messages = [];\nconsole.log(\"Messages\", messages);\nfor (const iitem of messages) {\n  console.log(\"Parsed: \", iitem);\n  parsed_messages.push({ json: {item: escapeMarkdown(iitem)} });\n}\nreturn parsed_messages;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[440,-140],"id":"234dcf73-067c-4c79-9fa7-7803c3bf31bb","name":"Code"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"efcd206b-6f30-4e23-8fb1-4b984d5b661b","triggerCount":1,"shared":[{"createdAt":"2025-04-11T08:09:09.394Z","updatedAt":"2025-04-11T08:09:09.394Z","role":"workflow:owner","workflowId":"rWQIHyag41F8Z3Lp","projectId":"BOg1NIj04rxzpSxN"}],"tags":[]}