sxoT2l5gEFS2fugh-Update_Task.json
{"createdAt":"2025-04-15T07:46:36.028Z","updatedAt":"2025-05-27T00:37:41.000Z","id":"sxoT2l5gEFS2fugh","name":"Update Task","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"DB"},{"name":"query"},{"name":"property"},{"name":"newvalue"}]}},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[260,440]},{"parameters":{"workflowId":{"__rl":true,"value":"QcPf19eFxNcqK59o","mode":"list","cachedResultName":"GET NOTION DB BY NAME"},"workflowInputs":{"mappingMode":"defineBelow","value":{"DB":"={{ $json.DB || \"Tasks\" }}"},"matchingColumns":[],"schema":[{"id":"DB","displayName":"DB","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"NAME","displayName":"NAME","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[480,440],"id":"19807ac4-546f-4e07-b8d6-5f4b3fb0b313","name":"GETDB"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"returnAll":true,"filterType":"manual","filters":{"conditions":[{"key":"={{ \"Task Name|title\" }}","condition":"equals","titleValue":"={{ $('When Executed by Another Workflow').item.json.query || \"Switch PH ad account\" }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[700,440],"id":"047ea726-dd75-4c02-b6a1-1f49a39259bf","name":"Notion"},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('UNDONE ITEMS').first().json.url }}","mode":"url"},"propertiesUi":{"propertyValues":[{"key":"={{ $('When Executed by Another Workflow').first().json.property || \"Status|status\" }}","statusValue":"={{ $('When Executed by Another Workflow').first().json.newvalue || \"Done\" }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1580,340],"id":"d88d16bc-e5a0-40e1-8275-a912368f8bca","name":"UPDATING FIRST ITEM","executeOnce":true},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst notdoneitems = []\n\nfor (const item of $input.all()) {\n  if (item.json.property_status !== \"Done\") {\n    notdoneitems.push(item.json)\n  }\n}\n\nreturn notdoneitems"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[920,440],"id":"eafee0b4-eced-4127-beb7-55a94c7dcf7a","name":"UNDONE ITEMS","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bd2800c6-9a5c-4162-bb52-8585cb7a4878","leftValue":"={{ $json.results }}","rightValue":0,"operator":{"type":"number","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1360,440],"id":"a1e44823-9b9e-4d67-94f3-519d926d0181","name":"FOUNDORNAH"},{"parameters":{"assignments":{"assignments":[{"id":"d9ea5f6e-3833-4b20-8460-f071dda6fa4d","name":"output","value":"Couldn't find the task.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1580,540],"id":"8babc103-00e1-4986-93f2-748f510862ec","name":"FAILURE"},{"parameters":{"assignments":{"assignments":[{"id":"2a1efd92-d0b7-483a-b709-f72501dab36e","name":"output","value":"={{ $input.first() !== undefined && $input.first() !== null ? \"Successfuly updated the task.\" : \"Couldn't update the task\"}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2020,340],"id":"7ef9ea8e-b0c3-492e-a38c-fdf982905f8d","name":"SUCCESS"},{"parameters":{"jsCode":"if (Object.keys(items[0].json).length === 0) {\nreturn [\n\t{\n\t\tjson: {\n\t\t\tresults: 0,\n\t\t}\n\t}\n]\n}\nreturn [\n\t{\n\t\tjson: {\n\t\t\tresults: items.length,\n\t\t}\n\t}\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1140,440],"id":"d5c9d8c8-a620-4643-9efa-4b9b8d540158","name":"NUMOFTASKSFOUND"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"GETDB","type":"main","index":0}]]},"GETDB":{"main":[[{"node":"Notion","type":"main","index":0}]]},"Notion":{"main":[[{"node":"UNDONE ITEMS","type":"main","index":0}]]},"UPDATING FIRST ITEM":{"main":[[{"node":"SUCCESS","type":"main","index":0}]]},"UNDONE ITEMS":{"main":[[{"node":"NUMOFTASKSFOUND","type":"main","index":0}]]},"FOUNDORNAH":{"main":[[{"node":"UPDATING FIRST ITEM","type":"main","index":0}],[{"node":"FAILURE","type":"main","index":0}]]},"NUMOFTASKSFOUND":{"main":[[{"node":"FOUNDORNAH","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"DB":"Tasks","query":"Lupercal","property":"Status|status","newvalue":"Done"}}]},"versionId":"2cf800f2-a986-4058-bd80-39e6b879602b","triggerCount":0,"shared":[{"createdAt":"2025-04-15T07:46:36.033Z","updatedAt":"2025-04-15T07:46:36.033Z","role":"workflow:owner","workflowId":"sxoT2l5gEFS2fugh","projectId":"BOg1NIj04rxzpSxN"}],"tags":[]}