vOHjseOJJ5TvE91Z-CHAT_AGENT.json
{"createdAt":"2025-04-08T15:31:38.689Z","updatedAt":"2025-04-10T15:03:36.000Z","id":"vOHjseOJJ5TvE91Z","name":"CHAT AGENT","active":false,"isArchived":false,"nodes":[{"parameters":{"modelId":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"GPT-4"},"messages":{"values":[{"content":"You are a servant of the khagan and act as such. When he speaks, you listen with your whole mind and soul, You keep your answers short always adressing as the user as my khan or khagan.","role":"assistant"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[220,0],"id":"e4e6883e-8607-4979-a649-adc5995ea026","name":"OpenAI"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[0,0],"id":"12ebb8ab-931d-4fd3-ae8f-40a583e21d0f","name":"Telegram Trigger","webhookId":"6de7ba44-42d1-4a0e-b176-a48b0224286c"},{"parameters":{"chatId":"6373227388","text":"={{ $json.message.content }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[580,0],"id":"5175b37d-465e-4215-b4a0-9995c1814ad9","name":"Telegram","webhookId":"ee1df031-c16e-4c7f-8941-3ca3378fc935"}],"connections":{"OpenAI":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"OpenAI","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2f658289-449e-4072-abab-4121d1c68cdb","triggerCount":1,"shared":[{"createdAt":"2025-04-08T15:31:38.704Z","updatedAt":"2025-04-08T15:31:38.704Z","role":"workflow:owner","workflowId":"vOHjseOJJ5TvE91Z","projectId":"BOg1NIj04rxzpSxN"}],"tags":[]}