yNm1WNYsVTSMdNNN-TELEGRAM_INPUT_MANAGER.json
{"createdAt":"2025-04-11T21:02:16.079Z","updatedAt":"2025-06-15T12:56:13.000Z","id":"yNm1WNYsVTSMdNNN","name":"TELEGRAM INPUT MANAGER","active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["*"],"additionalFields":{}},"id":"a28db37d-418c-4e51-b22a-6744bcfe533d","name":"Listen for incoming events","type":"n8n-nodes-base.telegramTrigger","position":[40,260],"webhookId":"322dce18-f93e-4f86-b9b1-3305519b7834","typeVersion":1},{"parameters":{"resource":"file","fileId":"={{$json.message.voice.file_id}}"},"id":"71d4983d-1425-4116-88a0-b04c9a255f65","name":"Download voice file","type":"n8n-nodes-base.telegram","position":[540,380],"typeVersion":1.2,"webhookId":"899b6694-931b-41ee-9f05-4039d0419c8c"},{"parameters":{"assignments":{"assignments":[{"id":"bccbce0a-7786-49c9-979a-7a285cb69f78","name":"CombinedMessage","type":"string","value":"={{ $json.message && $json.message.text ? $json.message.text : ($json.text ? $json.text : '') }}"},{"id":"5b1fc9f5-1408-4099-88cc-a23725c9eddb","name":"Message Type ","type":"string","value":"={{ $json?.message?.text && !$json?.text ? \"text query\" : (!$json?.message?.text && $json?.text ? \"voice message\" : \"unknown type message\") }}"},{"id":"1e9a17fa-ec5d-49dc-9ff6-1f28b57fb02e","name":"Source Type","type":"string","value":"={{ $('Listen for incoming events').item.json.message.forward_origin ? \" forwarded\" : \"\" }}"}]},"options":{}},"id":"89088efd-3b67-4800-a6ec-03757362fcaf","name":"Combine content and set properties","type":"n8n-nodes-base.set","position":[920,240],"typeVersion":3.4},{"parameters":{"chatId":"={{ $('Listen for incoming events').first().json.message.from.id }}","text":"={{ $json.output }} ","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"c0108306-7680-43a5-833d-86329a76fd18","name":"Send final reply","type":"n8n-nodes-base.telegram","position":[1520,240],"typeVersion":1.1,"webhookId":"5ed5b4fa-0299-4d66-ac38-686c20310a1e","onError":"continueErrorOutput"},{"parameters":{"chatId":"={{ $('Listen for incoming events').first().json.message.from.id }}","text":"=Sorry, {{ $('Listen for incoming events').first().json.message.from.first_name }}! This command is not supported yet. Please send text or voice messages.","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"id":"8e2458b2-50d8-4314-bb17-a6eb33847bc4","name":"Send error message","type":"n8n-nodes-base.telegram","position":[540,80],"typeVersion":1.2,"webhookId":"acf4031d-7e37-4c3e-8617-df18cc26af63"},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"","temperature":0.7}},"id":"31bd73ae-5f04-4a55-b432-13260d65572f","name":"Convert audio to text","type":"@n8n/n8n-nodes-langchain.openAi","position":[720,380],"typeVersion":1.5},{"parameters":{"content":"## Receive and pre-process messages \n","height":547.5630890194532,"width":1035.4478381373049},"id":"da6779a2-0405-4d0c-8c27-55815184563e","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"## 1. Send incoming message to the AI Agent\n## 2. Deliver agent reply to the user \n","height":550.5748478134515,"width":861.262180151035,"color":2},"id":"7edf0208-0e05-4a04-8886-be2edff48b3e","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1100,0],"typeVersion":1},{"parameters":{"operation":"sendChatAction","chatId":"={{ $('Listen for incoming events').first().json.message.from.id }}"},"id":"b5b20793-4c7e-45b3-bc8d-671b320a8c1c","name":"Send Typing action","type":"n8n-nodes-base.telegram","position":[300,80],"typeVersion":1.2,"webhookId":"0abaa37f-5957-4017-94cd-d4da52f600ae"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.message.text }}","rightValue":"/"}]},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"dd41bbf0-bee0-450b-9160-b769821a4abc","operator":{"type":"object","operation":"exists","singleValue":true},"leftValue":"={{ $json.message.voice}}","rightValue":""}]},"renameOutput":true,"outputKey":"Voice"}]},"options":{"fallbackOutput":"extra"}},"id":"599c6115-f473-4e54-b24d-86a0a4af5bc2","name":"Determine content type","type":"n8n-nodes-base.switch","position":[300,260],"typeVersion":3.2},{"parameters":{"workflowId":{"__rl":true,"value":"yZ2gkQYIMBNFEJVO","mode":"list","cachedResultName":"WORKFLOW INPUT AGENT"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"={{ $json.CombinedMessage }}"},"matchingColumns":["message"],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1260,240],"id":"2ab89252-a380-44c8-9be6-c27b9d6f7daa","name":"Execute Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"AFCgAfMFe97kBA8o","mode":"list","cachedResultName":"TELEGRAM MSG"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"={{ $('Execute Workflow').all().map((item) => item.json.output).join('\\n') }}"},"matchingColumns":["message"],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1840,340],"id":"5cae5520-625d-4da7-be15-c4606538d888","name":"Execute Workflow1"}],"connections":{"Send final reply":{"main":[[],[{"node":"Execute Workflow1","type":"main","index":0}]]},"Download voice file":{"main":[[{"node":"Convert audio to text","type":"main","index":0}]]},"Convert audio to text":{"main":[[{"node":"Combine content and set properties","type":"main","index":0}]]},"Determine content type":{"main":[[{"node":"Combine content and set properties","type":"main","index":0}],[{"node":"Download voice file","type":"main","index":0}],[{"node":"Send error message","type":"main","index":0}]]},"Listen for incoming events":{"main":[[{"node":"Determine content type","type":"main","index":0},{"node":"Send Typing action","type":"main","index":0}]]},"Combine content and set properties":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Send final reply","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Listen for incoming events":[{"json":{"update_id":822930157,"message":{"message_id":12317,"from":{"id":6373227388,"is_bot":false,"first_name":"Abdul","last_name":"Hakeem","username":"abdulhakeemlupercal","language_code":"en"},"chat":{"id":6373227388,"first_name":"Abdul","last_name":"Hakeem","username":"abdulhakeemlupercal","type":"private"},"date":1749991523,"text":"/journaltemplate","entities":[{"offset":0,"length":16,"type":"bot_command"}]}}}]},"versionId":"eb43ef12-ee24-49f7-bde2-d6d371a294ed","triggerCount":1,"shared":[{"createdAt":"2025-04-11T21:02:16.092Z","updatedAt":"2025-04-11T21:02:16.092Z","role":"workflow:owner","workflowId":"yNm1WNYsVTSMdNNN","projectId":"BOg1NIj04rxzpSxN"}],"tags":[]}