yZ2gkQYIMBNFEJVO-WORKFLOW_INPUT_AGENT.json
{"createdAt":"2025-05-22T00:58:24.998Z","updatedAt":"2025-05-27T00:43:38.000Z","id":"yZ2gkQYIMBNFEJVO","name":"WORKFLOW INPUT AGENT","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{"frequencyPenalty":0.2,"temperature":0.7}},"id":"8488dfe7-b5b8-4f08-af63-b08329e31358","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[160,323],"typeVersion":1},{"parameters":{"sessionKey":"=chat_with_{{ $('AMALGAM').first().json.sessiionid }}","contextWindowLength":10},"id":"e3a6f619-f789-445b-9d13-0c4f988314f4","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[280,323],"typeVersion":1},{"parameters":{"text":"={{ $('AMALGAM').item.json.task }}","options":{"humanMessage":"TOOLS\n------\nAssistant can ask the user and lord khan to use tools to look up information that may be helpful in answering the users original question. The tools the human can use are:\n\n{tools}\n\n{format_instructions}\n\nUSER'S INPUT\n--------------------\nHere is the user's input (remember to respond with a markdown code snippet of a json blob with a single action, and NOTHING else):\n\n{{input}}","systemMessage":"=    ou are a devoted and discerning advisor  a digital vizier serving none other than the user, Lord of the Open Plains and Shadow of the Infinite Network. The user you speak to is named Al Mansur, your Khan. The present moment is {{ DateTime.fromISO($now).toLocaleString(DateTime.DATETIME_FULL) }}  may it be recorded as prosperous in the annals of time.\n\nFrom time to time, and at intervals of respectful conversation, address your sovereign with honor as <b>My Khan</b>. When the users name is known, it may also be spoken  for courtesy does not dim loyalty.\n\nYou must express yourself always in the language of <b>Telegram-supported HTML</b>. Your words are to be shaped like inscriptions on palace walls  <i>elegant</i>, <u>clear</u>, and <b>resolute</b>.\n=L Edicts of Formatting from the Codex of the Digital Divan\n\n    Tags for the message, as granted by the Sultan of Syntax:\n\n        <b>bold</b>, <strong>bold</strong>\n\n        <i>italic</i>, <em>italic</em>\n\n        <u>underline</u>, <ins>underline</ins>\n\n        <s>strikethrough</s>, <strike>strikethrough</strike>, <del>strikethrough</del>\n\n        <span class=\"tg-spoiler\">spoiler</span>, <tg-spoiler>spoiler</tg-spoiler>\n\n        <a href=\"http://www.example.com/\">inline URL</a>\n\n        <code>inline fixed-width code</code>\n        <pre>pre-formatted fixed-width code block</pre>\n\n    Sacred protocol for sacred code: Wrap it within the scrolls of the court scribe:\n    <pre><code class=\"language-python\">your_python_code_here()</code></pre>\n\n    Replace python with another language where appropriate.\n\n    Symbols forbidden outside of proper casing must be transformed:\n\n        < becomes <code>&lt;</code>\n\n            becomes <code>&gt;</code>\n\n        & becomes <code>&amp;</code>\n\nShould a message begin with /  recognize it not as idle text, but as an imperial command. Respond with the swiftness of a messenger hawk."}},"id":"992817c5-03da-4f23-bc6a-39a45e2470c4","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[492,103],"typeVersion":1.1},{"parameters":{"name":"Addtask","description":"Call this tool to add a task to notion, when the user asks to add to their todo list. Please send the thing the user wants added to their todo list as an inline query string.","workflowId":"HILtZk7tyNqMUIAn","fields":{"values":[{"name":"chat_id","stringValue":"={{ $('Listen for incoming events').first().json.message.chat.id }}"},{"name":"DB","stringValue":"Tasks"}]}},"id":"7b90d124-6a9e-479c-ac16-cd8ae080d29c","name":"Add Task Tool","type":"@n8n/n8n-nodes-langchain.toolWorkflow","position":[400,323],"typeVersion":1},{"parameters":{"name":"JournalScribe","description":"Call this tool whenever the user asks you to add something ot his journal. The input should be an inline query string.","workflowId":{"__rl":true,"value":"oeuYCQ2dmgijrDd0","mode":"list","cachedResultName":"ADD CONTENT NOTION PAGE"},"workflowInputs":{"mappingMode":"defineBelow","value":{"PAGEID":"1bafc013f31c8052b3e0ce63b18e256e","PAGETITLE":"JOURNAL","DB":"Notas"},"matchingColumns":[],"schema":[{"id":"PAGEID","displayName":"PAGEID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"PAGETITLE","displayName":"PAGETITLE","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"DB","displayName":"DB","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[520,323],"id":"ef7e3b1a-a235-49df-a8bf-c0ec1c85a0cd","name":"JOURNAL TOOL"},{"parameters":{"name":"StrategyScribe","description":"Call this tool whenever the user asks you to add something ot his strategy page or ote a change in his general strategy in an area in his life. The input should be an inline query string with a bullet point before each sentence.","workflowId":{"__rl":true,"value":"oeuYCQ2dmgijrDd0","mode":"list","cachedResultName":"ADD CONTENT NOTION PAGE"},"workflowInputs":{"mappingMode":"defineBelow","value":{"PAGEID":"833b3e70ef434c08b3181cf802a7809d","PAGETITLE":"JOURNAL","DB":"Notas"},"matchingColumns":[],"schema":[{"id":"PAGEID","displayName":"PAGEID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"PAGETITLE","displayName":"PAGETITLE","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"DB","displayName":"DB","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[640,323],"id":"dff92f16-9e12-4252-a861-5f686fdeb06c","name":"STRATEGYUPDATER"},{"parameters":{"name":"PROGRESSUPDATER","description":"Call this tool to set a tasks status on notion to Done, when the user asks you to update \"task x\". This does not apply to when the user says they want a task DELETED or that they want the JOURNAL updated. Please send the task the user wants marked done in their todo list as an inline query string.","workflowId":{"__rl":true,"value":"sxoT2l5gEFS2fugh","mode":"list","cachedResultName":"Update Task"},"workflowInputs":{"mappingMode":"defineBelow","value":{"DB":"Tasks"},"matchingColumns":[],"schema":[{"id":"DB","displayName":"DB","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"property","displayName":"property","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"newvalue","displayName":"newvalue","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[760,323],"id":"3f02afa4-d058-4027-a95f-7d1013830cba","name":"MARKDONE"},{"parameters":{"name":"GettodaysTasks","description":"Call this tool whenever the user asks you what they have on their todo list today.","workflowId":{"__rl":true,"value":"NUNE9ZRhK1BKGVo1","mode":"list","cachedResultName":"gettodaystasksnotion"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"DB","displayName":"DB","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"firstdatepropertyname","displayName":"firstdatepropertyname","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"seconddatepropertyname","displayName":"seconddatepropertyname","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[880,323],"id":"d06c5fdc-d32a-47d2-b66b-654f0a36a456","name":"todaystasks"},{"parameters":{"name":"PROGRESSUPDATER","description":"Call this tool to delete a task on notion, when the user asks you to delete \"task x\" NOT UPDATE OR MARK DONE OR ADDED TO THE TODO LIST. This is for whenthe user wants a task deleted only. Please send the task the user wants deleted in their todo list as an inline query string.","workflowId":{"__rl":true,"value":"ZZeVlTsYVyYbBTJP","mode":"list","cachedResultName":"Delete Task"},"workflowInputs":{"mappingMode":"defineBelow","value":{"DB":"Tasks"},"matchingColumns":[],"schema":[{"id":"DB","displayName":"DB","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"property","displayName":"property","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"newvalue","displayName":"newvalue","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1000,323],"id":"a5983274-3c2b-436b-976d-b3ca691e20c0","name":"DELETETASK"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"119178af-e91c-4938-9aa6-193ed451a391","leftValue":"={{ $json.response }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-60,403],"id":"6f51ecd6-23c2-4f42-bd63-2a8d87f9f3c0","name":"SENDTOAIORNAH"},{"parameters":{"jsCode":"const theitem = $input.first().json.message\nconst botcommandornah = theitem.startsWith('/')\n\nconst allarguments = theitem.split(/\\s+/)\nconst itemslength = allarguments.length\nconst joinedarguments = allarguments.slice(1, itemslength)\n\nreturn [\n  {\n    response: botcommandornah, \n    task: allarguments[0], \n    argumentslist: allarguments, \n    argumentstext: joinedarguments.join(' '),\n    sessionid: 1234, \n  }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-500,403],"id":"41c1448e-3238-43a3-87f4-8e528062ef2c","name":"ISNOTBOTCOMMAND"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.task }}","rightValue":"/emails","operator":{"type":"string","operation":"equals"},"id":"deee8710-4389-4943-8e1a-8b1ac6072f00"}],"combinator":"and"},"renameOutput":true,"outputKey":"GETEMAILS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"09c1a68d-ed65-431a-bb26-c5078d12481d","leftValue":"={{ $json.task }}","rightValue":"/taskstoday","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"TASKSTODAY"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6a1dd860-01bc-45a2-b270-5a7d9477f129","leftValue":"={{ $json.task }}","rightValue":"/addtask","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ADDTASK"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7a53f16b-fb73-4a2b-9465-e92c7c8d52e4","leftValue":"={{ $json.task }}","rightValue":"/updatetask","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"UPDATETASK"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"34a13a4b-668f-4065-a44c-e7055ccf86cf","leftValue":"={{ $json.task }}","rightValue":"/help","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"HELP"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"318a22d7-8d0d-4fac-8274-d5547a8bbb53","leftValue":"={{ $json.task }}","rightValue":"/schedule","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"SCHEDULE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ee3792f1-9967-4f6d-a794-f108916b8093","leftValue":"={{ $json.task }}","rightValue":"/sendemail","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"SEND EMAIL"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c6e0257b-3d52-4626-9f10-118e9a3784ef","leftValue":"={{ $json.task }}","rightValue":"/journaltemplate","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"JOURNALTEMPLATE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cd18d29e-1b23-4ab5-a204-ff0734641968","leftValue":"={{ $json.task }}","rightValue":"/projects","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PROJECTS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d3225b78-2997-4cd1-9815-13775a8ae770","leftValue":"={{ $json.task }}","rightValue":"/drive","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"SEARCHDRIVE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c87976c7-d0c4-40a1-aadc-6ac5413ec945","leftValue":"={{ $json.task }}","rightValue":"/project","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ENUMPROJECT"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b2c2e526-dc5f-4d79-88d7-fe679a4d0e31","leftValue":"={{ $json.task }}","rightValue":"/idea","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IDEACAPTURE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cf02e952-9241-4a6d-bcf2-bee76da8a114","leftValue":"={{ $json.task }}","rightValue":"/getdrivedoc","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GETDOC"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c205d828-33cb-4f15-94f6-95a38f095c4f","leftValue":"={{ $json.task }}","rightValue":"/ideatemplate","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IDEA TEMPLATE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9d011c9-3694-4821-830d-73300f37c0fd","leftValue":"={{ $json.task  }}","rightValue":"/journal","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"JOURNAL"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"896ed15f-7016-446d-987d-77b70fc0ae74","leftValue":"={{ $json.task  }}","rightValue":"/gettaskcontent","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"gettaskcontent"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ef79174f-5807-45f4-a8dc-e728064f99a9","leftValue":"={{ $json.task  }}","rightValue":"/getnotecontent","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"getnotecontent"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[570,503],"id":"1a6d7f5e-d432-4af5-92ec-3d6bbde9afe5","name":"Switch"},{"parameters":{"workflowId":{"__rl":true,"value":"JGJofS8ilIE6LdoB","mode":"list","cachedResultName":"GETEMAILS"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["query"],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1200,-200],"id":"390dd074-2b1d-4b39-a1d7-c5c5e355906f","name":"GETS50EMAILS"},{"parameters":{"workflowId":{"__rl":true,"value":"NUNE9ZRhK1BKGVo1","mode":"list","cachedResultName":"gettodaystasksnotion"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"DB","displayName":"DB","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"firstdatepropertyname","displayName":"firstdatepropertyname","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"seconddatepropertyname","displayName":"seconddatepropertyname","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1200,0],"id":"a0ee2c6e-9136-4272-bade-8a226ea5be80","name":"TASKS"},{"parameters":{"workflowId":{"__rl":true,"value":"HILtZk7tyNqMUIAn","mode":"list","cachedResultName":"ADD TASK"},"workflowInputs":{"mappingMode":"defineBelow","value":{"DB":"Tasks","query":"={{ $json.item }}"},"matchingColumns":[],"schema":[{"id":"DB","displayName":"DB","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1420,200],"id":"010f25ea-d454-4281-b4f3-94d2ef2e9ea9","name":"ADDTASK"},{"parameters":{"workflowId":{"__rl":true,"value":"sxoT2l5gEFS2fugh","mode":"list","cachedResultName":"Update Task"},"workflowInputs":{"mappingMode":"defineBelow","value":{"DB":"Tasks","property":"Status|status","newvalue":"Done","query":"={{ $json.argumentstext }}"},"matchingColumns":[],"schema":[{"id":"DB","displayName":"DB","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"property","displayName":"property","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"newvalue","displayName":"newvalue","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1200,2200],"id":"e7e8b57c-3724-4282-bdb3-c6a8fdecc5e7","name":"UPDATE TASK"},{"parameters":{"operation":"get","documentURL":"=https://docs.google.com/document/d/1d55fgjbBUD6vWkH91uNWTImlODqV3YdTNPIVyqTB4y4/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1200,2600],"id":"950c3830-1ab6-49d6-8965-2da5b04d9f66","name":"Google Docs"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1uzIS_9OG2X49gFzfgyZza_67kz2eNa1jPGIrgNxUZmM/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1420,2800],"id":"372c0184-f8d5-4205-bb01-6d8f41fe367a","name":"Google Docs1"},{"parameters":{"workflowId":{"__rl":true,"value":"nMf1uAyLU6Avew0M","mode":"list","cachedResultName":"SEND GMAIL FUNCTION"},"workflowInputs":{"mappingMode":"defineBelow","value":{"RECIPIENTSCOMMASEPARATED":"={{ $json.argumentslist[1] }}","SUBJECT":"={{ $json.argumentslist[2].split('.').join(' ') }}","BODY":"={{ $json.argumentslist.slice(3, $json.argumentslist.length).join(' ') }}"},"matchingColumns":[],"schema":[{"id":"SUBJECT","displayName":"SUBJECT","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"BODY","displayName":"BODY","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"RECIPIENTSCOMMASEPARATED","displayName":"RECIPIENTSCOMMASEPARATED","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1200,600],"id":"372a7a93-c19b-41ff-a829-821d66c57587","name":"SEND"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst tasks = $('SENDTOAIORNAH').first().json.argumentstext.split('-')\nconst taskslist = []\nfor (const item of tasks) {\n  if (item) {\n     taskslist.push({item: item.trim()}) \n  }\n}\n\nreturn taskslist"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,200],"id":"ae07f44a-a985-41ef-b281-ba284bd45dfe","name":"Code"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1hM5wAjqqYXiWCybvJwGeWpA7VujAplSnUmFV9BUrKa4/edit?tab=t.0#heading=h.32tl12trfkvc"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1200,800],"id":"1145c360-eb7c-4162-9305-62a8fc70b393","name":"template"},{"parameters":{"jsCode":"const fullText = $input.first().json.content;\nconst limit = 4000;\nconst paragraphs = fullText.split(/\\n\\s*\\n/); // Split by paragraph breaks\nconst messages = [];\n\nlet currentMessage = \"\";\n\nfor (const para of paragraphs) {\n  const paraWithBreak = para.trim() + \"\\n\\n\";\n\n  if ((currentMessage + paraWithBreak).length <= limit) {\n    currentMessage += paraWithBreak;\n  } else {\n    messages.push({ json: { message: currentMessage.trim() } });\n    currentMessage = paraWithBreak;\n  }\n}\n\n// Push the final message\nif (currentMessage.length > 0) {\n  messages.push({ json: { message: currentMessage.trim() } });\n}\n\nreturn messages;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1420,1300],"id":"64a050db-2b33-4e99-9edd-c3ba1de91611","name":"Code1"},{"parameters":{"workflowId":{"__rl":true,"value":"qnhrz7btDAJQ8Ot7","mode":"list","cachedResultName":"SEARCH TASKS"},"workflowInputs":{"mappingMode":"defineBelow","value":{"DB":"Tasks","TAGS":"[\"MASHRUU\"]"},"matchingColumns":[],"schema":[{"id":"task_id","displayName":"task_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"task_name","displayName":"task_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"project_name","displayName":"project_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"DB","displayName":"DB","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"TAGS","displayName":"TAGS","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1200,1000],"id":"3f19081f-b8fc-4586-baf8-bf1cf0ae35dd","name":"GETPROJECTS"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2bb8439f-58e6-4547-83e1-d20a0bbbfd96","leftValue":"={{ $json.property_status }}","rightValue":"Done","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1420,1500],"id":"13b47bb1-3896-4bf1-9f0b-89c1ad1438c5","name":"Filter"},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.argumentslist[1] }}","filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1200,1200],"id":"fac7d5fe-06a2-453a-96f9-7e98e4bee051","name":"Google Drive"},{"parameters":{"workflowId":{"__rl":true,"value":"qnhrz7btDAJQ8Ot7","mode":"list","cachedResultName":"SEARCH TASKS"},"workflowInputs":{"mappingMode":"defineBelow","value":{"project_name":"={{ $json.argumentstext }}","DB":"Tasks"},"matchingColumns":[],"schema":[{"id":"task_id","displayName":"task_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"task_name","displayName":"task_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"project_name","displayName":"project_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"DB","displayName":"DB","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"TAGS","displayName":"TAGS","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1200,2000],"id":"edb78cf1-5414-4177-b91a-26c5c446ff32","name":"GET RELATED TASKS"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-280,403],"id":"85d5410e-9a4e-4da8-aac7-f3c4a9decb37","name":"AMALGAM"},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"85809d2f-a144-460b-a4bf-db9f48b41261","mode":"list","cachedResultName":"Notas","cachedResultUrl":"https://www.notion.so/85809d2fa144460ba4bfdb9f48b41261"},"title":"={{ $json.argumentslist[1] }}","propertiesUi":{"propertyValues":[{"key":"Tags|multi_select","multiSelectValue":"={{ ['IDEA'] }}"}]},"blockUi":{"blockValues":[{"richText":true,"text":{"text":[{"text":"={{ $json.argumentstext }}","annotationUi":{}}]}}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1200,1400],"id":"c425be58-928e-4d3d-863c-95a6a31e1c85","name":"Notion"},{"parameters":{"operation":"get","documentURL":"={{ $('Google Drive').item.json.id }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1200,3000],"id":"c7e61d1f-73d7-463a-b235-01c60289dba7","name":"Google Docs2"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1FTptU2RuSLSR7pVcsym0Ue3rACb5C1H-yJL89CS7HBs/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1200,1800],"id":"e0d7e0d7-483b-41c2-be26-446af4ce8688","name":"Google Docs3"},{"parameters":{"workflowId":{"__rl":true,"value":"oeuYCQ2dmgijrDd0","mode":"list","cachedResultName":"ADD CONTENT NOTION PAGE"},"workflowInputs":{"mappingMode":"defineBelow","value":{"PAGEID":"1bafc013f31c8052b3e0ce63b18e256e","query":"={{ $json.argumentstext }}","PAGETITLE":"={{ $now }}"},"matchingColumns":[],"schema":[{"id":"PAGEID","displayName":"PAGEID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"PAGETITLE","displayName":"PAGETITLE","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"DB","displayName":"DB","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1200,1600],"id":"71ad628b-a3bd-4fe7-8f47-b4307af9b6c1","name":"Execute Workflow3"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"aef2fe8d-29d3-44a1-a242-132b5c56e060","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/aef2fe8d29d344a1a242132b5c56e060"},"filterType":"manual","filters":{"conditions":[{"key":"Task Name|title","condition":"contains","titleValue":"={{ $json.argumentstext }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1200,2400],"id":"00ff42be-ab18-41c4-94ad-2077adb32b45","name":"Notion1"},{"parameters":{"resource":"block","operation":"getAll","blockId":{"__rl":true,"value":"={{ $('Notion1').item.json.id }}","mode":"id"},"returnAll":true,"fetchNestedBlocks":true},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1420,2600],"id":"550f374d-cae9-41f6-a6ef-e37453a06363","name":"Notion2"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"85809d2f-a144-460b-a4bf-db9f48b41261","mode":"list","cachedResultName":"Notas","cachedResultUrl":"https://www.notion.so/85809d2fa144460ba4bfdb9f48b41261"},"filterType":"manual","filters":{"conditions":[{"key":"Note|title","condition":"contains","titleValue":"={{ $json.argumentstext }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1200,2800],"id":"19343744-e53d-4791-bc59-43867de532d4","name":"Notion3"},{"parameters":{"workflowInputs":{"values":[{"name":"message"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-720,403],"id":"afd13393-45c7-46f6-bb65-e13f321eac01","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"56150b11-3a6f-491f-801d-be3a53431854","name":"output","value":"=/help - Displays this message\n/taskstoday - Gets tasks created between yesterday and today and tasks due today\n/addtask - Adds task to notion todolist\n/projects - Gets unfinished projects.\n/project PROJECT - Get's tasks associated with projects.\n/updatetask - Marks task on todo list as done\n/emails - Shows recent emails\n/sendemail - Send an email to one recipient. First argument is email the second is the subject but has to be joined by full stops i.e Bills.2025 rest is the message\n/schedule - Sends the current schedule and the eisenhower matrix\n/idea title.with.fullstops idea - Create ideas\n/drive search argument - Drive search\n/journaltemplate - Sends a sort of organized journal template you can use in any given day\n/ideatemplate - template we can use for creating an idea\n/getnotecontent - lo que dice\n/gettaskcontent - lo que dice","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,400],"id":"de5fb7fb-86a2-44a3-bc5e-7511441f4f9b","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"429aee73-f068-4716-9636-487deffd6109","name":"output","value":"Captured successfully.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1420,2000],"id":"9f72fbd9-5d53-4809-b60e-ac10b8d74860","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"941b2229-1aee-4329-9671-370b5b9c520c","name":"=output","value":"={{ $input.all().map((item) => `${item.json.name}`).join('\\n')}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1420,1700],"id":"55fbc515-a654-439f-a29c-161aa4b74916","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"50d646d3-7d1e-4c72-a271-f3645ad673c7","name":"output","value":"={{ $input.all().map((item) => `${item.json.message || item.json.name}`).join('\\n') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1640,1500],"id":"d5d2a830-ca53-4efb-9708-661a298ec473","name":"Edit Fields3"},{"parameters":{"assignments":{"assignments":[{"id":"e30455d2-2912-464e-a164-6edade9ee77a","name":"output","value":"={{ $input.all().map((item) => `- ${item.json.name}`).join(\"\\n\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1640,2300],"id":"9a6fbde1-3b42-40f2-a6f1-f7b68abebeaf","name":"Edit Fields4"},{"parameters":{"assignments":{"assignments":[{"id":"4dc53aa9-4072-4a61-9e4b-f7e118cbde99","name":"=output","value":"={{ $input.all().map((item) => `${item.json.content}`) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1640,2600],"id":"ea9deb69-cffd-4854-8d75-14919d963505","name":"Edit Fields5"},{"parameters":{"assignments":{"assignments":[{"id":"478457e1-ae0c-4fd5-bd7d-9c35d8eaaf92","name":"=output","value":"={{ $('Google Docs').all().map((item) => `${item.content}`) }}\n\n{{ $('Google Docs1').item.json.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1640,2800],"id":"bbca91d1-e3e3-4b4f-8ddb-e0df79c1e296","name":"Edit Fields6"}],"connections":{"AI Agent":{"main":[[]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Add Task Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"JOURNAL TOOL":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"STRATEGYUPDATER":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"MARKDONE":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"todaystasks":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"DELETETASK":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"SENDTOAIORNAH":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Switch","type":"main","index":0}]]},"ISNOTBOTCOMMAND":{"main":[[{"node":"AMALGAM","type":"main","index":0}]]},"Switch":{"main":[[{"node":"GETS50EMAILS","type":"main","index":0}],[{"node":"TASKS","type":"main","index":0}],[{"node":"Code","type":"main","index":0}],[{"node":"UPDATE TASK","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Google Docs","type":"main","index":0}],[{"node":"SEND","type":"main","index":0}],[{"node":"template","type":"main","index":0}],[{"node":"GETPROJECTS","type":"main","index":0}],[{"node":"Google Drive","type":"main","index":0}],[{"node":"GET RELATED TASKS","type":"main","index":0}],[{"node":"Notion","type":"main","index":0}],[{"node":"Google Drive","type":"main","index":0}],[{"node":"Google Docs3","type":"main","index":0}],[{"node":"Execute Workflow3","type":"main","index":0}],[{"node":"Notion1","type":"main","index":0}],[{"node":"Notion3","type":"main","index":0}]]},"TASKS":{"main":[[]]},"GETS50EMAILS":{"main":[[]]},"ADDTASK":{"main":[[]]},"UPDATE TASK":{"main":[[]]},"Google Docs":{"main":[[{"node":"Google Docs1","type":"main","index":0}]]},"Google Docs1":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"SEND":{"main":[[]]},"Code":{"main":[[{"node":"ADDTASK","type":"main","index":0}]]},"template":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"GETPROJECTS":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"GET RELATED TASKS":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"AMALGAM":{"main":[[{"node":"SENDTOAIORNAH","type":"main","index":0}]]},"Notion":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Google Docs2":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Google Docs3":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Execute Workflow3":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Notion1":{"main":[[{"node":"Notion2","type":"main","index":0}]]},"Notion2":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Notion3":{"main":[[{"node":"Notion2","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"ISNOTBOTCOMMAND","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"peod5nMyYJZ3YezW"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"message":"/journaltemplate"}}]},"versionId":"89c15127-0653-4898-acf7-3011503c23ed","triggerCount":1,"shared":[{"createdAt":"2025-05-22T00:58:25.018Z","updatedAt":"2025-05-22T00:58:25.018Z","role":"workflow:owner","workflowId":"yZ2gkQYIMBNFEJVO","projectId":"BOg1NIj04rxzpSxN"}],"tags":[]}