z1m3YmOEIfDcUSaY-BILLS.json
{"createdAt":"2025-07-08T14:52:25.220Z","updatedAt":"2025-07-09T03:12:00.000Z","id":"z1m3YmOEIfDcUSaY","name":"BILLS","active":true,"nodes":[{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1P9FMo3Q0HzSnWt160kgiZMHmz9KmmH9PYIPSb09c6es/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[200,-560],"id":"f1113ff7-ce19-4b93-b3b5-8fed70f4d4ac","name":"Google Docs"},{"parameters":{"jsCode":"const text = $input.first().json.content\n\nconst lines = text.trim().split('\\n');\nconst now = new Date();\nconst upcomingBills = [];\nconst updatedBills = [];\n\nfor (const line of lines) {\n  const match = line.match(/^(.+?)\\s+(\\d{1,2})\\/(\\d{1,2})\\/(\\d{2})\\s+-\\s+KSH\\s+(.+)$/i);\n\n  if (!match) continue;\n\n  const name = match[1].trim();\n  let day = parseInt(match[2]);\n  let month = parseInt(match[3]) - 1; // JS months are 0-based\n  let year = 2000 + parseInt(match[4]);\n  const amount = match[5].trim();\n\n  let billDate = new Date(year, month, day);\n\n  // If the bill date has passed, roll to next month\n  if (billDate < now) {\n    billDate.setMonth(billDate.getMonth() + 1);\n  }\n\n  // Check if bill is within the next 7 days\n  const diffDays = (billDate - now) / (1000 * 60 * 60 * 24);\n  if (diffDays <= 7 && diffDays >= 0) {\n    upcomingBills.push({ name, date: billDate.toDateString(), amount });\n  }\n  const formatter = new Intl.DateTimeFormat('en-GB', {\n    day: '2-digit',\n    month: '2-digit',\n    year: '2-digit'\n});\n\n  updatedBills.push({ name, date: formatter.format(billDate), amount });\n}\nconst allbills = updatedBills.map((item) => `${item.name} ${item.date} - KSH ${item.amount}`)\nreturn [\n  {\n    json: {\n      upcomingBills,\n      updatedBills: allbills.join('\\n')\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[420,-560],"id":"5b03599a-7dbd-4d5e-8c5a-8667c176fb1f","name":"Code1"},{"parameters":{"operation":"update","documentURL":"https://docs.google.com/document/d/1P9FMo3Q0HzSnWt160kgiZMHmz9KmmH9PYIPSb09c6es/edit?tab=t.0","actionsUi":{"actionFields":[{"action":"replaceAll","text":"={{ $('Google Docs').item.json.content }}","replaceText":"={{ $json.updatedBills }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[640,-560],"id":"ff0acbcf-8815-457c-ab6b-02906019c34d","name":"Google Docs1"},{"parameters":{"path":"73ab8574-6a42-49d4-ae71-c65138680699","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-20,-560],"id":"578cf2df-20f7-4de7-b516-0bbe4b5e078f","name":"Webhook","webhookId":"73ab8574-6a42-49d4-ae71-c65138680699"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[1080,-560],"id":"1ecdcd23-e6c7-44b0-9b9d-81e1db779578","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"212cd3e3-dd3a-49ad-92bd-3299999c5b0e","name":"data","value":"=*BILLS*\n\n{{ $('Code1').first().json.updatedBills }}\n\n*NEXT 7 DAYS*\n\n{{ $('Code1').item.json.upcomingBills.map((item) => `${item.name} KSH ${item.amount} - ${item.date}`).join('\\n') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[860,-560],"id":"a2ed876e-eae3-4f64-a9ef-b7857cf62460","name":"Edit Fields"}],"connections":{"Google Docs":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Google Docs1","type":"main","index":0}]]},"Google Docs1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:DAILY TRIGGER":{"recurrenceRules":[]},"node:WEEKLY TRIGGER":{"recurrenceRules":[]},"node:MONTHLY TRIGGER":{"recurrenceRules":[]},"node:TASK CLEAR TRIGGER":{"recurrenceRules":[]},"node:DAILY TRIGGER1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"42c0075e-7cf7-4802-adc2-d28e7576f64e","triggerCount":1,"tags":[]}