ZZeVlTsYVyYbBTJP-Delete_Task.json
{"createdAt":"2025-04-19T16:15:56.024Z","updatedAt":"2025-04-20T11:52:54.000Z","id":"ZZeVlTsYVyYbBTJP","name":"Delete Task","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"DB"},{"name":"query"},{"name":"property"},{"name":"newvalue"}]}},"id":"13b18fc8-2e93-4482-87a2-45f711c3982f","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[260,440]},{"parameters":{"workflowId":{"__rl":true,"value":"QcPf19eFxNcqK59o","mode":"list","cachedResultName":"GET NOTION DB BY NAME"},"workflowInputs":{"mappingMode":"defineBelow","value":{"DB":"={{ $json.DB || \"Tasks\" }}"},"matchingColumns":[],"schema":[{"id":"DB","displayName":"DB","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"NAME","displayName":"NAME","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[480,440],"id":"719c6abb-42d1-4d8d-bb18-5dfb34cd7608","name":"GETDB"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"returnAll":true,"filterType":"manual","filters":{"conditions":[{"key":"=Task Name|title","condition":"equals","titleValue":"={{ $('When Executed by Another Workflow').item.json.query || \"Null\" }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[700,440],"id":"dbbdb00c-6e49-4f9e-b08c-fed5f9ea0fac","name":"Notion"},{"parameters":{"assignments":{"assignments":[{"id":"2a1efd92-d0b7-483a-b709-f72501dab36e","name":"response","value":"={{ item !== undefined && item !== null ? \"success\" : \"error\"}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1580,340],"id":"0e76acbb-bfa4-4a8c-8d41-99775b09c891","name":"Edit Fields"},{"parameters":{"operation":"archive","pageId":{"__rl":true,"value":"={{ $('Notion').first().json.url }}","mode":"url"}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1360,340],"id":"c675cb4c-3322-47bb-b52a-82e6283075de","name":"DELETE ITEM","executeOnce":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f8cdc08a-7094-4c1c-896c-a63df705e9e6","leftValue":"={{ $json.results }}","rightValue":0,"operator":{"type":"number","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1140,440],"id":"4d84b29a-120a-4952-8689-27c6041407e7","name":"If","executeOnce":true},{"parameters":{"jsCode":"if (Object.keys(items[0].json).length === 0) {\nreturn [\n\t{\n\t\tjson: {\n\t\t\tresults: 0,\n\t\t}\n\t}\n]\n}\nreturn [\n\t{\n\t\tjson: {\n\t\t\tresults: items.length,\n\t\t}\n\t}\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[920,440],"id":"632924d4-afe3-49e6-8755-58e9e639b3bb","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"c7513df1-9332-4971-99fd-cae4f2d0ad28","name":"response","value":"error","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1360,540],"id":"1292e5c1-50f4-4bbb-8107-cee755c5e577","name":"Edit Fields1"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"GETDB","type":"main","index":0}]]},"GETDB":{"main":[[{"node":"Notion","type":"main","index":0}]]},"Notion":{"main":[[{"node":"Code","type":"main","index":0}]]},"DELETE ITEM":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Code":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"DELETE ITEM","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"faba03f2-57ef-425f-b374-52c336cbb8d5","triggerCount":0,"shared":[{"createdAt":"2025-04-19T16:15:56.032Z","updatedAt":"2025-04-19T16:15:56.032Z","role":"workflow:owner","workflowId":"ZZeVlTsYVyYbBTJP","projectId":"BOg1NIj04rxzpSxN"}],"tags":[]}